[2011-05-25 21:39] jigish opened #1 "Intelligent Config Parsing"
Config file tokens currently can only be delimited by single space characters. Improve this to allow multiple spaces/tabs between tokens.

For example, this should be valid config file syntax:

[code]

Also attempt to replace the config with screen/window contants and compute the result to see if it is parsed properly. Throw error if not.

[2011-05-25 22:11] jigish opened #2 "Add options to push"
Ability to specify:
1. style - bar (push and resize to a top/bottom/left/right bar)
2. monitor option?

[2011-05-25 22:14] jigish opened #3 "Throw resize overlaps right/left dock"
When using throw with the resize option, the resized window will overlap a static right/left dock but will not overlap a static bottom dock. Maybe add an option to specify whether or not to overlap?

[2011-05-25 23:00] jigish opened #4 "Add corner operation"
Add operation to move windows to corners:

[code]

[2011-05-25 23:31] jigish commented on #2
monitor is sort of useless and doesn't fit the idea of a "push". Adding style only. Workaround for monitor is to simply use a "move".

[2011-05-26 00:10] jigish commented on #2
Added style option with the following values:

[code]

[2011-05-26 00:10] #2 closed, assigned to jigish

[2011-05-26 00:13] jigish opened #5 "Add anchor option to resize"
Add the ability to choose which corner to anchor on for the resize operation

[2011-05-26 00:17] jigish opened #6 "Add ability to choose dimensions for throw resize"
Add the ability to choose the dimensions for throw resize. Similar to push bar-resize.

[2011-05-26 00:41] jigish opened #7 "Disconnecting/Reconnecting Monitor switches screen ID"
The screen IDs defined in the .slate file change when Disconnecting/Reconnecting Monitors in the wrong order.

[2011-05-26 00:42] jigish opened #8 "Add the ability to throw to the next/left/right/up/down screen"
Add an option to throw to be able to throw to screen that is right/left/up/down relative to current screen (instead of specifying a hard screen ID).

[2011-05-26 01:20] #4 closed, assigned to jigish

[2011-05-26 01:20] jigish commented on #4
added with resize option

[2011-05-26 01:49] jigish opened #9 "Add functions to NSPredicate replace dictionary"
Add functions like min/max to replace dictionary so they can be used in bindings.

[2011-05-26 04:21] jigish commented on #5
this is actually a lot more complicated than I thought. there is some weird integer math happening that causes a small offset every time you try to resize with an anchor other than top-left.

[2011-05-26 05:23] jigish commented on #9
already implemented as part of NSExpression!!

List of usable functions:

"sum"
"count"
"min"
"max"
"average"
"median"
"mode"
"stddev"
"sqrt"
"log"
"ln"
"exp"
"floor"
"ceiling"
"abs"
"trunc"
"random"
"randomn"
"now"

Functions with one number argument are called like "sqrt(4)" whereas functions that would normally take multiple arguments are called like "min({1,2,3})"

[2011-05-26 05:23] #9 closed, assigned to jigish

[2011-05-26 06:01] jigish commented on #5
added. weird offsets were not integer math. some applications force certain widths/heights which is why we see these offsets.

[2011-05-26 06:01] #5 closed, assigned to jigish

[2011-05-26 06:52] jigish commented on #6
done. example:

[code]

[2011-05-26 06:52] #6 closed, assigned to jigish

[2011-05-26 06:58] jigish opened #10 "Ability to specify chains of operations in bindings"
For example:

[code]

will "push down" the first time ctrl-1 is pressed, then "push up", then "push left", then "push right".

[2011-05-26 07:00] jigish commented on #10
maybe store last activated binding of each window in SlateConfig? Also will have to store number in the chain for each window in each Binding.

[2011-05-26 17:49] jigish opened #11 "Anchor moves on resize with certain applications"
Current resize operation doesn't play nice with applications like mvim/terminal/iTerm2 because they have discrete widths/heights. Add the ability to specify an actual anchor corner that will for _sure_ stay in one place on resize/move.

[2011-05-26 18:31] jigish opened #12 "Parameter format does not allow for commas in expressions"
Certain functions don't work in expressions because they require commas,

[2011-05-26 20:36] jigish opened #13 "Repeat bindings without re-pressing keystroke"
If user holds keystroke, repeat bindings.

[2011-05-26 20:39] jigish opened #14 "Default Layouts"
Ability to specify a set of default locations for new windows per application (also with priority-based locations per monitor configuration i.e. put it on monitor 2 if it exists, otherwise monitor 1, otherwise monitor 0)

Also re-compute layouts on monitor plug-in/unplug?

[2011-05-27 01:47] jigish commented on #12
done by allowing semicolon to be used instead of commas.

[2011-05-27 01:47] #12 closed, assigned to jigish

[2011-05-27 04:17] jigish commented on #11
fixed.

[2011-05-27 04:17] #11 closed, assigned to jigish

[2011-05-27 07:10] jigish commented on #1
added. also did expression parsing during config parsing to catch errors upfront.

[2011-05-27 07:10] #1 closed, assigned to jigish

[2011-05-27 07:12] jigish commented on #3
menu bar is also causing issues. try to use visibleFrame instead of frame.

[2011-05-27 08:07] jigish commented on #3
fixed. only case where this still fails is if your dock and your menu bar are on different screens. super corner case that i really dont give a shit about.

[2011-05-27 08:07] #3 closed, assigned to jigish

[2011-05-27 08:08] jigish opened #15 "Operations should move first, then resize"
Unless newWindowSize is specified. then resize first, move second.

[2011-05-27 09:07] jigish commented on #15
added ability to set "moveFirst" in Binding. the delegate handles it appropriately.

[2011-05-27 09:07] #15 closed, assigned to jigish

[2011-05-27 09:49] jigish opened #16 "Add config for nudge/resize percentages"
Add config to be able to specify WHAT the percentage is of (currently it is windowSize, but should be able to be changed to screenSize)

[2011-05-27 17:51] jigish opened #17 "defaultToCurrentScreen broke slate!"
fix it!

[2011-05-27 18:17] jigish commented on #17
fixed

[2011-05-27 18:17] #17 closed, assigned to jigish

[2011-05-30 10:10] jigish commented on #10
done. maybe should add reset on window move next.

[2011-05-30 10:10] #10 closed, assigned to jigish

[2011-06-02 08:43] jigish commented on #16
done

[2011-06-02 08:43] #16 closed, assigned to jigish

[2011-06-02 08:48] jigish opened #18 "Chains aren't smart"
Maintain chain state per window, not globally. Also reset chain state on window resize/move/close.

[2011-06-13 08:21] jigish commented on #18
fixed by keeping state based on: application pid, window size, window top-left.

[2011-06-13 08:21] #18 closed, assigned to jigish

[2011-06-13 08:32] jigish opened #19 "Certain monitor configurations cause current monitor to always be "main" monitor"
Caleb's slate config repros the issue on his box.

[2011-06-15 21:27] jigish commented on #19
fixed. Also changed the way slate decides which monitor the window is on. Slate now finds the largest intersection rectangle and uses that screen.

[2011-06-15 21:27] #19 closed, assigned to jigish

[2011-06-15 21:35] jigish commented on #8
Also add ability to offset from origin of new screen (as well as offset+resize).

[2011-06-16 03:03] jigish commented on #13
done and done.

[2011-06-16 03:03] #13 closed, assigned to jigish

[2011-06-16 20:08] jigish commented on #14
added layouts. need to add new window notification (if possible) and screen configuration change notification (if possible).

[2011-06-16 20:09] jigish commented on #7
maybe define screen alias based on resolution?

[2011-06-16 22:20] jigish opened #20 "Ability to get configuration information"
Menu option to list open applications, their window locations, etc. This should help ease the process of configuring slate.

[2011-06-20 00:48] jigish commented on #7
fixed by allowing screen resolution and/or orientation

[2011-06-20 00:48] #7 closed, assigned to jigish

[2011-06-20 00:53] jigish commented on #8
resize already exists. offset is useful, but user can just use move if they really want to. done.

[2011-06-20 00:53] #8 closed, assigned to jigish

[2011-06-21 01:25] jigish commented on #14
done! (on screen configuration change, not new window)

[2011-06-21 01:25] #14 closed, assigned to jigish

[2011-06-21 01:25] jigish opened #21 "Switch to window above/below/left/right"

[2011-06-21 01:26] jigish opened #22 "Source additional config files from .slate"

[2011-06-21 01:27] jigish commented on #22
ryanl's request

[2011-06-21 01:27] jigish commented on #21
jmink's request

[2011-06-21 02:34] jigish commented on #22
done in 0.4.1

[2011-06-21 02:34] #22 closed, assigned to jigish

[2011-06-21 03:22] jigish commented on #21
Check adjacent windows similar to how slate checks for adjacent screens?

[2011-06-21 03:29] jigish commented on #20
- List open applications + PID + window locations
- Screen information (resolution, IDs, count, positioning?)

[2011-06-22 08:23] jigish commented on #21
done in 0.4.4

[2011-06-22 08:23] #21 closed, assigned to jigish

[2011-06-27 21:10] philc opened #23 "Screens should be ordered by default from left to right"
This is the least surprising behavior and implicitly addresses issue #7, where connecting your screens in a different order will re-order your screen numberings. I think it's less work than defining screens based on resolution.

In particular, defining screens based on resolution doesn't help when you have multiple monitors of the same resolution (e.g. two 24" side-by-side).

I haven't tested the

[2011-06-27 22:26] jigish commented on #23
Good call. Unfortunately the screen IDs apple uses are ordered in the following order:

0 = always main screen (the screen with the menu bar)
after that, they are ordered in the order in which they were plugged in.

I'll try to add a config option that will make the screen IDs go from left to right, and map them internally to the screen IDs that apple uses.

[2011-06-27 22:33] jigish commented on #23
Ah -- just thought of something interesting. Screens are also allowed to be above/below. I'll make it so it starts at 0 at the top-left screen and fills in this order:

[code]

[2011-06-27 23:01] philc commented on #23
Yes, that would be great. In case the API doesn't give you that information, you could of course determine a screen's position from the bounding rect of each nsscreen in relation to the others.

[2011-11-08 18:53] philc commented on #23
This kicks my butt every day -- sending a window to screen #N is not reliable as those numbers are always changing around.

[2011-11-17 21:46] jigish commented on #23
Finally got to this in 0.4.9. Sorry, real life gets to me when the dancing season starts.

Here is how it works:

Default (no work on your part): screens are ordered from left to right (by the top-left origin X coordinate, falling back on Y coordinate if they are the same). This means they are _not_ ordered as I listed in my above comment.

If you want to use the old style ordering, you can set th

[2011-11-17 21:46] #23 closed, assigned to jigish

[2011-11-19 02:13] philc commented on #23
Just tried it and it works great. Thanks again!

[2011-12-21 05:25] eipark opened #24 "Screen Size takes into account menu bar"
It seems that screen size takes into account the OS X menu bar making things like stacking two windows on top of each other not line up properly. Can there be a built in property where the screenSizeY is the height of the available window region excluding the menu bar? Thanks Jigish!

[2011-12-31 00:40] philc opened #25 "Binding parse error when starting up Slate when referencing unconnected screens"
I suspect if you reference a screen number which is not currently connected, Slate has trouble parsing bindings related to that screen. The third command in this series:

bind 1:ctrl;cmd throw 0 resize
bind 2:ctrl;cmd throw 1 resize
bind 3:ctrl;cmd throw 2 resize

Causes Slate to give this error in a message box upon startup (titled "Unable to Parse Binding"):

Unable to parse '**\* -[NSCFArray ob

[2012-02-27 19:49] #25 closed, assigned to nobody

[2012-02-27 19:49] jigish commented on #25
Finally Fixed in 0.4.10

[2012-02-27 20:11] philc commented on #25
Excellent.

[2012-02-28 01:21] #20 closed, assigned to jigish

[2012-02-28 01:23] jigish opened #26 "Add Snapshot operation"
Similar to get config info, add snapshot operation to take a snapshot of the current screen state as well as activate-snapshot operation to go back to a saved snapshot

[2012-02-28 22:17] jigish commented on #26
bind XXX snapshot [name] [option to save to disk/RAM, push to stack]
bind XXX activate-snapshot [name] [option to delete from disk/RAM, pop from stack]
bind XXX delete-snapshot [name] [option to full delete from disk/RAM or just pop]

change default:

default [layout-name OR snapshot:snapshot-name OR snapshot:snapshot-name|layout-name] screen-configuration

[2012-02-29 02:09] jigish opened #27 "Switch to ARC"
Switch Slate to ARC

[2012-02-29 21:04] philc opened #28 "Screen ordering doesn't take into account monitor layout updates"
I have two Apple thunderbolt displays daisy chained together. The screens are laid out like this:

[code]

OSX unfortunately does not remember the Apple displays layout across disconnects. 50% of the time I plug in to these monitors, I need to swap their layout positions by using the Display Preferences Pane.

After doing this adjustment via Preferences, the Slate screen numbering does not update

[2012-03-02 01:37] jigish commented on #28
This is totally possible. I can just update screen positions every time a binding is triggered as it is pretty inexpensive. I'll try to fix it soon.

[2012-03-02 02:41] #26 closed, assigned to jigish

[2012-03-02 02:41] jigish commented on #26
done in 0.4.12

[2012-03-02 02:50] jigish commented on #28
Ok so you'll have to show me the issue. I cant get it to repro.

[2012-03-02 02:52] jigish opened #29 "Implement Window Hints"
Implement teh hints of teh windowz!

probably should look something like:

bind BLAH hint

and would be good to have a bunch of config options to tweak it

[2012-03-02 02:54] jigish commented on #24
Hey man! sorry it took so long to comment on this. Do you mean screenSizeYTotal or something that is not just the visible area but the area behind the menu bar as well? And what problems do you have stacking windows? That should work just fine...

[2012-03-02 08:09] lopopolo opened #30 "Automatically create new snapshot when a new screen is plugged in"
The worst is when I plug my laptop into a projector and all of my windows get resized because all of my displays are resized to 800x600.

Is it possible to save my window configuration automatically when a new monitor is plugged in but before all the resizing happens?

[2012-03-02 21:33] philc commented on #28
You're right, I was out of date. I'm a noob.

[2012-03-02 21:33] #28 closed, assigned to jigish

[2012-03-03 00:42] jigish commented on #30
hey man. i'll definitely try to add this. the problem is there isn't any "screen configuration is about to be changed" notification. only a "screen configuration has already changed" notification. I may be able to do some interesting things and get this done. i'll keep you posted.

[2012-03-03 01:19] jigish commented on #27
done in 0.4.13

[2012-03-03 01:19] #27 closed, assigned to jigish

[2012-03-04 06:55] jigish commented on #29
Done in 0.4.14

bind BLAH hint characters

[2012-03-04 06:55] #29 closed, assigned to jigish

[2012-03-04 09:56] jigish opened #31 "Configuration Helper"
Create configuration helper menu item

[2012-03-04 09:59] jigish opened #32 "CMD+Tab Replacement"
Create CMD+Tab replacement

[2012-03-04 18:27] jigish opened #33 "App Storeify"
Try to put slate on the app store

[2012-03-05 18:28] jigish opened #34 "Move Operation fails to resize sometimes"
If the move operation first moves the window so some of it is off screen, for some reason the resize fails. Maybe move should be smarter to know whether or not it should move first or resize first. Like:
1. Check what the new size should be, and what the new top left should be
2. Check if the new size + new top left causes the window to be off screen
3. if so, either move first or resize first dep

[2012-03-05 19:30] #34 closed, assigned to jigish

[2012-03-05 19:30] jigish commented on #34
Will be fixed in any release after 0.4.14

[2012-03-05 19:30] jigish commented on #33
or use sparkle if rejected

[2012-03-05 20:25] jigish commented on #32
1. Cycle through apps both ways
2. Quit app
3. Force quit app
4. Change size
5. Names or Icons or both
6. Horizontal or Vertical

[2012-03-05 21:44] jigish opened #35 "Fix Window Hint Position"
On the screen with the dock it is offset. Fix it.

[2012-03-05 21:45] jigish opened #36 "Add Window Hint Position option"
add ability to set position to:

top-left
top-right
bottom-left
bottom-right
center

[2012-03-05 21:46] jigish opened #37 "Update Window Hint size configs"
Allow expressions

[2012-03-05 22:18] jigish commented on #35
Will be fixed in any release after 0.4.14

[2012-03-05 22:18] #35 closed, assigned to jigish

[2012-03-05 22:54] philc commented on #32
If you haven't already vetted lightswitch X for inspiration, you should. The most important feature for me has been CMD+TAB raises only the frontmost window of the app, not the entire thing.

Also, its feedback of CMD+Q while CMD+TAB is held down is much better than OSX's.

[2012-03-05 22:55] philc commented on #33
+1 (so I can follow this issue)

[2012-03-05 23:03] philc opened #38 "Don't show hints for windows which are not on top"
If you have a maximized browser for instance, and a bunch of random windows underneath it, many random hints will be shown on top of the browser window, which is messy and confusing.

[2012-03-05 23:12] philc opened #39 "Hints do not appear instantly"
If you have many windows, the hints windows appear onscreen separated by 50ms or so --it doesn't feel instant (my original implementation had this problem, and Caleb noticed it as well).

I'm not sure what is taking the time (probably the accessibility API), but if it's window creation time, you could keep those hint windows around in memory and use them again the next time the hint operation is t

[2012-03-05 23:14] jigish commented on #39
Yah I noticed this as well. I spent 5 minutes trying to figure out where the time sink was but couldn't find it. I'll try keeping the windows around and see if that helps with the performance.

[2012-03-06 03:11] jigish opened #40 "Default Directive is broken?"
doesnt work for me anymore...

[2012-03-06 19:26] jigish commented on #40
will be fixed in any release after 0.4.14

[2012-03-06 19:26] #40 closed, assigned to jigish

[2012-03-06 21:56] philc opened #41 "Move does not work when the window is moved offscreen and then resized"
This move command moves the window, but does not properly resize it. This is as of version f3f3982.

On screen 1, hit CTRL+CMD+left. This will resize the window to fill the left half of the screen. Next, hit CTRL+CMD+SHIFT+down. This should move and resize the window to fill the bottom left corner of the screen, but the window remains its original size.

[code]

Note that this move command _does_

[2012-03-06 22:20] jigish commented on #41
Yah I noticed this as well and opened Issue #34. It is fixed, I just haven't generated another release yet as I'm trying to fix the other bugs in window hints as well as create the config helper in the next release.

[2012-03-06 22:20] #41 closed, assigned to jigish

[2012-03-06 22:20] jigish commented on #41
going to close this issue. maybe i'll generate a release tonight and worry about the other bugs in the one after that.

[2012-03-06 22:29] philc commented on #41
Dang it. You are too fast for me.

[2012-03-07 02:12] jigish commented on #39
Big fat ugly fail. I tried to keep the windows around and show/hide without releasing the actual object and it doesn't reduce the time at all. I'm going to try a couple more things but I'm 95% sure now that the time sink is the accessibility API.

[2012-03-07 02:45] jigish commented on #39
ok I've trimmed as much as I can for now. going to close this, but will keep it in my back of my mind in case I think of something genius.

[2012-03-07 02:45] #39 closed, assigned to jigish

[2012-03-07 02:45] jigish commented on #39
performance improvements will be available in 0.4.16

[2012-03-07 02:54] philc opened #42 "Consider adding UI options for basic snapshot management"
The most common use of snapshots is probably to save and then later restore windows when unplugging a laptop from a monitor setup. For that use case, a menu option would be nice to have, because it requires no slate config setup, and it's not used often enough dedicate a whole hotkey to it (I sat down and tried, but couldn't pick something I would remember).

Adding a very basic UI for this (save/

[2012-03-07 02:59] philc commented on #39
I'll give it a try soon. If you decide it's still not fast enough after your improvements, it may help to spin up a bunch of threads and issue each accessibility call in a separate thread, so they're not serial.

[2012-03-09 00:38] jigish commented on #38
Fixed. will be in the release after 0.4.16 (most likely 0.4.17 as 1.0.0 will take a while)

[2012-03-09 00:38] #38 closed, assigned to jigish

[2012-03-09 01:09] jigish commented on #37
Added. will be in the next release (likely 0.4.17)

[2012-03-09 01:09] #37 closed, assigned to jigish

[2012-03-09 01:11] jigish commented on #36
this will be done with expressions and configs instead of options to the operation itself

[2012-03-09 01:53] jigish commented on #36
done. added as the configs windowHintsTopLeftOffsetX and windowHintsTopLeftOffsetY. should be in 0.4.17

[2012-03-09 01:53] #36 closed, assigned to jigish

[2012-03-09 02:30] jigish commented on #42
added in 0.4.17

[2012-03-09 02:30] #42 closed, assigned to jigish

[2012-03-09 03:09] jigish commented on #30
unfortunately this is not really possible unless i constantly keep a snapshot of the current window configuration. There is no "the screen configuration is about to change" notification. I'm closing this issue, but I'll point you to Issue #42 which adds a menu option to take a quick snapshot. I know it doesn't fix this use case but it is better than nothing. I'll keep this in mind though and if I

[2012-03-09 03:09] #30 closed, assigned to jigish

[2012-03-09 03:14] jigish commented on #32
Actually LightSwitch X is exactly where I got my inspiration from. I've been using it for a while (even through the stupid "pay for this" popups). I'll definitely steal a lot of the nifty features from it.

[2012-03-09 23:22] jigish commented on #31
getting the UI down for this is a _lot_ more complicated than it is worth. the chances that users would actually use this are slim to none. getting rid of the milestone for this. maybe i'll implement it in the future. for now, it is not going to get in the initial release.

[2012-03-10 17:23] lopopolo commented on #30
Thanks for investigating, Jigish. #42 looks like it will do the trick

[2012-03-13 18:30] philc opened #43 "Window hints are re-using characters"
I have 6 windows which are being hinted and "G" is being used twice.

Probably related is that typing some hints does not raise the corresponding window, and link hints aren't dismissed. It may be because of this exception:

3/13/12 11:27:51.816 AM Slate: **\* -[__NSArrayM objectAtIndex:]: index 12 beyond bounds [0 .. 6]

[2012-03-13 18:32] philc opened #44 "The wrong window is surfaced with window hints"
For some windows, typing their hints will consistently raise an adjacent window, not the intended window.

[2012-03-13 18:33] philc opened #45 "Hitting ESC or the hint activation key should dismiss the window hints"
i know you can just wait 3 seconds, but I do this sometimes out of habit and it's unsettling that it doesn't work.

[2012-03-21 18:45] jigish opened #47 "Windows dont resize properly still"
Even though this is a performance hit I think instead of trying to intelligently decide whether to resize first or move first, we should just resize->move->resize. It seems like Lion has issues resizing windows that are offscreen for some reason.

[2012-03-22 20:54] jigish commented on #47
will be fixed in 0.4.18

[2012-03-22 20:54] #47 closed, assigned to jigish

[2012-03-22 21:40] jigish commented on #45
in 0.4.18, pressing ESC will kill the hints.

[2012-03-22 21:40] #45 closed, assigned to jigish

[2012-03-22 22:10] philc commented on #43
Can't repro. Will find you in person if this happens again.

[2012-03-22 22:10] #43 closed, assigned to jigish

[2012-03-22 22:10] philc commented on #43
Can't repro. Will find you in person if this happens again.

[2012-03-22 22:11] philc opened #48 "Don't raise the entire app with window hints"
Just raise the window that was selected. This is especially important for apps like Terminal, where you will have many open but which are interleaved with other windows (like browser and vim).

[2012-03-22 22:17] philc opened #49 "Consider making window hints less customizable"
The README lists these as customizable parameters:

[code]

If you provide a nice UI out of the box, none of these will be needed.  Having customizable behavior is nice, but having customizable appearance limits what you can do in the future. If you wanted to add a nice visual effect upon selection (e.g. animating the text color from white->yellow), you can't, because you don't control the appeara

[2012-03-23 20:23] jigish commented on #44
Hey Phil, is this still reproing?

[2012-03-23 21:14] philc commented on #44
Sorry, thought I closed this yesterday. Can't repro it atm. If it happens again I'll swing by.

[2012-03-23 21:14] #44 closed, assigned to jigish

[2012-03-24 00:40] jigish commented on #32
1, 2, 3 done + hiding/showing done. Right now it raises the entire app, need to change the way I focus things (and add this as a customizable option).

To do:
1. Names/Icons/Both
2. Horizontal or Vertical
3. Apps only or all windows
4. fix focus
5. hold to keep cycling (stop at edges)
6. mouse scroll up/down to cycle?

[2012-03-24 00:41] jigish commented on #32
also -- severe limitation in mac os x that disallows hijacking CMD+tab. I'm currently looking into how to get around that because Witch clearly does it so it can be done.

[2012-03-24 06:34] jigish commented on #48
Will be fixed in 0.4.18

[2012-03-24 06:34] #48 closed, assigned to jigish

[2012-03-24 06:41] jigish commented on #48
0.4.18 has been released

[2012-03-24 06:42] jigish commented on #47
0.4.18 has been released

[2012-03-24 06:42] jigish commented on #45
0.4.18 has been released

[2012-03-24 06:42] jigish commented on #41
this has been fixed better in 0.4.18. The fix I did worked for the most part, but there were still minor issues.

[2012-03-26 17:53] philc opened #50 "Feature request: show a hint in the center of the window if the window's upper left corner is obscured."
This will allow you to show hints for more windows. Today, if the bulk of a window is showing but something is obscuring the upper left corner of the window, you can't select it with window hints.

The caveats to doing this are
1. You may need to visibility test two points in a window instead of just one, which may slow down how quickly you can show hints if that visibility test is expensive.
2. T

[2012-03-26 17:56] philc opened #51 "The hint letters change based on which window is focused"
On my screen, I have 3 windows from left to right, with the first one focused. The hints are A B C.

If I focus the second window, the hints are B A C. The hint letters change depending on which window is focused. I think it will be less disturbing if the hints had a stable ordering from left to right across the screen (i.e. the leftmost window is always A).

[2012-03-26 18:00] philc opened #52 "Consider showing a window hint in the center of the window by default"
This may require some research & asking around (Dmac may have an opinion about this) to validate whether centered is actually better than in the upper left.

Anecdotally, when I'm looking at windows and quickly switching between them, my eyes are focused in the center of the window, waiting for the hint character to show, not the upper left corner. For me it's a slight annoyance to have to look at

[2012-03-26 18:15] dmac commented on #52
One way to do this might be to expose `windowSize{X,Y}` when setting `windowHintsTopLeft{X,Y}`, to make it configurable. Then to center it I could just say

[code]

[2012-03-26 18:56] philc commented on #52
Although that configurability will complicate the implementation of https://github.com/jigish/slate/issues/50

[2012-03-26 22:01] jigish commented on #51
This is because the order in which I get windows from the API. As a result of the switch operation I may add a constantly updating global list of windows sorted by which window was activated the last. In this case, I should be able to attach a hint letter to every window and keep it the same throughout its lifetime. This would also allow me to save time calculating which hint should be attached to

[2012-03-26 22:07] jigish commented on #52
Hmm, so theoretically you should be able to do that already. I'm pretty sure I tested that. In the "Expressions" section of the readme anything that is not explicitly stated to not be allowed in a certain location is allowed everywhere. The only problem is I currently test a point near the top left for visibility regardless of where the hint is configured to be placed. I would need to change the h

[2012-03-26 22:10] jigish commented on #52
And for the record to center it you need to do:

config windowHintsTopLeftX (windowSizeX/2)-(windowHintsWidth/2)
config windowHintsTopLeftY (windowSizeY/2)-(windowHintsHeight/2)

Just tried it with the latest build and it works.

[2012-03-26 22:14] dmac commented on #52
Ah, works like a charm. Thanks!

[2012-03-26 22:16] jigish commented on #52
Great! keeping this open until I fix the visibility thing. once I fix that I'll close this and try to make the default the "smart" location suggested in issue #50

[2012-03-26 23:50] philc commented on #51
IMO, sorting that list by the window's X and Y would be more usable than giving each window a consistent hint, because particular windows churn all the time, but "the left half of my screen" stays constant.

[2012-03-27 22:33] jigish commented on #52
Just made the visibility change. Closing this issue even though center is not default because issue #50 sort of negates it. I'm planning on implementing the default to be center + top-left fallback and will track that change in issue #50.

[2012-03-27 22:33] #52 closed, assigned to jigish

[2012-03-27 22:33] jigish commented on #52
change will be available in the next build. likely 0.4.19

[2012-03-27 23:03] jigish commented on #50
I have implemented this in the following manner:

windowHintsTopLeftX and windowHintsTopLeftY are now arrays of expressions. Their sizes should be equal and non-zero (or all hint operations will fail validation during startup). The hint operation will first check the locations in the arrays sequentially until it finds a valid one, then display the hint there. if all the locations are invalid, it w

[2012-03-27 23:03] #50 closed, assigned to jigish

[2012-03-27 23:04] jigish commented on #50
should be available in 0.4.19 when I release it (still want to address #51 first)

[2012-03-27 23:15] jigish commented on #51
I can agree with that, but the problem I see is even though the "left half of my screen" remains constant the number of windows will always be changing. Thus if I choose to anchor the "beginning" of the window list to the left side of the screen, the hint for the rightmost window will be constantly changing while the hint for the leftmost window will be constant. That seems sort of silly. If I kee

[2012-03-27 23:19] jigish commented on #51
also as a side note, the more windows that are open, the more overhead the left-to-right version will add as I'll have to sort the windows based on x and y coords before I can hint them. hopefully it won't reduce performance too much.

[2012-03-28 00:04] jigish commented on #51
added `windowHintsOrder` config.

`config windowHintsOrder leftToRight`

or

`config windowHintsOrder rightToLeft`

or

`config windowHintsOrder none`

default is `none`.

will be generating 0.4.19 with this fix in the next couple of minutes.

[2012-03-28 00:04] #51 closed, assigned to jigish

[2012-03-28 00:05] jigish commented on #51
also - performance impact seems to be minimal

[2012-03-28 00:18] philc commented on #50
Interesting. So is the default value to check center and then upper left, or is it the reverse, or is it neither?

[2012-03-28 00:30] jigish commented on #50
Default is to check center, then upper left (combined this suggestion as well as the suggestion to make center default). 0.4.19 is pushed.

[2012-03-28 20:45] jigish commented on #32
2 and 5 are done now. also want to add the ability to trigger the operation when hitting the "back" binding (like how cmd+tab AND cmd+shift+tab trigger the default app switcher). So to do:
1. Names/Icons/Both
2. Apps only or all windows (ordered by apps? various UI/key options?)
3. Trigger operation from back binding
4. fix focus (is this possible?)
5. mouse scroll up/down to cycle? (probably not

[2012-03-28 23:38] jigish commented on #32
1 and 4 done. Left:
1. Apps only or all windows (ordered by last focus)
2. Trigger operation from back binding

[2012-04-01 23:04] gregwebs opened #53 "starter/example .slate file"
Are there some example .slate files? Perhaps you can enable the wiki and ask for some examples from current users.

[2012-04-02 04:17] jigish commented on #53
I have mine up here: https://github.com/jigish/dotfiles/blob/master/slate

But you make a good point. I'll activate the wiki and try to get some examples up there. Will keep this issue open to track the wiki progress.

[2012-04-04 23:47] jigish opened #54 "Activate Switch from "back" Binding"
Activate switch when user hits the "back" binding

[2012-04-04 23:49] jigish opened #55 "Switch operation for Windows"
switch through open windows, not apps.

[2012-04-04 23:49] jigish commented on #32
For 1.0, the additional features will not be available. they will be in 1.1 and tracked by Issue #54 and #55.

[2012-04-04 23:49] #32 closed, assigned to jigish

[2012-04-05 09:18] toupeira opened #56 "NSInvalidArgumentException when trying to run Slate"
If I start Slate through Finder, the menubar icon quickly shows up and disappears. Calling `Slate.app/Contents/MacOS/Slate` from a console outputs the following backtrace:

[code]

I'm running OS X 10.6.8 and the latest Slate commit 953a962, and I haven't created a `.slate` configuration yet (adding an empty one results in the same error). Let me know if there's anything else I can test.

[2012-04-05 15:17] jigish commented on #56
Apologies. Looks like I added a feature which used a 10.7 only API in the most recent version. Unfortunately I am out of town until Sunday. I'll fix this and push a new version by Monday 8pm PST.

[2012-04-05 15:28] toupeira commented on #56
Great, thanks for the quick answer and no hurries, enjoy your Easter weekend :-)

[2012-04-05 23:48] jigish commented on #56
Turns out I got some time to fix this. Version 0.5.1 has the fix. Let me know if it is still an issue as I don't have a 10.6 box to test it on so I'm sort of fixing it blind.

[2012-04-05 23:48] #56 closed, assigned to jigish

[2012-04-05 23:50] toupeira commented on #56
Awesome, thanks! Unfortunately the only OS X machine I have is at work, so I'll only be able to test this next Tuesday (long Easter weekend here).

[2012-04-05 23:51] jigish commented on #49
Thought about this a lot and I think I'm going to keep it complicated. I build slate thinking that I wanted to make it extremely customizable. While I understand the points, I think I should be able to still add cool features while still keeping it customizable (like the upper-left or center feature I've already added). If it starts becoming crazy I'll rethink.

[2012-04-05 23:51] #49 closed, assigned to jigish

[2012-04-06 00:44] philc opened #57 "Slate needs an awesome icon"
For the Application icon in Finder, and for the toolbar.

[2012-04-06 01:54] jigish commented on #33
submitted to app store for the first time. we'll see what happens.

[2012-04-06 22:55] philc opened #58 "Window hints are not shown for many windows"
As of 2001a33 (I had to build from source; the binary that's checked in is broken).

See screenshot here -- only one window is hinted.

http://i.imgur.com/TULA5.jpg

I've also seen the hint characters glitch from the center to the upper left, and chrome windows not be focusable if the dev console is showing (almost like it gets treated as its own window with a centered hint).

[2012-04-07 04:25] jigish commented on #58
ok that is really weird. what OS version are you running? I just tried three windows and it works just fine. then tried chrome+console and it worked. Hints are now center first with top-left backup if the center point is not visible.

Also, how was the binary broken?

[2012-04-08 01:36] philc opened #59 "Switching desktops breaks window hints"
Steps to reproduce:
1. Launch slate
2. Hit the hint key; see hints
3. Switch virtual desktops
4. Switch back
5. Hit the hint key; no hints are shown

Version 0.5.1.

[2012-04-08 01:38] philc opened #60 "The "about slate" window doesn't surface to the top when clicked"
Steps to reproduce:
1. Maximize any window
2. Click on Slate's icon > About slate
   Nothing appears

The About window is under the window you maximized in step 1. It should surface to the top when shown.

[2012-04-08 01:44] philc commented on #58
The state shown in the screenshot happens over time, although while trying to reproduce some other bugs I was able to get it pretty quickly: http://i.imgur.com/9dsQc.png

I can show you when you're next in the office.

I'll file a separate bug for the center -> upper left flicker when I have a more detailed repro case.

[2012-04-08 01:46] philc opened #61 "When initially launching Slate, windows get relayered"
Steps to reproduce:
1. Quit slate
2. Layer your windows like this, from top to bottom: Finder window 1, Terminal, Finder window 2
3. Launch slate

You'll see that the windows get reordered to: Finder 1, Finder 2, Terminal

[2012-04-08 01:51] philc opened #62 "Offscreen windows aren't hinted, when they could be"
Easy to reproduce. In the images below, the chrome window isn't hinted if you move it slightly offscreen, even though its center is still visible.

![with hints](http://i.imgur.com/tv7M1.png)

![without hints](http://i.imgur.com/8Ukxs.png)

[2012-04-08 05:55] philc commented on #58
I've found a reproducible case which may be the root cause of this bug, or a separate bug.

Steps to reproduce:
1. Hide or minimize all windows
2. Focus an application (like textmate), create a new window, and activate link hints, and close that new window.
3. Repeat #2 over and over, cycling through hint characters

You'll notice that some of these new windows do not get hint characters.

[2012-04-10 00:15] jigish commented on #60
fixed. will be available in the next version.

[2012-04-10 00:15] #60 closed, assigned to jigish

[2012-04-10 01:01] jigish commented on #62
fixed. will be in the next release.

[2012-04-10 01:01] #62 closed, assigned to jigish

[2012-04-10 01:07] jigish commented on #61
fixed. will be in the next release.

[2012-04-10 01:07] #61 closed, assigned to jigish

[2012-04-10 02:13] jigish commented on #58
I _think_ I've fixed the problem. It seems like it was in the code where I detect new windows forming. Some applications spawn new windows with empty titles (which I was ignoring) then change the titles later. I've now fixed it such that when the title changes it adds the window properly. Hopefully this fixes the problem. If not, I've fixed part of the problem. The fix will be available in the nex

[2012-04-10 02:13] #58 closed, assigned to jigish

[2012-04-10 02:21] jigish commented on #59
great. apparently the accessibility API returns only the windows that are active on the current desktop. So my keeping track of windows and such breaks with virtual desktops because when you switch desktops I prune all windows since all apps report that they have no windows open. I'm going to have to rethink how to do this to support spaces. It may take some time.

[2012-04-10 02:47] jigish commented on #33
lots of bug fixes. I'm going to pull the current version and re-submit after I fix the bugs.

[2012-04-10 12:18] toupeira commented on #56
It works perfectly now, thanks again!

[2012-04-13 23:18] jigish commented on #57
done in 0.5.5

[2012-04-13 23:18] #57 closed, assigned to jigish

[2012-04-13 23:19] jigish commented on #53
Some of the users have added their example slate files. more to come. I'll add examples to the wiki when I get time. Closing this issue.

[2012-04-13 23:19] #53 closed, assigned to jigish

[2012-04-13 23:26] gregwebs commented on #53
thanks, I am actually going to give slate a go now :)

[2012-04-13 23:35] jigish commented on #53
Awesome! Please let me know if you have any issues or questions: slate.issues@gmail.com. I can definitely help you through configuring it if need be. I completely understand that it can be a daunting task at first :)

[2012-04-13 23:37] jigish commented on #59
Switching to version 1.1 as this will take some time. I want to get Slate on the App Store first, then I'll fix this.

[2012-04-16 18:55] jigish commented on #33
submitted again. shouldn't have to pull it this time.

[2012-04-19 21:36] philc opened #63 "Window hints cannot focus the iterms preferences window"
Steps to reproduce:
1. Open item's preferences window
2. Try to focus it using window hints. It doesn't get focused.

Not very important, but I thought it was a little strange.

[2012-04-19 21:55] philc opened #64 "After opening up two fresh terminal windows, their hints collide"
The windows are the same size and have the same title.

[2012-04-19 21:56] philc opened #65 "Periodically, a new window cannot be hinted"
In my experience, this happens for about 1 in 15 windows. I've definitely seen it happen for iTerm2 windows, and I believe I recall it happening for textmate and chrome.

[2012-04-19 21:57] philc commented on #31
Agreed, this will be a lot of effort.

[2012-04-19 22:44] philc commented on #65
Actually, this also affects existing windows, which is really annoying. I just saw a case where I had a terminal window with history etc. which I'd been using for a few hours, and it suddenly stopped being hintable.

The workaround is to restart Slate, which I do a few times per hour to work around this and the desktops bug.

[2012-04-23 22:58] jigish commented on #33
rejected due to:
1. snapshots save files to ~/ which is not allowed.
2. if no ~/.slate, Slate errors out. I'll change it to a warning and add a default config.

[2012-04-23 23:03] jigish commented on #64
This is because their titles are the same. I need to find a way to get around this. I'm thinking I should use title and top-left to differentiate between windows, but tracking windows as they move may not be possible.

[2012-04-23 23:05] jigish commented on #65
Wow thats frustrating. I totally thought I fixed this. Will check it out again. It may be related to the title thing (Issue #64).

[2012-04-23 23:16] jigish commented on #65
for now, this and issue #64 should be "fixed" by setting the config:

`config windowHintsOrder leftToRight`

[2012-04-23 23:17] jigish commented on #64
for now, this and issue #65 should be "fixed" by setting the config:

`config windowHintsOrder leftToRight`

[2012-04-24 01:47] philc opened #66 "window hints with leftToRight segfaults"
Add this to your config:

config windowHintsOrder leftToRight

Launch slate, hit your window hints key.

This is with 0.5.4. I haven't tried the latest because I need to get the latest xcode and build it, but I'll give that a shot shortly.

[code]

[2012-04-24 01:55] jigish commented on #66
fixed in version 0.5.6

[2012-04-24 01:55] #66 closed, assigned to nobody

[2012-04-25 11:33] toupeira opened #67 "Directional focussing is erratic"
I'm currently using Slate only for the directional focussing, which is an awesome feature! But I can't seem to get it to work consistently, and I'm not sure if this is a bug in Slate or a misunderstanding of this feature on my part.

I have the following configuration:

[code]

I'm not quite sure how to explain the behaviour... basically focussing only works _sometimes_. I think the problem is mai

[2012-04-26 20:57] philc opened #68 "0.5.6 release build dies with nib error"
4/26/12 1:55:23.638 PM Slate: Unable to load nib file: MainMenu, exiting
4/26/12 1:55:23.639 PM com.apple.launchd.peruser.561: ([0x0-0x611611].com.slate.Slate[26081]) Exited with code: 1

This only happens when the application is moved into /Applications. If run directly from the git repo file system, it works.

Also, this release build does not appear to have an icon.

[2012-05-01 18:41] jigish commented on #67
The best way to see debug output is to actually run the project from within Xcode. Other than that I can explain how the focusing is implemented and you can tell me if it is doing something wrong based on that :) --

Lets say you're trying to focus a window to the right of the current window. Slate will create a rectangle starting from the top-right point of the window with 1 pixel width and endin

[2012-05-01 19:01] jigish commented on #68
ok this is interesting. I'm not having this problem at all. I'm going to be generating a new release soon. I'll keep this issue open and check with you when I release it.

[2012-05-01 19:09] jigish commented on #63
Seems like the accessibility wrapper can't focus the preference window for some reason. Maybe the type of window it is. I've changed focus to still bring the main window of the app to the front if it can't focus the window which should be a _bit_ better. Closing this issue, but I'll keep looking for solutions to this.

[2012-05-01 19:09] #63 closed, assigned to jigish

[2012-05-01 19:10] jigish commented on #65
this should be fixed by 16b7df309ab413361eb16ad05b8d9f70ca47a316

If not please reopen.

Either way setting the config should get rid of the problem for sure.

[2012-05-01 19:10] #65 closed, assigned to jigish

[2012-05-01 19:11] jigish commented on #64
this should be fixed by 16b7df309ab413361eb16ad05b8d9f70ca47a316

If not please reopen.

Either way setting the config should get rid of the problem for sure.

[2012-05-01 19:11] #64 closed, assigned to jigish

[2012-05-01 21:22] jigish commented on #68
0.5.7 has been released. This should be fixed. I think it was due to me code-signing the last release.

[2012-05-01 21:31] jigish commented on #33
resubmitted. we'll see what happens.

[2012-05-02 01:18] philc commented on #68
lgtm, and this release build has an icon. Closing.

[2012-05-02 01:18] #68 closed, assigned to jigish

[2012-05-02 01:20] philc commented on #64
lgtm

[2012-05-02 11:36] toupeira commented on #67
Thanks for the explanation, I tried the latest version but get an exception on startup now, probably again because I'm using OS X 10.6 ;-)

[code]

[2012-05-02 19:43] jigish commented on #67
Aw man. I keep forgetting to make sure to check if new APIs I use are in Snow Leopard. Sorry about that. Will fix this today.

[2012-05-02 19:55] jigish opened #69 "Exception on Startup in 10.6"
Description in Issue #67

[2012-05-02 19:57] jigish commented on #69
fixed in 0.5.8

[2012-05-02 19:57] #69 closed, assigned to jigish

[2012-05-02 19:57] jigish commented on #67
Opened issue #69 to track exception. Fixed in 0.5.8.

[2012-05-30 21:07] harob opened #70 "Slate ignores Dvorak keyboard layout"
It just acts as if I'm in Qwerty mode. I can work around this in the config file (by putting what the key would be qwerty), but it makes keyboard window hints unusable.

[2012-05-30 22:14] jigish commented on #70
Fixed in 0.5.9.

[2012-05-30 22:14] #70 closed, assigned to jigish

[2012-05-30 23:07] jigish commented on #33
still having issues. they for some reason can't get slate to run without the "can't find .slate" message showing. I even attached a slate file to use =/. Hopefully they can get it figured out soon or I'll have to add some default mappings to fall back on which I really don't want to do.

[2012-05-31 18:58] jigish commented on #33
This is a complete fail. I basically can't publish to the app store without having some defaults because they are saying that people expect apps to "just work". Or I'd have to add a configuration manager which will be even worse because under app store guidelines apps can't write to the home directory. So then I'd have to change the location for the .slate file which I'm definitely not going to do

[2012-05-31 21:24] philc commented on #33
;-)

[2012-06-03 22:09] lopopolo opened #71 "Some directives in the sample config do not work"
[code]

These key combinations don't get fired because ctrl+<left> and ctrl+<right> are used for switching spaces.

Ctrl+up and Ctrl+down activate/deactivate Mission Control on Lion.

Ctrl+Shift+down is app expose, ctrl+shift+up is regular expose

[2012-06-03 22:11] lopopolo opened #72 "Slate crashes when invoking a chain"
Slate dies when I try to trigger this binding:

[code]

This binding is a composite of these bindings which work correctly

[code]

[2012-06-04 04:36] eipark opened #73 "Odd 'Unable to parse binding' Error"
This line:

[code]

works fine, but this:

[code]

throws the unable to parse binding error, where the aliases are:

[code]

Any ideas? I'm stumped. I have similar layout directives using the same aliases I've had in my config for a long time, but certain ones don't seem to work.

[2012-06-06 22:50] cespare commented on #33
Slate is a highly configurable app strictly for power uses; i.e. the antithesis of "good" Mac OS software.

[2012-06-06 22:52] jigish commented on #71
Yah I'm aware of this. I'm not going to change them but I'll add a note saying that you have to get rid of expose/spaces/mission control bindings.

[2012-06-06 23:02] jigish commented on #73
hmm. I just tried adding this on my config and it works. just running through the common errors:
1. aliases must be defined before they are used
2. make sure you don't have two aliases with the same name
3. try renaming the alias maybe?

Other than that you can send me your entire .slate and I'll try it out.

Also, what version are you running?

[2012-06-06 23:07] jigish commented on #71
added comments to my config.

[2012-06-06 23:21] jigish commented on #71
and updated read me to reflect this

[2012-06-06 23:21] #71 closed, assigned to jigish

[2012-06-06 23:22] jigish opened #74 "aliases are not ignored in comments"
ignore them

[2012-06-06 23:29] jigish commented on #74
will be fixed in the next version

[2012-06-06 23:29] #74 closed, assigned to jigish

[2012-06-06 23:33] jigish commented on #72
will be fixed in the next version (0.5.10). this was a bug introduced by my conversion to ARC.

[2012-06-06 23:33] #72 closed, assigned to jigish

[2012-06-06 23:59] jigish commented on #33
Ok. I've added default configs. They will _only_ exist if you do not have a .slate file in your home directory. Hopefully this appeases the App Store testers. Submitting again...

[2012-06-07 00:03] jigish commented on #72
new version is out.

[2012-06-27 00:30] dcai commented on #33
Good luck with the App Store submission, how is that going?

(Just discovered this app, it's awesome!)

[2012-07-03 17:46] jigish commented on #33
lol it is not going. Apple keeps rejecting because I'm using pretty low level stuff. I'm going to use Sparkle instead. Look for an update soon with updates through Sparkle.

[2012-07-03 23:22] dcai commented on #33
@jigish Looking forward to it, thanks for the great work :)

[2012-07-04 22:59] jigish commented on #33
Sparkle now in 1.0.0!

there is a bug in Sparkle right now that doesn't delete the old version of the app. I filed a bug on Sparkle asking about it. Hopefully it'll get fixed soon.

[2012-07-04 22:59] #33 closed, assigned to jigish

[2012-07-04 23:09] jigish opened #75 "Switch Breaks Randomly"
fix it.

[2012-07-04 23:11] jigish opened #76 "Add App Configs"
Ability to config title match order for snapshot operation etc.

[2012-07-05 19:57] leematos opened #77 "Allow App to be run in background [improvement]"
Former spectacle user here, my favorite feature of spectacle was the run as background task. :) I like a tidy status bar and I'm giving slate a go.

[2012-07-07 20:14] jigish commented on #77
Ah. Good call. I'll try and implement this soon.

[2012-07-08 23:13] j4mie opened #78 "Spaces support"
First, Slate is fantastic. Exactly what I've been looking for.

One thing is keeping it from being perfect for me, though. My use case is that when I connect or disconnect an external monitor, I want to re-layout windows that are on multiple spaces. I have groups of windows that I always keep on particular spaces, and I want to be able to use layouts to reposition them automatically.

My current s

[2012-07-09 00:08] jigish commented on #78
Hey! Actually right now there isn't spaces support but I'm getting more and more requests to add it. I'll see what I can do. Look for a comment on this when I figure it out :)

[2012-07-10 23:52] #76 closed, assigned to jigish

[2012-07-10 23:52] jigish commented on #76
done in 1.0.2

[2012-07-28 12:52] tomusher commented on #78
This feature would be fantastic - being able to configure all my spaces based on my current 'mode' (development, writing, emails, etc.) would be really useful. Even better would be able to trigger these layouts from the command line so I could use Alfred or any other tool to trigger them.

[2012-08-10 08:04] jroith opened #79 "Sign build for Mountain Lion"
Minor issue, but still worth it.

[2012-08-10 15:27] jroith opened #80 "Change menubar icon"
Just remove the gray background. It makes the icon look very heavy compared to all others.

[2012-08-17 08:38] timmow opened #81 "Bind numbers does not work for numeric keypad"
I am using the following config setting

bind 1:cmd;alt corner bottom-left resize:screenSizeX/2;screenSizeY/2

And this works fine using the 1 key along the top row of they keyboard - however, it does nothing when using the 1 key on the numeric keypad.

I'm using slate 1.0.2 and the keyboard layout is British if that helps at all.

[2012-08-17 09:39] #81 closed, assigned to jigish

[2012-08-17 19:19] jigish commented on #81
not sure if you noticed this already but the num pad uses the prefix "pad" so it should be:

[code]

[2012-09-07 01:18] eipark opened #82 "Feature Request: Always keep window on top"
I couldn't find this elsewhere on issues, but a command that allows you to toggle whether a window stays on top would be great.

[2012-09-07 10:05] pstadler commented on #77
+1

[2012-09-07 10:09] pstadler commented on #24
The problem is, that `Y` doesn't take the menubar into account. For example if `Y=30` the window is placed 8px below the menubar.

I'm using `alias menubarHeight 22` to work around this issue.

[2012-09-07 16:36] simpleshadow opened #83 ""Could not load ~/.slate""
I'm using OSX 10.8.1. I have the [default.slate](https://github.com/jigish/slate/blob/master/Slate/default.slate) in `~/`. Any idea what could be wrong? Excited to test this out.

![Error](http://f.cl.ly/items/2t2b1j2M0k0P2z1H0Q36/Screen%20Shot%202012-09-07%20at%209.34.22%20AM.png)

[2012-09-07 17:36] jigish commented on #24
Interesting. Can you send me a description of how your monitors are placed, where your dock is, which monitor your menu bar is on, etc? I've seen this issue before, but thought I fixed it. Maybe it is a configuration I haven't thought of or seen before. Also, OS version and Slate version would be nice as well.

Thanks!

[2012-09-07 17:37] jigish commented on #82
Good Call. I like it. Will try to implement this soon.

[2012-09-07 17:45] jigish commented on #83
So I haven't gotten around to testing on Mountain Lion yet unfortunately, but I don't think I've used any Deprecated APIs so it should work fine. Either way here are a couple possible issues that may cause this:
1. Make sure to rename "default.slate" to ".slate"
2. Make sure it is in ~/ (this part you say you have)
3. Make sure the file's permissions include read

Also, this message is just a warn

[2012-09-07 17:51] jigish opened #84 "Add Grid Operation"
Similar to divvy's one-off window sizing

`bind <keystroke> grid <monitor match grid width/height options>`

should open a grid on each screen. click/drag over the screen should resize the currently focused window to the size selected on that screen. pressing escape should close the grid and not do anything.

[2012-09-07 17:54] jigish opened #85 "Command Line Support"
Allow users to call bindings from the command line. For example:

`$ slate activate ctrl:1` should activate the binding for the keypress `ctrl+1`

[2012-09-07 17:55] jigish commented on #73
Hey man, is this still an issue or can I close it?

[2012-09-07 18:27] jigish commented on #82
This seems to be more difficult that I thought. Don't know if the accessibility API has a way to set this flag on windows. I'm going to keep searching though, but right now it seems like the individual application that opens the window needs to set it. If you know of any slate-like app that does this let me know and I can poke around to see how they did it.

[2012-09-07 18:33] eipark commented on #73
Closr

---

Ernie Park
Massachusetts Institute of Technology 2012
Electrical Engineering & Computer Science
362 Memorial Drive | Cambridge, MA 02139
618.744.9624 | www.erniepark.com

On Sep 7, 2012, at 10:55 AM, Jigish Patel notifications@github.com wrote:

Hey man, is this still an issue or can I close it?

—
Reply to this email directly or view it on
GitHubhttps://github.com/jigish/slate/issues/

[2012-09-07 18:38] eipark commented on #82
I'm using Afloat right now: http://infinite-labs.net/afloat/.

[2012-09-07 21:16] simpleshadow commented on #83
Thanks @jigish! Issue resolved. I failed step 1. :D

Appears to be working ok on Mountain Lion. I'll play with it a bit more and let you know how things go.

[2012-09-07 21:16] #83 closed, assigned to jigish

[2012-09-07 22:28] jigish commented on #82
Took a look at the afloat code. Its actually pretty complex. I can add something similar in uber-configurable slate style but it will take a lot longer that I thought. Not going to get to this any time soon, but I'll definitely do it.

[2012-09-07 22:32] jigish commented on #82
for my reference, here is the code: https://code.google.com/p/afloat/source/browse/trunk/Afloat/Afloat.m

[2012-09-11 00:53] jigish commented on #84
this is done in 1.0.3

[2012-09-11 00:53] #84 closed, assigned to jigish

[2012-09-15 10:15] iwinux commented on #78
I'm also interested in this feature, and here's some references that may be usefuly:
1. http://stackoverflow.com/questions/2308820/how-can-i-programatically-move-one-terminal-app-window-to-another-space
2. http://stackoverflow.com/questions/7049344/moving-a-window-to-a-new-space-in-mission-control

[2012-09-19 07:55] justinjones commented on #78
Would also love this!

[2012-09-29 19:35] pygy opened #88 "Building for 32 bit processors?"
I still have a 32 bit machine, and, since the pre-compiled binary is 64 bit-only, I've tried to compile Slate by myself.

I'm running Snow Leopard and Xcode 3.2.6 (I didn't get 4.0 while it was out). I assume that it is the problem, but I'm not sure.

Building fails, both in 32 and 64 bit modes.

The relevant parts of the build log can be found here: https://gist.github.com/3804989

[2012-09-29 22:15] paddykontschak opened #89 "Cross-OS compatibility (Linux, Windows...)?"
I'd love to see Slate running on Linux and Windows, similar to how SublimeText 2 is available on those 3 systems.

Both ST2 and Slate use text files for their settings, which are obviously perfect to sync between systems, not just multiple Mac OS X installation but also between e.g. Ubuntu and Mac.

Any thoughts?

[2012-09-29 22:20] toxinu commented on #77
+1

[2012-09-30 15:02] toxinu opened #90 "Full screen mode"
It could be nice to have an option to disable slate in full screen mode.

What do you think about it ?

[2012-09-30 17:04] paddykontschak opened #91 "Implement if/else statements"
I'm currently working on a way to resize my browser to 4 common widths in responsive design, 980, 768, 480 and 320. I also want the browser to center in the middle of the screen.

[code]

That works on my main computer. The problem I'm facing is that I have 2 Macs with different screen resolutions but I want to keep the key binding the same on both Macs. What I need is an if/else statement, like s

[2012-09-30 19:35] paddykontschak opened #92 "ignore inline comments when creating an alias"
I was trying to document my ~/.slate with some inline comments but it seems like the comments are treated as part of the alias.

[code]

This code creates the following error message:

[code]

![Unable To Create Binding](http://i.imgur.com/3Lfrm.png)

[2012-09-30 20:54] paddykontschak commented on #91
I realized that I could solve my problem with screenSizeX.

I think the idea is still worth a discussion though.

[2012-10-01 17:57] jigish opened #96 "DMG Installation"
Package to DMG so installation is more smooth.

[2012-10-01 18:01] jigish commented on #91
I have been thinking about if/else for a while. Seems like a good idea but the question is what would the conditional of the if be? If we can come up with a good use case I have no problem adding it. I'd just rather spend my time on other things (Spaces support, run in background, etc) if we can't come up with a use case :)

[2012-10-01 18:02] jigish commented on #92
Bah. This is totally boneheaded of me. I'll fix this soon.

[2012-10-01 18:05] jigish commented on #90
Hmm, what exactly do you mean by disable? Do you mean preventing bindings from firing? That does make sense because if you're in fullscreen you don't really have any need to do anything that Slate currently offers. I'll look into it.

[2012-10-01 18:09] jigish commented on #89
This is something that I've been thinking about for a while. Unfortunately I don't have any plans to do it any time soon. The mechanisms used to move windows and such on different OSes are drastically different so it isn't just a matter of porting code. If I get to the point where the issue backlog starts fizzling out and I have the time I'll do it, but no promises. You're welcome to start the por

[2012-10-01 18:11] jigish commented on #88
Hmm by looking at the log I'm pretty sure the issue is that your version of Xcode doesn't support ARC. If you can update your Xcode to a version that does and try it out you may have better luck. I'll see if there are any options to build in a 32 bit binary as part of my build process but I can't say for sure yet.

[2012-10-01 18:12] #73 closed, assigned to jigish

[2012-10-01 18:34] pygy commented on #88
Thanks for checking this out.

I'll soon have access to a machine with OS X 10.8, I'll give a try at a
universal build and report back.

[2012-10-01 18:59] jigish opened #97 "Unit Test ALL THE THINGS"
LONG overdue.

[2012-10-01 19:02] jigish opened #98 "Doxygen ALL THE THINGS"
documentation is good.

[2012-10-01 19:33] jigish commented on #92
Should be available in the next version. I'll be pushing one out tonight (1.0.4).

[2012-10-01 19:40] jigish commented on #88
Just looked in to this. Unfortunately I am using ARC in my project and I didn't realize this earlier but 32-bit is explicitly not supported by Apple's LLVM compiler when using ARC. Leave it to Apple to ninja-kill configurations randomly. Converting my project to non-ARC is not really in the cards as it would take a long time and I just recently flipped from non-ARC to ARC. Sorry the answer isn't g

[2012-10-01 19:40] #88 closed, assigned to jigish

[2012-10-01 21:19] jigish commented on #96
Added the DMG generation. The next build (1.0.4) will use this. I'll update the readme when that happens.

[2012-10-01 21:19] #96 closed, assigned to jigish

[2012-10-01 21:52] toxinu commented on #90
Yes, disable, cause if you use full screen you don't need slate in this mode.
Not very important but, simple option to prevent any windows movement by slate could be nice.

[2012-10-01 21:55] santip opened #99 "Key bindings not respecting keyboard layout"
I use a dvorak keyboard layout yet slate bindings are recognizing keys by the hardware location in a qwerty layout. This is happening both in direct bindings in the config and with the hinted characters in the window hints functionality.

[2012-10-01 22:36] jigish commented on #99
check out Issue #70

Basically if you add following config it should work:

`config keyboardLayout dvorak`

[2012-10-01 22:36] #99 closed, assigned to nobody

[2012-10-01 22:53] santip commented on #99
apologies for the duplication, when I first searched for preexisting issues I had assumed that this only happened in the hints functionality so that narrowed my search :)

[2012-10-01 23:43] jigish commented on #79
I don't have mountain lion right now so I can't check for sure, but this should be done in 1.0.4. please reopen if that is not the case.

[2012-10-01 23:43] #79 closed, assigned to jigish

[2012-10-01 23:47] paddykontschak commented on #92
Just updated to 1.0.4 and tried it again.

**Code:**

[code]

**Error message:**

[code]

Looks like the space before the `#` is being added to the alias which results in `980 ;807` instead of the required `980;807`

**Screenshot:**
![Invalid Operation in Chain](http://i.imgur.com/bNrgH.png)

[2012-10-01 23:53] robacarp opened #100 "Alternate trigger mechanism: Unchorded or Modal commands"
First off, I'm impressed.  Good work here.  :clap:

I read a good portion of the readme, cmd-f'd around for a few keywords in there too, and read the titles of all the open and closed issues and didn't find anything like this. Hopefully I'm not just creating spam here.

Keyboard chording is something I try and do as little of as possible to keep my RSI at bay.  As such, I had my Divvy setup config

[2012-10-02 01:50] jigish commented on #100
Ah good call. This makes a lot of sense. I'll try to add this soon.

[2012-10-02 03:30] jigish commented on #92
Wow. can't believe I overlooked that. fixing now.

[2012-10-02 03:38] jigish commented on #92
fixed in 1.0.5

[2012-10-02 03:38] #92 closed, assigned to jigish

[2012-10-02 03:45] paddykontschak commented on #92
Awesome. I'm not getting any errors this time. Thank you for fixing this.

[2012-10-02 10:31] public opened #101 "Automatic tiling"
More xmonad-y style behaviour. At least something like xmonad's Tall (or a way to implement it using layouts or binds that popen() stuff) would be awesome.

[2012-10-02 15:18] robacarp commented on #100
Glad to hear it.  I wish I was more proficient at objective-c, I'd outline an implementation.  :-/

[2012-10-02 15:29] robacarp opened #102 "Window hints can't pull focus away from a window where a text-input is focused"
I'm not sure if this is macvim listening in a way it shouldn't or something, but I can window-hint focus into macvim, but not out of it.

I've just noticed that if I have a text area focused in this window, chrome, and I open window hints, any of the hints I target just fire through to the currently active window.

Maybe that means I'm misunderstanding the purpose of window hints...

[2012-10-02 17:33] jigish commented on #102
This is really interesting. I just tried to make sure on my machine and it seems to work fine. I'm currently running OS X 10.7.4 and the latest Slate (1.0.5). What versions are you running? Also, if you can consistently repro then it would be really helpful if you could open "Current Window Info" from the Slate menu screen cap the contents here (I need to make it selectable. keep forgetting to do

[2012-10-02 18:00] robacarp commented on #102
I'm on OSX 10.7.4 as well, and Slate 1.0.5.  I've tried a few combinations, but even on this comment box it types text while the hints are up, then they just fade away.

[Screen capped Current Window Info](http://robacarp.com/images/skitchd/Slate_-_Current_Window_Info-20121002-115913.png)

Fun fact, the Current Window Info box went SWOD on me after the second time opening it... :-/

[2012-10-02 18:01] jigish commented on #102
Sorry, one last thing. Can I get a copy of your .slate? I'll try it out on my machine and try to pinpoint the problem.

[2012-10-02 18:03] jigish commented on #102
wait, SWOD? really? I don't even think I have a spinning wheel =/

[2012-10-02 18:03] robacarp commented on #102
Yep, no problem.  Not much to it yet, heh:

[code]

[2012-10-02 18:07] robacarp commented on #102
Yea, I can't get it to reproduce though.  I just quit and restarted Slate.  I've opened, resized, closed and skitched the Current Window Info several times...no idea what happened.

Looking in the console, I found something interesting, but I'm not sure if its related: https://gist.github.com/3821838

[2012-10-02 18:24] jigish commented on #102
hmm. are you using dvorak by any chance? that is all that I can think of. I just tried your .slate file and it works fine for me :(

[2012-10-02 18:40] robacarp commented on #102
oooo, why yes I am.  I didn't even think of that.

[2012-10-02 18:40] #102 closed, assigned to jigish

[2012-10-02 18:42] robacarp commented on #102
Yea, that sorted it.  Man, sorry for just blatantly wasting your time there.

[2012-10-02 18:54] jigish commented on #102
No worries! Glad you solved it. Just want to make sure that the way you solved it was with `config keyboardLayout dvorak`.

[2012-10-02 18:56] robacarp commented on #102
Yep.  I searched for dvorak in the Readme and was squared away right quick.

[2012-10-02 18:56] jigish commented on #101
Sounds interesting. I'll look in to it. From an initial glance it looks like this would be brand new implementation in Slate (nothing that I have currently seems like it can be leveraged except for moving windows) so it may take some time.

[2012-10-02 19:05] mohanzhang opened #103 "Focus after move in layouts"
I've been creating layouts to simulate an xmonad workflow by binding 1:cmd to move and resize preset windows for certain apps into place as "workspace 1" and so forth up to 9. What's missing (or, what I have missed) is the ability to bring the windows that are part of a layout to the front as they are being moved. Does anyone know of a way to achieve this effect?

[2012-10-02 19:12] jigish commented on #103
I currently don't support focus ordering in layouts but it sounds like something that could be useful. I'll think of a way to add this in.

[2012-10-02 20:27] jigish commented on #80
There is a new menu bar icon now (Pull Request #86). Looks much cleaner.

[2012-10-02 20:27] #80 closed, assigned to jigish

[2012-10-02 20:29] jigish commented on #24
@eipark or @pstadler is this still an issue? If so OS version, Slate version and .slate file would be greatly appreciated.

[2012-10-02 20:30] #24 closed, assigned to jigish

[2012-10-02 20:40] pygy commented on #88
No problem. That machine is 6 years old, and won't last much longer (it
only works on AC and without a battery, the left I/O board overheats badly
otherwise up to 110ºC)).

I'll use Slate on the new one. :-)

On Mon, Oct 1, 2012 at 9:40 PM, Jigish Patel notifications@github.comwrote:

[2012-10-02 20:52] paddykontschak commented on #24
I can confirm that this is still an issue. I had to add a special alias for the menubar just like @pstadler did.

Slate 1.0.5
Mac OS X 10.8.2
[.slate](https://github.com/paddykontschak/dotfiles/blob/master/home/.slate#L21)

[2012-10-02 21:46] zenspider opened #104 "default state dialog box"
please remove the period from the end of the url in the default state dialog box.

[2012-10-02 22:45] mohanzhang commented on #103
Hey Jigish - thanks for the time and effort that you put into Slate. I actually felt strongly enough about this issue that I'd thought I'd at least try to hack something together for myself (it's the last thing preventing me from having a minimally viable xmonad substitute on OSX--at least in the way that I personally use xmonad).

Is there any documentation available for those wishing to contribu

[2012-10-03 00:40] jigish commented on #103
O boy. To be completely honest I never expected slate to gain the popularity it has lol. I built it mainly for myself as a replacement to Divvy because at the time Divvy couldn't move windows across monitors and it kind of spiraled into what it is today from there. As far as documentation to build it, I unfortunately don't have any. Nor do I have any documentation in the code (though I have a coup

[2012-10-03 08:09] brabalan opened #105 "Slate does not launch ("weird reason: 13" in the logs)"
Slate does not launch because of EAccess (unauthorized). Looking at the file installed through the dmg, it seems the application is not executable:

[code]

Doing a "chmod a+x" on the Slate binary solves this issue. Is this a packaging problem?

[2012-10-03 08:20] emgsilva opened #106 "Slate crashes (Crash reports)"
Hi there,

Since I installed slate (3/4 days ago), it has "crashed" twice. Not sure when this took place, but bellow I send you extracts of the crash reports (from /Users/me/Library/CrashReporter/).

**report 1**

[code]

**report 2**

[code]

Not sure if this is helpful, If you want I can send you the complete reports. I have the latest version installed.

Thank you for this amazing tool... I am

[2012-10-03 09:37] ThisIsMissEm opened #107 "Ability to center windows on screen / move windows without changing size."
Hopefully this isn't a case of me reading the documentation wrong, but I'm trying to set up something similar to sizeup's `cmd + alt + ctrl + c`, which centers the current window on the screen. All that I can get working is it centering on one axis.

[2012-10-03 17:22] mohanzhang commented on #103
No worries--I totally understand. That's kind of what you get for appearing on the frontpage of HN with a free, easy-to-use, open-source project that solves a real problem for a bunch of rabid devs :)

Anyway, it turns out that in order to get the latest xcode, I need to upgrade from Snow Leopard. I'm not convinced that I want to do that right now, so I'll have to temporarily retract my enthusiasm

[2012-10-03 17:31] jigish commented on #105
Ugh. I keep forgetting to make things executable after copying. I'll fix this.

[2012-10-03 17:35] jigish commented on #107
it is a bit complicated but here is what it should look like:

`bind c:ctrl;alt;cmd move screenOriginX+screenSizeX/2-windowSizeX/2;screenOriginY+screenSizeY/2-windowSizeY/2 windowSizeX;windowSizeY`

[2012-10-03 17:35] #107 closed, assigned to jigish

[2012-10-03 17:40] jigish commented on #106
O man thats irritating lol. I'll try to look in to this, it may help if I can get the OS X version you're using as well as your .slate file and usage patterns (e.g. I use X binding a lot, but Y binding barely at all, etc). It'll help me pinpoint where this is coming from.

Sorry about the crash - thought I squashed all these cases a while ago =/.

[2012-10-03 18:03] paddykontschak commented on #103
@mohanzhang Xcode 4.2 is/was available for Snow Leopard. Apple was so _nice_ to remove it from their servers but you can find it on [TPB](http://thepiratebay.se/torrent/6721955/). I realize that not everyone is a friend of torrents but in this case Apple is not even helping developers on old OS X versions anymore.

[2012-10-03 18:04] emgsilva commented on #106
Hi Jigish, no problem... I understand and know that there are always some hidden bugs :p

Here is my .slate (it is very close to the one you suggest):

[code]

I am using Lion... Furthermore, I do use an external display, and these last days I have changed from using the external display, and the macbook alone many times. I do not think Slate crashed while I was using it, as I did not notice the c

[2012-10-03 18:29] jigish commented on #105
Should be fixed now. And in every future version. You should re-download it, though because not only the Slate binary needs to be executable, but the "finish_installation" binary within the Sparkle Framework as well. I've re-uploaded the dmg so if you download it again you should be fine.

[2012-10-03 18:29] #105 closed, assigned to jigish

[2012-10-03 18:32] jigish commented on #104
This is done. will be fixed in 1.0.6

[2012-10-03 18:32] #104 closed, assigned to jigish

[2012-10-03 18:40] jigish commented on #106
Hmm. When you say "crash" do you mean Slate dies? or does it recover and continue running? Also, if you could, the complete reports would be great. Kind of hard to find where this is happening -- hopefully the complete report will shed more light on it.

[2012-10-03 18:48] jigish commented on #106
Also, do you use spaces by any chance?

[2012-10-03 18:53] jigish commented on #59
This should be fixed. Well, at least it doesn't break now by default.

[2012-10-03 18:53] #59 closed, assigned to jigish

[2012-10-03 19:50] jigish commented on #78
Huh. Looks like I'm shit out of luck: http://thecocoabots.com/blog/post/377/

The Apple banhammer strikes again!

I won't give up on this feature as I would really love it myself, but unfortunately I was thinking I'd try to throw together some applescript to do this as programmatically it doesn't seem possible with Apple's current APIs and according to the Hyperspaces dev team this is no longer po

[2012-10-03 20:08] zlandau commented on #78
This may have horrible performance, but I wonder how hard it would be to implement 'virtual spaces'. So Slate would keep track of what is on each virtual space, and when you switch one it basically just minimizes the current applications and lays out the applications on the new slate? It might be too slow to be useful, but it might be worth a shot.

[2012-10-03 20:21] jigish commented on #78
Hmm. good idea. I can try playing around with it. Its going to be lower priority though as I think it'll be a bit more trouble than it is worth.

[2012-10-03 20:24] wez commented on #91
Have you considered just embedding something like Lua for the configuration file and using that instead of a custom parser?  I have experience with this and can put something together as an example if you're not opposed to it.

[2012-10-03 20:30] jigish commented on #91
I actually have not. That seems like a good idea as I can push the parsing into a library and not worry about, but I'm not terribly familiar with Lua. I'd be down to learn. If you want to throw together as an example I can take a look and see what I can do. Obviously I'd have to support both styles (or have a old to new converter) for it to be viable.

[2012-10-03 20:32] tomusher commented on #78
That's a pity, can only hope official APIs exist one day.

To avoid hacky solutions getting in to Slate, perhaps you could (through your plan for terminal support), give users some tools to script their own ways around it. For example, if it's possible to force a window to the current space, we could do something like:

[code]

[2012-10-03 20:36] jigish commented on #78
Yah, thats the plan. Issue #85 will track the command line support. Ideally I'd just allow triggering bindings and such from command-line and users can create their own shell scripts that they can keybind. I can potentially even add the ability to keybind scripts directly in the .slate file (now that I think about it, that sounds like a great idea...).

[2012-10-03 20:39] jigish commented on #85
As mentioned in Issue #78, add a bind operation for shell scripts as well.

[2012-10-03 21:04] wez commented on #91
I'll work up an example and send you a pull request.  I have a couple of others outstanding, so expect a couple of contributions by the weekend.

[2012-10-03 21:11] emgsilva commented on #106
When I say "crash", indeed I mean that it completely "dies"... and I need to launch it again, there is no automatic recovery.

I do use multiple spaces, and also use "Stay" app (http://cordlessdog.com/stay/) to handle fixed window positions for some specific Apps I use very often... Stay+Slate is amazing for window management ;)

Bellow you can find a complete report (it is a long file), good luck

[2012-10-03 21:40] mohanzhang commented on #103
Thanks @paddykontschak - For the record, I neither deny nor acknowledge the existence of this torrent.

@jigish But suppose hypothetically that I got Xcode 4.2 via some means and then tried to build the project again. I'd, uh, _probably_ get errors like the following:

.../slate/Slate/SlateAppDelegate.m:36:13: error: existing ivar 'currentHintOperation' for unsafe_unretained property 'currentHintO

[2012-10-03 21:49] jigish commented on #103
hmm. thats a good question. I'm using Xcode 4.5 so i'm not getting that error. From what I can tell it would be complaining about how the properties are declared for some reason. Probably adding something like `(strong)` after `@property` would fix it. This would be a problem most likely fixed by Apple's compiler upgrades since 4.2.

[2012-10-03 23:19] mohanzhang commented on #103
I think you're right. Adding (strong) made the error go away. I read briefly about the issue and it does seem that there was a change in ARC in later versions of Xcode. Xcode 4.2 starts out with 7 errors initially, but as files compile successfully after being fixed in the above way, those lower in the dependency chain that were previously not touched then start giving similar errors, creating a c

[2012-10-04 06:34] brabalan commented on #105
Thanks, it's working now.

[2012-10-04 09:06] brabalan opened #108 "Document the difference between "up" and "above", "down" and "below", and what is "behind""
I'm trying to find some shortcuts to focus between windows, and reading issue #67 was very useful in understanding how "focus left" and "focus right" work. Unfortunately I don't understand the difference between "up"  and "above", and between "down" and "below".

I've also tried using "behind", but cannot make it work. I have two identically windows from the same application stacked one over the o

[2012-10-04 09:19] brabalan opened #109 "configuration "windowHintsIgnoreHiddenWindows" not taken into account when focusing"
I have "config windowHintsIgnoreHiddenWindows true" in my .slate file. If I do a "Hide Others" from an application, then move using "focus left" or "focus right", windows from other applications will still be selected, even though they are hidden.

[2012-10-04 13:24] pstadler commented on #24
My [.slate](https://github.com/pstadler/dotfiles/blob/master/slate) for reference.

[2012-10-04 16:12] oneness opened #110 "Feature: pin a window (keep it afoat)"
I love slate and I wish it had pin a window feature.

[2012-10-04 19:08] jigish commented on #108
So up and above are the same thing. above is an alias for up. Same with down and below.

Behind is a bit quirky. It will try to focus a window whose z-index is lower and is behind the current window. A lot of the window selection is based on titles and such so if you have a lot of windows layered on top of each other it won't work very well. I would suggest only using behind when you have two wind

[2012-10-04 19:08] #108 closed, assigned to jigish

[2012-10-04 19:10] jigish commented on #109
Couple of things here
1. `windowHintsIgnoreHiddenWindows` is only for the Window Hints feature. It is meant to ignore windows that are not visible on the screen
2. If your window is hidden, you should not be able to focus to it. I just tried and can replicate what you are saying. I'll fix that.

[2012-10-04 19:10] jigish commented on #110
This is a dup of Issue #82.

[2012-10-04 19:10] #110 closed, assigned to nobody

[2012-10-04 19:51] joaogeada commented on #78
There is a set key bindings that will cause a window whose title is clicked & held to be moved to another space:
Ctrl-&lt;num&gt;
So Ctrl-1 while clicking & holding the title of a window will cause that window to move to the first Space.
If you could synthetically generate the same set of events from within Slate you'd effectively have the required behavior without needing a Spaces API per-se. Yea

[2012-10-05 06:48] brabalan commented on #109
1. I was confused about the documentation, which says (for focus) "minimized and hidden windows are ignored and a couple global configuration options set using the config directive exist to tweak this". As this is the only option I found about hidden windows, I thought this was it.
2. Great, thanks!

[2012-10-05 09:52] jlebrech opened #112 "Is it possible to detach and move tabs in applications?"
for example I have sublime text and I want to move from vertical split panes in sublime to a window on each monitor.

or for example move my iterm tabs around

if this isn't possible, would it be possible to create a script that will send a command to sublime for it to detach a tab before slate starts moving them.

[2012-10-05 18:04] 5avage opened #113 "Google Chrome - piping not working"
I've tried everything I can think of to make this work:

[code]

All Chrome windows always go to the first piped value, stacked on top of each other. I've verified the aliases independently, and if I change the order the chrome windows all go to the "2full" instead of "lr40".  If I switch iTerm with Chrome, it works correctly with multiple iTerm windows, so it seems particular to Chrome.

[2012-10-05 18:07] jigish commented on #112
As part of Issue #85 I'm going to try to add before and after hooks so that you can execute a shell command before/after a slate binding runs. That should make this possible. Moving tabs around would be application-specific so I probably won't add that functionality directly in to slate.

[2012-10-05 18:22] jigish commented on #113
So Chrome has some issues in that when you try to move/resize the window it moves and resizes but reports that it failed to do so. As a result you need to add the "IGNORE_FAIL" option:

[code]

[2012-10-05 18:22] #113 closed, assigned to jigish

[2012-10-05 18:23] jigish commented on #113
For the record, Adium has the same issue in case you use it as well.

[2012-10-05 18:24] jigish commented on #109
Ah, I'll fix my documentation as well to be more clear.

[2012-10-05 18:26] 5avage commented on #113
Awesome, that did the trick, thanks!

[2012-10-05 19:47] jlebrech commented on #112
That's great

[2012-10-05 21:46] SethMilliken opened #114 "add new `sequence` operation"
An operation similar to `chain`, but simpler in that it allows a binding to execute all pipe-delimited operations sequentially in a single invocation.

USE CASE: A `throw` operation that both resizes _and_ repositions the window.

EXAMPLE: with the proposed `sequence` operation:

[code]

I could imagine useful scenarios involving adding a `nudge` a `focus` or even a `hint` to a sequence, too (e.g.

[2012-10-05 22:05] jigish commented on #114
Sounds like a good idea.

The issue with doing this with something like `hint` is that `hint` breaks the current event loop while waiting for the input so you'd have to restrict `hint` to being the last operation.

Either way I like it and I'll try to implement it soon. Should be pretty easy because the basis is already there with the `chain` operation

[2012-10-05 22:27] jigish commented on #109
Fixed. This will be in the next release (1.0.6)

[2012-10-05 22:27] #109 closed, assigned to jigish

[2012-10-05 22:37] jigish commented on #85
And as mentioned in Issue #112, add before/after hooks for shell scripts

[2012-10-05 22:37] jigish commented on #112
Tracking the command line stuff in #85, closing this issue.

[2012-10-05 22:37] #112 closed, assigned to jigish

[2012-10-05 23:50] SethMilliken commented on #100
@robacarp I'd be very surprised if you're an outlier. This project is like a neodymium magnet for terminal editor and multiplexer vets on OS X. :smile:

[2012-10-06 00:44] jigish commented on #114
Done. will be in 1.0.6 which I'm pushing shortly

[2012-10-06 00:44] #114 closed, assigned to jigish

[2012-10-06 07:59] brabalan opened #116 "keys bound to the same thing have different behavior?"
I have a very simple .slate file:

[code]

When I do a cmd alt up or cmd alt down, I sometimes get a different behavior. Here is one I found reproducible.

I have two emacs windows on the left hand side of the screen, with the exact same size (620x873), stacked one over the other. I also have a Firefox window almost maximized to the whole screen (1436 x 878). If I put the emacs windows forward (by

[2012-10-06 09:32] durdn commented on #101
I would totally love this too. Having a tiling layout like Xmonad or dwm (http://dwm.suckless.org) would make Slate even more awesome.

[2012-10-06 11:27] ansother commented on #78
sizeup seems to have figured out a way. It works on 10.8 now.

[2012-10-06 12:47] fechu opened #117 "Focus application"
I would really like to see an option to use `focus` also with an AppName. It should work in a way the frontmost window of the application is focused.

I would try to implement it if that knows the project could guide me where I have to start looking.

[2012-10-06 20:34] jigish commented on #116
Hmm. That interesting. I'll admit that "focus behind" is a bit quirky right now but this sounds really weird. I'll take a look.

[2012-10-06 21:44] jigish commented on #117
This was actually really simple and I had some time today so I implemented it. It will be in the next version (1.0.7) when I release it.

[2012-10-06 21:44] #117 closed, assigned to jigish

[2012-10-06 22:04] jigish commented on #103
So actually I thought it would be kind of elegant to use the ordering of the directives in the .slate file to be the order in which the windows are focused. So the last one specified would be the last focused and therefore the one that is focused at the end of the layout operation. This way we have consistent behavior regardless of what order the windows are in windowsArrRef. I actually may get ar

[2012-10-07 00:04] jigish commented on #103
This is done. Will be in version 1.0.7 when I push it. The config is called `layoutFocusOnActivate`. I like the first word in the config name to be the operation it touches so it is a bit easier to figure out what they do.

Basically, if set to true, it will focus all windows that the layout operation touches in the order that it touches them. The order will be the order in which the applications

[2012-10-07 00:04] #103 closed, assigned to jigish

[2012-10-07 01:07] aonic opened #118 "Ability to "Hide" Applications"
This might be considered a workaround for #78 but even as a stand alone feature it would be a good idea. Being able to configure windows to be CMD+H (Hidden) from view.

A use case for this would be hiding terminal, text editors, and other development tools from view when just browsing the web or watching videos, or hiding side project windows and apps from view and un-hiding work related project

[2012-10-07 02:20] mohanzhang commented on #103
Nice! Many thanks!

[2012-10-07 09:07] jigish commented on #118
This is done. I've added the ability to hide, show, and toggle a list of applications.

[2012-10-07 09:07] #118 closed, assigned to jigish

[2012-10-07 09:51] seletz opened #120 "using fn as a modal key defuct"
Hi, first I **love** slate.  And I'm mostly living in terminal and MacVim, and thus #100 is
right for me.

However, I seem to be unable to use `fn` as a modal-key.  Am I missing something?

[2012-10-07 10:07] jigish commented on #120
Interesting. it seems as though fn is reserved as a modifier in OS X. I'll have to remove it from Allowed Keys. Unfortunately this means unless I jump through hoops that I really don't want to I won't be able to allow it for use as a modal-key =/. Sorry!

[2012-10-07 10:07] #120 closed, assigned to jigish

[2012-10-07 10:08] jigish opened #121 "Enable fn as modifier key"
do it

[2012-10-07 10:08] jigish commented on #120
I've created Issue #120 to at least enable fn as a modifier key

[2012-10-07 10:11] seletz commented on #120
Thanks!  But I think you mean #121 ;)

[2012-10-07 14:48] aonic commented on #118
That was amazingly fast. Thanks!

[2012-10-07 14:51] fechu commented on #117
That's great and really fast!

[2012-10-07 15:06] fechu commented on #117
Hey jigish,
I just tried it out and it works as expected with a `bind` operation. But I cant get it to work in a `layout` operation. I define a layout and bind it to a keystroke. It just resizes the application but doesn't focus it.

`layout surf   'Safari'    throw 1 resize | focus 'Safari'`

[2012-10-07 16:06] brabalan commented on #109
Thanks a lot, it's working great now.

[2012-10-07 17:12] aaronlifton3 commented on #118
Can you retrive the currently running list of applications as a list and make it a variables?
e.g.
    `hide allappsblah > show 'Chrome'`

[2012-10-07 19:29] jigish commented on #117
So there are actually a couple ways you can achieve what I think you are trying to do. `layout` works with operations that move or do things to a particular window and not with things like focus. Here are the couple of options you have:
1. use a `sequence` for a one-off case where you want to just focus one app on one layout.

[code]
1. use `layoutFocusOnActivate` if you always want to focus thing

[2012-10-07 20:04] jigish commented on #118
I've added a couple things. First I added the ability to do something like `show all`. Unfortunately `hide all` doesn't work as you would think because OS X does not allow every single window to be hidden. It will auto-show one of the hidden windows. So to cater to the case that you list, you can do the following:

[code]

This will be available in 1.0.9

[2012-10-07 20:18] jigish commented on #118
1.0.9 is pushed.

[2012-10-07 20:26] aaronlifton3 commented on #118
holy shit, that was fast. definitely a useful feature. thanks for listening to the users, respect. this app is quality, i'll try to contribute to it.

[2012-10-07 21:55] constantin3000 opened #122 "Ability to select all windows except frontmost"
I tried to do a layout for the finder, where i could move the frontmost window into the upper left corner and arrange the rest in a stack with only the titlebar visible in the lower left half of the screen. For that it would be practical if you would have the possibility to select a certain option not only by the number of windows (first one, second one...) but to have a certain option only applie

[2012-10-08 06:58] josh- opened #123 "Localise ALL THE THINGS"
As slate (very deservedly) gains in popularity, I wonder if it would be beneficial to localize it into foreign languages?

I can help with the code for localisation, but since I'm only really fluent in English I'd have to out a call to the community to aid in text translation.

[2012-10-08 07:00] josh- opened #124 "Localise ALL THE THINGS"
As slate (very deservedly) gains in popularity, I wonder if it would be beneficial to localize it into foreign languages?

I can help with the code for localisation, but since I'm only really fluent in English I'd have to out a call to the community to aid in text translation.

[2012-10-08 07:02] #124 closed, assigned to nobody

[2012-10-08 07:02] josh- commented on #124
Derp, sorry - duplicate.

[2012-10-08 07:23] aonic commented on #118
Not sure if this is intentional or not, but I couldn't get the hide/show operation to work with layouts. Not a deal breaker, just thought I'd mention in case it was a bug

[2012-10-08 17:53] jigish commented on #123
Sounds like a good idea, but what exactly do you think should be localized? I think it makes sense for error messages and the menu bar stuff but localizing the config directives could get really _really_ irritating.

[2012-10-08 17:58] jigish commented on #118
Ah yah I need to update the readme to be more clear. Layout cannot work with anything that does not apply to a single window. It is meant only for move related operations. If you want to tie hide/show in with layouts:

[code]

[2012-10-08 18:07] jigish commented on #122
Hmm. Sounds fun to implement lol. I'll think of something.

Here is what I'm thinking so far:
- add some sort of option to `REPEAT` so it can be like `REPEAT[start,end]` where start is the start index of the repeat and end is the end index of the repeat
- add an auto-alias for layouts like `${layoutWindowNumber}` that will be replaced with the current window iteration number before each individual

[2012-10-08 18:13] jigish commented on #100
Forgot to update this. This is done in 1.0.7 (we're up to 1.0.9 now). Here is an example:

[code]

This will cause f6 to become a modal key. You press f6 and the slate icon on your menu bar will turn blue to indicate you are in modal mode. Then you press 1 and the binding will activate. Currently I haven't added any way to cancel modal mode. Do you think that is something that would be useful?

[2012-10-08 18:13] #100 closed, assigned to jigish

[2012-10-08 18:14] jigish commented on #100
Also you can use any key in the list of allowed keys in the readme as a modal key.

[2012-10-08 18:47] robacarp commented on #100
This is perfect.  Thanks @jigish, top notch.

[2012-10-08 19:17] hjon commented on #100
Maybe this is no longer in the spirit of this request, but would it also be possible to use more than one key for modal? For example, I've had Alt-` as a global shortcut for another window management program, similar to @robacarp.

[2012-10-08 19:21] SethMilliken commented on #100
@jigish This is a great addition. Any chance of allowing the modal key to include modifiers? (I'm currently using e.g. `Command-Control-w` mapped to `f17` with KeyRemap4MacBook in order to work around this, so not a huge deal for me, but I'm sure others would appreciate it).

[2012-10-08 19:43] jigish opened #125 "Support modifiers with modal keys"
like this:

[code]

[2012-10-08 19:44] jigish commented on #100
Good call. Issue #125 will track it.

[2012-10-08 21:45] asawilliams commented on #31
how about just a shortcut to open the config file in a text editor?  I find it helpful when trying to remember which commands do what and for fixing command collisions I occasionally find.

[2012-10-09 05:08] josh- commented on #123
Exactly - I was just thinking the menu bar items, error messages and potentially the documentation (similar to what's currently in README.md)

[2012-10-09 08:19] constantin3000 commented on #122
Yes sounds good, something like this should work. Maybe also with the ability to say e.g.
REPEAT[1,-1] to let it repeat that option from the second to the last window

[2012-10-09 08:23] constantin3000 commented on #123
I think aswell that the menu and error messages should be translated. I could provide translations into german if needed.

[2012-10-09 16:03] arlobryer opened #126 "Hints font configuration"
Hi,

Firstly, amazing app. Complete game changer.

I just updated to 1.0.10 to get the hints icons which is a cool feature. However it seems that I can't change the overlayed font properties anymore (color/size). Am I missing something?

Thanks.

[2012-10-09 16:15] robacarp opened #127 "Modal command isn't configuring properly."
I can't really sort out if I'm doing something wrong in configuring things or if I'm actually onto the scent of a bug.

I'm on 1.0.10, I just upgraded this morning to verify its still doing this.

In my .slate, I have this:

`bind 5:f6 move screenSizeX/3;screenSizeY*7/9 screenSizeX/3;screenSizeY*2/9`

When I hit that key combination, the targeted window should move to 848,1080 with a size of 852,3

[2012-10-09 16:46] arlobryer commented on #126
OK I explored this a bit more. It seems that the font properties are only changed upon restarting the application rather than when selecting 'Load Config' from the menu.

[2012-10-09 18:22] arlobryer opened #128 "Launch process or new window"
Is there an argument for allowing new processes (or windows of a current process/app) to be set to launch from the config file?
This would allow e.g. resizing iTerm to half the screen and have a new iTerm (or other) window launch in the other half with a single binding.

[2012-10-09 18:30] SethMilliken commented on #128
FYI, @jigish discusses adding an operation for running shell commands [here](https://github.com/jigish/slate/issues/78#issuecomment-9121185) and [here](https://github.com/jigish/slate/issues/85).

[2012-10-09 20:05] arlobryer commented on #128
Thanks. I was under the impression that that feature would be to access slate functionality from the cli, although of course if this would also mean slate had a hook to run shell commands that could be used to launch/close programs.

[2012-10-09 20:09] jigish commented on #128
@arlobryer - The idea would be to do both. something like

`bind 1:ctrl shell somthing`

as well as

`$ slate activate 1:ctrl`

[2012-10-09 20:09] #128 closed, assigned to jigish

[2012-10-09 20:13] arlobryer commented on #128
OK. Thanks for the clarification.

[2012-10-09 20:22] jigish commented on #126
Yah the Load Config option is sort of "use at your own risk". I need to add that clarification in the readme. There are a bunch of things that are not re-initialized when you Load Config.

[2012-10-09 20:22] #126 closed, assigned to jigish

[2012-10-09 20:23] arlobryer commented on #126
OK, thanks.

[2012-10-09 20:24] jigish commented on #127
Smells like a bug to me. I'll take a look. As a side note in most cases you're going to want to add in `screenOriginX` and `screenOriginY` to the origin coordinates to make sure it is put onto the right screen.

[2012-10-09 20:27] jigish commented on #24
One thing I've noticed is that neither of you are using `screenOriginX` and `screenOriginY`. Those will be the proper origin under the menu bar which you can then add to. Maybe that will help?

[2012-10-09 20:59] schnittchen opened #129 "Upgrade fails"
It says there'a new version available, lets me choose "Install Update", downloads, unpacks, lets me hit "Install and Relaunch" and then hangs forever on "Installing update...".

I tried to build from source but failed.

I should mention I'm still running on 10.6.

[2012-10-09 21:15] pstadler commented on #24
Ok, I was able to get rid of my custom variable by using `screenOriginY` ([commit diff](https://github.com/pstadler/dotfiles/commit/37239ea156190fdcd0b1603dab041e030f2aae36)).

However, it doesn't really solve the problem as the coordinates for placing windows should start from `0/screenOriginY` and not from `0/0`.

Example: `move 10;10 ...` should internally be translated to `10;32`

Thanks again

[2012-10-09 22:00] jigish commented on #129
Can you do me a favor and do this:

[code]

It is likely the binary for the installation is not executable. Also, which version of Slate are you using?

[2012-10-09 22:06] jigish commented on #24
The issue is when you have multiple monitors, `0,0` refers to the main monitor's `0,0`. In order to get to the second monitor you _need_ `screenOriginX` and `screenOriginY` which is why it should be there for most move operations. I explicitly do _not_ want to auto-append `screenOriginY` to coordinates because it doesn't always make sense. `screenOriginX` and `screenOriginY` are meant to be the "t

[2012-10-09 22:07] jigish commented on #24
What problem are you trying to solve exactly? I feel like there should be a way to do so with the current implementation.

[2012-10-09 23:09] schnittchen commented on #129
Hmm. I'm up-to-date now. So one of the things I tried worked.

I'll close this bug and re-open it when it happens again.

[2012-10-09 23:09] #129 closed, assigned to jigish

[2012-10-10 08:08] pstadler commented on #24
To place a window you say what distance it should have from the top-left pixel. Right now this top-left pixel is above the menubar, and not below it (as it should be, because you can't place windows on the menubar).

That's why I have to calculate the position of the windows by adding 22px (= menubar height) to the Y-coordinate manually.
screenOriginY seems to know about the menubar, its value is

[2012-10-10 10:30] josh- commented on #123
@constantin3000 That sounds fantastic - when I get some spare time I might work on the code and submit a pull, shall I comment in this issue again when that's done and try to organize the German translations?

[2012-10-10 18:39] constantin3000 commented on #123
Yes, sounds good!

[2012-10-10 21:27] jigish commented on #127
Hmm. Ok I can't exactly repro what is happening but from what I can tell it definitely seems like it is because you are not using `screenOriginX` and `screenOriginY`. Here is what I think the bindings should look like:

[code]

`screenOriginX` and `screenOriginY` are the origin coordinates of the current screen. if you don't specify them it will just start at `0,0` which is the top-left of the mon

[2012-10-11 11:39] purcell opened #130 "Detect monitor changes automatically"
It would be great if Slate could apply the appropriate default layouts automatically when monitors are connected/disconnected. Right now it's necessary to click "Load Config" in the menu item, which is clunky.

Sample code for requesting the corresponding notifications can be found in the ControlPlane source code:

https://github.com/dustinrue/ControlPlane/blob/master/Source/MonitorEvidenceSource.

[2012-10-11 11:43] purcell opened #131 "Provide a bindable operation for reloading the slate config"
It would be nice to be able to say

[code]

in order to make Slate reload its config, rather than having to locate and click the menu item.

Having this functionality would also go some way towards relieving the inconvenience described in #130.

Really enjoying Slate so far; I'd been a happy Moom user, and it has been a pretty smooth transition.

[2012-10-11 12:20] purcell opened #132 "Allow modal-key to be a keystroke with modifiers"
To avoid running out of good key sequences, it's desirable to use the modal-key scheme, but the current implementation limits the modal key to unmodified keystrokes.

I'd like to use, say `ctrl + alt + l` as a modal key for layouts, then use single characters for the subsequent keys, e.g. `d` for a "dev" layout, `m` for "mail" etc.

Similarly, I would like to namespace my various `move` commands u

[2012-10-11 12:23] purcell commented on #132
Duplicate of #125 -- sorry!

[2012-10-11 12:23] #132 closed, assigned to nobody

[2012-10-11 17:02] robacarp commented on #127
Welll... that didn't work.  Perhaps something is confused because I'm using dvorak?

I copied and pasted that command into my .slate, loaded config, and it sends windows to the top-left @ 900x900 still.

In my current case, I really only position windows on my primary monitor.  My second screen has a terminal on it, but it is always full screen.  Positioning from 0,0 is what I want, implicit or ex

[2012-10-11 17:08] robacarp commented on #127
I've just stumbled onto another symptom.  I noticed that if I changed the command you provided above to begin with `bind  v:f6 move...` the window moves to a different spot and size, but still not the correct place.  This time it moves to bottom-right of primary screen and becomes ~640x315.

Then, and this is where the magic happened, I did f6 then 5 (which wasn't mapped to anything at all) and th

[2012-10-11 18:38] jigish commented on #127
ok so I really need to document the fact that Load Config is unstable lol. It doesn't do a full reload, but is useful when slightly tweaking existing bindings.

Aside from that, let me see if I understand correctly:
1. You are using dvorak (I'm assuming you're also using the config to enable dvorak right?)
2. modal binding doesn't work but normal binding does
3. screenOriginX did _not_ fix the pro

[2012-10-11 18:52] jigish commented on #130
So this already exists using the "default" directive. If you are already using it an it doesn't work please link me your .slate file so I can take a look.

[2012-10-11 18:54] jigish commented on #131
So the reason why I don't want to do this is because the "Load Config" option in the menu bar is _not_ perfect in any way. Because of the way things are bound it is kind of difficult to clear state and I haven't coded it up yet. As such I won't do this unless Load Config is clean.

[2012-10-11 18:57] btaylor commented on #130
This doesn't seem to work for me when I plug or unplug my 2012 Macbook Air to my external monitor.  Here's my .slate file: http://github.com/btaylor/dotfiles/blob/master/slate/slate.symlink

[2012-10-11 19:23] purcell commented on #130
I'm also on a 2012 MBA plus a DisplayPort external display, and the plug/unplug detection doesn't work. Here's my `.slate`: https://gist.github.com/3874862

[2012-10-11 19:25] purcell commented on #131
But if I click "Load Config" in the menu, is that any safer than triggering it via a binding?

[2012-10-11 19:41] jigish commented on #131
Definitely not, but that doesn't mean it is a good idea :). I feel like if I make it a binding then people will end up using it more and more when it really isn't meant to be used that much at all. If you want to properly reload your config you should really just restart Slate. Load Config really is just meant to update if you change something slightly inside of a binding that already exists.

[2012-10-11 19:44] purcell commented on #131
Aha, I see. How about a `relaunch` operation, then? ;-)

[2012-10-11 19:47] jigish commented on #131
That I can do :)

[2012-10-11 19:48] purcell commented on #131
LOL, great!

[2012-10-11 19:55] btaylor commented on #130
Oh, I should also mention that I'm on Mountain Lion 10.8.2.

[2012-10-11 19:56] purcell commented on #130
Ah yes, me too.

[2012-10-11 19:57] jigish commented on #130
O boy. I _really_ hope they didn't kill the events that I use in 10.8.2. I have Mountain Lion on another box (not my Slate dev box) so I'll try it out soon. And by soon I mean most likely this weekend.

[2012-10-11 19:58] jigish commented on #130
Also, you are saying "Load Config" causes it to snap to your layout? If so it definitely seems like the event is no longer fired which means I'll have to look for a new one.

[2012-10-11 19:59] purcell commented on #130
Yes, that's right; I can force the layout detection based on monitor presence by running "Load Config".

[2012-10-11 20:11] btaylor commented on #130
For the time being, I just bound my layouts to keyboard shortcuts, so it's not _that_ bad, but certainly less than ideal.

[2012-10-11 21:44] jigish commented on #131
Ok. I've changed the "Load Config" to "Relaunch and Load Config". I've also added a relaunch operation. This will be available in the next version (1.0.11)

[2012-10-11 21:44] #131 closed, assigned to jigish

[2012-10-12 06:22] brabalan commented on #122
I hesitated before creating a new issue, but as this is very related to this one, I'll comment here instead.

Edit, short summary: make "all-but" work with move commands inside layout directives.

I would really like the ability to specify a layout for "every window except the ones from this application". My setup is like this: two emacs windows on the left, side by side, and every other windows o

[2012-10-12 07:15] purcell commented on #131
Awesome - thanks!

[2012-10-12 09:50] purcell opened #133 "Extend set of allowed keys"
On non-US keyboards there are a variety of non-ASCII characters which can be typed with a single keypress; for example, Apple's British keyboards have a "§" just below the escape key (where the backtick would be on a US keyboard). Various European layouts have certain accented characters on their own keys.

It'd be great to be able to use those keys for bindings too, particularly because they are

[2012-10-12 13:53] purcell commented on #130
As an additional data point, I just tried setting up some ControlPlane rules based on the attached monitor: it responds immediately and correctly to the plug/unplug events. I can't tell, however, whether it's receiving system notifications or just polling frequently.

[2012-10-13 16:40] tzarskyz opened #134 "Is the function (fn) key usable as a modifier? Thought so, but can't seem to get it to work…"
First of all thank you for creating this app and making the source available. Although I can't do much with the source it is still amazing and generous. I'd love to donate so if you have a donate button I missed somewhere please point me in that direction.

As for my question… I saw the list of available keys and saw "f" before f1, f2, etc… so I was thinking that might stand for the function key "

[2012-10-13 17:50] rudle opened #135 "Window Hints should work for non-QWERTY layouts"
Right now activating a window hint requires sending the exact keycode that would map to the ASCII character on a standard QWERTY keyboard. It would be great if it went trough an abstraction layer that matched on the value of the keypress, instead of the keycode itself.

[2012-10-13 17:54] rudle commented on #135
This is a dupe, should've done a better search.
See https://github.com/jigish/slate/issues/99

For posterity, `config keyboardLayout dvorak` at the _top_ of the file seems to do the trick for window hints.

[2012-10-13 17:54] #135 closed, assigned to nobody

[2012-10-13 20:40] jigish commented on #133
I can definitely do this but unfortunately I would need the mapping between the key itself and the OS X key code. I'll see if i can dig it up myself and update here if i can.

[2012-10-13 20:52] jigish commented on #134
Thanks for the kind words :).

So f1, f2, f3 and such are the keys above the number keys on most keyboards. Issue #120 is tracking the ability to use fn as a modifier key but I'm not 100% sure if it is even possible.

[2012-10-13 20:52] #134 closed, assigned to jigish

[2012-10-14 01:21] tzarskyz commented on #134
thanks for pointing me to the issue about using the function key as a modifier, that would be amazing if possible. I know apps like "WindowKeys" are able to use the "fn" key + arrows to move windows so it must be possible somehow. By the way, is there no way to donate and support development? If so please let me know! Cheers and thanks again for the best open source app I have seen in ages.

[2012-10-14 02:45] romaimperator commented on #78
It looks like you can get the current space ID, (http://stackoverflow.com/questions/554380/how-to-detect-which-space-the-user-is-on-in-mac-os-x-leopard and a more recent discussion http://stackoverflow.com/questions/6768684/osx-lion-applescript-how-to-get-current-space-from-mission-control) which could be used in the configuration to identify which space you want windows on just like can currently

[2012-10-14 14:51] trishume commented on #89
Also it is currently written entirely in Objective-C, which is a problem...

[2012-10-14 16:42] arlobryer opened #136 "Binding options"
Hi,

It might be nice to be able to select which option to use from a key binding. For example, when resizing it would be nice to be able to select which anchor to use:

anchor = (optional) which corner to anchor on top-left|top-right|bottom-left|bottom-right (default is top-left)

by pressing e.g. ctrl+u (top-left), ctrl+o (top-right) etc.

and then being able to use the previously set resize com

[2012-10-14 16:47] arlobryer commented on #136
Actually better still might be the option to switch between anchors (or other options) with a binding. So in this case you'd be able to switch between anchors with 'ctrl+u', similar to the 'chain' operation.

[2012-10-15 05:32] robacarp opened #137 "Slate was crashing on launch."
I'm not really sure how I got it to this place, but slate is crashing on my system before it can launch.  It crashed at one point a few days ago, then it wouldn't restart until I rebooted.    Its not a persistent issue or anything, but I thought you might want to take a look:

[code]

[2012-10-15 10:24] jbleuzen commented on #133
Hi,
I'm french and I also would love to see more non-ASCII characters mapped in Slate...
There is an app called KeyCodes (I'm not related with the author) that will tell you all infos about the key you press...

http://manytricks.com/keycodes/

After, maybe the best thing would be to have a list of characters that people would like to see implemented. They can provide the character and the Keycode

[2012-10-15 21:17] robacarp commented on #127
Eh, mostly.

Given your comment that Load Config isn't considered stable code, then I wouldn't worry about it.
1. I am using dvorak, and it is configured as such in .slate
2. I only have modal bindings mapped, and they work fine when I quit + reopen slate.  As far as regular mappings, I have no test background.
3. changing the mappings to include screenOriginX did not alter the behavior whatsoever

[2012-10-16 07:29] purcell commented on #133
Hey, so if you switch keyboard layouts to Dvorak, do the keycodes for the alphabet characters change? ie. do the keycodes identify physical keys?

[2012-10-16 17:31] jigish commented on #127
Ah so this is a Load Config issue then. Thats good because #131 is done and will be in the next version. It will fix Load Config by completely reloading Slate when you use that option. Closing this issue.

[2012-10-16 17:31] #127 closed, assigned to jigish

[2012-10-17 18:05] jigish commented on #133
@purcell key codes identify physical keys which is why you need the config for dvorak if you use it. I maintain a hash from key character -> key code (there is no reverse lookup built in to Objective-C unfortunately) for both dvorak and qwerty.

@jbleuzen I think you have the right idea. Thats the app I used to get my initial values. Unfortunately I don't have any non-US keyboards laying around so

[2012-10-17 18:48] jigish commented on #121
This is implemented and will be in version 1.0.12

[2012-10-17 18:48] #121 closed, assigned to jigish

[2012-10-17 18:49] jigish commented on #133
Another option would be for me to add a config directive that you can use to specify additional keys and their corresponding key code. This may work well as a temporary solution.

[2012-10-17 18:50] jigish commented on #125
This is done and pushed with version 1.0.11

[2012-10-17 18:50] #125 closed, assigned to jigish

[2012-10-17 18:52] purcell commented on #133
Perhaps you could support a syntax in the config file for specifying the key code directly, e.g. `[1243]`.

[2012-10-17 18:56] jigish commented on #133
True. That would remove the need for yet another config and you can always use aliases to make it prettier. I like it.

[2012-10-17 19:15] purcell commented on #133
I can also imagine a perverse scheme where you'd fire all possible key codes into a hidden text field, and see what characters come out -- you could then create a look-up table mapping characters back to key codes... bleurgh!

[2012-10-17 21:40] jigish commented on #85
I've added the `shell` operation. Will be available in 1.0.12. I'm keeping this open until I implement a command line version of slate.

[2012-10-19 00:32] tzarskyz commented on #121
Hmm, updated to version 1.0.12 and "fn" is still not being recognized as a modifer in bindings. Maybe it is not fully implemented yet or my settings are wrong? Again, thank you so much for your work on Slate. It has become an indispensable tool. I can finally ditch windowkeys when fn works for moving windows. If it helps here is an example of how I have fn setup… pretty much ripped right from the

[2012-10-19 00:43] jigish commented on #121
O man it looks like for some reason Apple is not firing things correctly when using function with arrows. Either that or OS X is eating the event. Using function with other keys works just fine. I'll look in to this more but it seems like there may not be much that I can do about it.

[2012-10-19 02:20] tzarskyz commented on #121
Okay thanks for getting back to me, I will try it with other keys in the meantime. I don't want to say it "has" to be possible but the previous app I used before discovering Slate was "WindowKeys" and it allows function with arrow keys. I have no programming knowledge so I can't really say much on it but the developer is actually a pretty nice guy and it might be worth asking him if you get stuck

[2012-10-19 07:08] SethMilliken commented on #121
FWIW, I'm pretty sure `fn` + arrow keys generate `Home`, `End`, `PgUp`, `PgDown` by default.

[2012-10-19 23:05] tzarskyz commented on #121
FWIW, you solved my problem! Many thanks for chiming in.

[2012-10-26 16:08] emgsilva commented on #106
Hi Jigish, just to let you know that since I reported the bug I have updated to the multiple releases you made and did not experience this crash any more... not sure if you addressed it, but just would like to let you know this :) Cheers!

[2012-10-27 01:05] al3xandru opened #138 "Move doesn't use the current screen"
The following binding:

`bind f:cmd;alt;shift        move 0;0 screenSizeX;screenSizeY`

doesn't use the current screen. Tried it with both  `defaultToCurrentScreen` set to true or false.

Slate: 1.0.12
Mac OS X 10.8.2

[2012-10-27 01:07] al3xandru opened #139 "Binding switch to Cmd+Tab doesn't work in Mountain Lion"
I've tried to bind `switch window` to cmd+tab, but this doesn't seem to work in Mountain Lion.

[code]

[2012-10-27 02:51] tzarskyz commented on #139
Works for me on 10.8.2 just as you have it listed above...

[2012-10-27 06:04] al3xandru commented on #139
What could be different that would make it not work?

[2012-10-27 21:31] jigish commented on #138
Couple things:
1. `defaultToCurrentScreen` should be `true`
2. Instead of `0;0` it should be `screenOriginX;screenOriginY`

If that doesn't work please send me your `.slate` file and I can look at it.

[2012-10-27 21:34] jigish commented on #139
So the `switch` operation is currently in an awkwardly half-working state. Also, `switch window` is pretty much broken in a lot of cases. Mainly because binding cmd+tab is not as easy as binding another key combination. I have to literally hijack cmd+tab from the operating system, do the binding, and then prevent it from propagating onwards. To be honest I'd say don't use the `switch` operation ye

[2012-10-27 21:35] jigish commented on #139
Also spaces will likely break `switch window`

[2012-10-27 21:36] jigish commented on #106
Nice. I made some changes that I thought may fix this but I wasn't sure. Glad it did :). If this comes back let me know.

[2012-10-27 21:36] #106 closed, assigned to jigish

[2012-10-29 14:55] minimal opened #140 "Slate freezes on interaction"
Sometimes slate will freeze for 5 to 20 seconds anytime I try to
interact with it. E.g. clicking on the icon will show the spinner for
a number of seconds before showing the menus. Or a shortcut will not
execute for some time after it is pressed. Actions will appear not to
work and then they will all happen in sequence after a delay.

This problem occurs every so often and once it has started it d

[2012-10-29 18:57] jigish commented on #140
Hey Chris, yah there is a bunch of information that could help. If you can, I need:
1. OS version
2. .slate file
3. usage patterns (e.g. I use window hints a _lot_ but I don't use the chain binding all that much)
4. what you are usually doing when it freezes
5. any other applications you use that could potentially be interacting with things slate uses (other window managers or key binders and such

[2012-10-29 19:00] jigish commented on #136
Hey,

I totally understand your point but I am wondering why simply creating two bindings doesn't solve the problem? Implementing the ability to bind multiple keys within a single bind directive is actually completely against my current architecture and could take a lot of effort to implement. If you can use multiple bindings to achieve the same effect I think it would be better to just use that t

[2012-10-29 22:41] arlobryer commented on #136
Hi,

Ah, didn't realise it contradicted the design so far. I guess I was imagining it would add flexibility by letting you 'multiply out' the commands as it were (say 4 option commands and 4 resize commands for a total of 16 resize possibilities). I think I was imagining that the chain operation could be adapted to this purpose.
Assigning separate bindings totally works too though and is the solut

[2012-10-30 08:34] kwalkest opened #141 "bind cmd-` to send front window to the back of application's windows?"
I just installed Slate earlier tonight and it has already earned its place in my login items. I thought there might be a way to map back to the "send front window to back of current app's windows" operation onto command-backtick (that is, cmd-`) like it was in older Mac OS X releases, but unfortunately have not been able to find any to do it. Can I make a feature request for this behavior?

**Ramb

[2012-10-30 15:44] minimal commented on #140
Hi Jigish

OS X 10.7.4
my slate is at
https://github.com/minimal/dotfiles/blob/d590c70f70a91b26f63385eed68c6200e9f46e81/default.slate

I mainly use it for setting multi window layouts of chrome, iterm and
emacs across two monitors. (at bottom of slate file - layout dev)

Not usually doing anything in particular, just at one point it starts
pausing whenever I tried to use it or click on the icon.

[2012-10-31 08:59] tjomk commented on #101
Upvoting this feature. That would me great!

[2012-10-31 08:59] thomaskern opened #142 "Hints show up only for titlebar-visible windows"
on 10.8.2 it seems Hints only show up for windows that have the titlebar visible.
Even if the window is otherwise visible it won't show any Hints. A window has to completely overlap the titlebar, if even the smallest fraction of the titlebar is visible, slate shows a hint

[2012-10-31 10:51] badders commented on #140
Just want to confirm this bug, am getting it myself. Fully updated mountain lion, on the new macbook pro. This is the one with the retina display running at the 'best for retina' display resolution.

.slate is pretty simple, all i have is it setup to put windows over half screen:

config defaultToCurrentScreen true
config nudgePercentOf screenSize
config resizePercentOf screenSize

alias left-half

[2012-10-31 18:03] trishume commented on #140
I have encountered this problem when unplugging and plugging in new monitors on a retina macbook. It occurs infrequently and all the times it has happened restarting slate a few times has fixed it.

[2012-11-07 21:50] anonfunc opened #147 "screenOrigin[XY] with hidden menu bars"
When using `move screenOriginX;screenOriginY screenSizeX;screenSizeY` with a hidden menu bar (as enabled with [MenuAndDockless](http://createlivelove.com/79/menuanddockless-20/) or [MenuBarHider](https://github.com/Crazor/MenuBarHider)), there is a small strip of unused space at the very top of the screen where the menu bar would live.

Ideally, there would be a config option to use the whole scre

[2012-11-07 22:57] paddykontschak commented on #147
`screenOrigin` is accounting for the menubar. `screenSize` however does not. Just change your configuration to `move screenSizeX;screenSizeY screenSizeX;screenSizeY` and you have the whole screen available.

[2012-11-07 23:06] anonfunc commented on #147
`move screenSizeX;screenSizeY screenSizeX;screenSizeY` puts the window at the bottom of the screen. (Ironically, it sticks up about the height of the menu bar, otherwise I would have been very confused.)

`move screenSizeX;0 screenSizeX;screenSizeY` works for me, but only because my monitors are in a line from left to right and the same resolution.  That is sufficient for my use case, however.

[2012-11-07 23:07] #147 closed, assigned to nobody

[2012-11-07 23:30] wmayner opened #148 "Take a snapshot of all desktops?"
I'm using the default configuration, and taking a snapshot seems to only record window states on the current desktop.

Is there a way to take and activate snapshots across all desktops at once?

[2012-11-07 23:34] wmayner commented on #78
This feature would be incredible - I've been desperately searching for something that can do this.

[2012-11-07 23:35] wmayner commented on #148
Oh, this has already been requested!

https://github.com/jigish/slate/issues/78

[2012-11-07 23:35] #148 closed, assigned to nobody

[2012-11-08 22:15] wmayner commented on #121
I'm having trouble using `fn` as a modifier in conjunction with `alt`, `ctrl`, and `cmd` all at once:

[code]

doesn't seem to work for me. Apologies if I'm doing something wrong; just started using it and still getting used to it. Thanks for making such an awesome app!

[2012-11-14 14:25] eproxus opened #149 "Allow backwards shift"
It should be possible to reverse the direction of the window switcher, using for example `tab:cmd;shift` just like in the normal OSX window switcher.

[2012-11-14 14:28] eproxus opened #150 "Make window switcher aware of hidden applications"
It should be possible to configure the window switcher to send an application to the back of the list when hiding an application in OSX (using `Cmd+H`).

This means, "last focused" should ignore / down prioritize hidden applications. This was actually the behavior in OSX prior to Lion and I miss the feature dearly. The workflow was roughly "do stuff in app A, then app B, then app C, hide app C, sw

[2012-11-15 08:47] muescha commented on #91
How about to use ruby for configuration file?

[2012-11-15 22:22] btaylor commented on #130
Any updates on this?  I may try to find some time over the holidays to play with this if no one has put any work into it.

[2012-11-16 09:41] v-yarotsky commented on #91
I think conditionals would allow to have same key binding for 'push' and 'throw' if already pushed, like this:

[code]

I could also help implementing a ruby DSL for configuration file :)

[2012-11-16 09:50] v-yarotsky commented on #100
It would be great to have some kind of 'sticky' modal key option,
so I can press my modal key and then use corresponding key bindings (preferably with other key modifiers) N times, until I hit the modal key again, or some special combination (such as Esc).
Something similar to resizing panes in tmux - hit ctrl+b, then press arrows while holding alt.
What do you think?

[2012-11-16 23:41] philc commented on #140
I see the same thing from time to time with window hints. Anecdotally, it's when an application window is being unresponsive. Jigish, one possible way to see if there's anything to this bug is to create a quick mac app which blocks the UI thread in a busy-wait loop and see if Slate chokes when trying to get the accessibility information for that window.

[2012-11-16 23:42] philc commented on #85
hawt. Scriptable ftw!

[2012-11-16 23:44] philc commented on #85
I don't have a use case for the command line integration, but it seems to me this would have more power if scripts could just invoke slate commands directly, rather than dealing with the bindings abstraction. e.g. `slate run throw 0`

[2012-11-17 00:01] philc opened #151 "Document the switcher"
I love switch, nice work!

I had to dig through the source to find the default hotkey for moving left through the app list. If you want more people testing it out, you should document the default behavior (e.g. h hides, f kills, ` goes back).

I'd also suggest also having shift work as a prev hotkey in addition to `, so that there's less friction for people coming from the default OSX switcher (ah

[2012-11-17 20:00] trishume commented on #91
+1 for Ruby. Slate is already the best thing ever (thank you @jigish!) but Ruby integration would combine the two best things ever for maximum bestness.

Although using Lua would make me just as happy and would be 10000x times easier to implement. Ruby will not be easy to embed until mruby comes out. Lua is probably a better solution but Ruby would be super cool.

[2012-11-17 20:12] jigish commented on #141
Hmm. I should be able to do this. I'll look into it soon. Been pretty busy as of late so it may take me a week before I can actually look at this properly.

[2012-11-17 20:14] jigish commented on #142
Yah, I check to see if the window is "visible" by checking certain locations on the window. The title bar is one of them. If you can attach a screenshot I can look into the behavior and make it a bit more "smart"

[2012-11-17 20:26] jigish commented on #149
yah I thought about this. I was lazy when I implemented the switcher so I didn't do it. I'll do it now that you've asked for it :)

[2012-11-17 20:28] jigish commented on #150
good call. I'll add this soon.

[2012-11-17 20:31] jigish commented on #151
Ah yah, when I implemented switch I had a _lot_ of trouble getting cmd+tab to work. I figured most people would want to bind switch to cmd+tab so I didn't really document it thinking I'd wait until I figured it out and then do it. I suppose enough people are already using it that I should probably document it now.

Speaking of which, are you binding it to cmd+tab and have to seen any weird behavio

[2012-11-17 20:33] jigish commented on #136
hmm. I do see your point. I'm going to close this issue, but I'll keep this idea in mind for when I revamp how the config file looks.

[2012-11-17 20:33] #136 closed, assigned to nobody

[2012-11-17 20:34] thomaskern commented on #142
here is a screenshot. hope this helps
http://imageshack.us/a/img51/9688/windowhints.jpg

[2012-11-17 20:35] jigish commented on #140
interesting. good call Phil. I'll try that and see what happens.

[2012-11-17 20:39] jigish commented on #91
ruby eh? that sounds like fun. I'll try look into this soon. As I've been posting on other issues, I've been rather busy lately. I probably won't be able to get to this for at least another week. I'm completely open for someone to start looking into this if they have time.

[2012-11-17 21:02] philc commented on #151
Only been using it two days and so I haven't yet, but I'll keep you posted. I LOVE that it shows on all monitors.

[2012-11-19 17:58] schnittchen opened #152 "configurable extensions to menu"
Hi,

I tend to run out of memorable key bindings. For the less-frequently used features, it would be awesome to get to them via the menulet. The grid feature comes to my mind here...

[2012-11-20 16:29] eproxus opened #153 "Variable containing previous position"
I'd like to have access to `windowLastSizeX` or similar (for all values) which would always contain any previous value from the last slate operation (that is, excluding a manual move of the window for example) so that "on / off" like functionality could be implemented.

For example, if you want `Cmd+Alt+Up` issue a vertical resize to 100% of the screen, it would be nice if `Cmd+Alt+Up` could issue

[2012-11-21 03:28] trishume commented on #91
I've looked into this and ruby/macruby seems a bit hard. Some other language possibilities are lua and Nu (an obj-c lip dialect).

[2012-11-21 03:31] trishume commented on #91
I also think that if scriptable configs are implemented they should be used to fix issue #101. Also, typo, Nu is a dialect of _lisp_, Which interestingly would make slate feel like emacs.

The main question for scripting is should it be an extra directive or should the entire config be a DSL? DSL offers more flexibility and in the long run makes adding config options easier but breaks existing con

[2012-11-21 13:30] brabalan commented on #116
I'm very sorry, but this was a bug from my side. I had a Keyboard Maestro shortcut to hide applications that was triggered instead of the slate shortcut. Sorry for the confusion.

[2012-11-21 13:30] #116 closed, assigned to jigish

[2012-11-21 13:32] brabalan commented on #78
osxmonad recently added space support. Their commit has some objective C files that shows how to access some space information.
https://github.com/xmonad/osxmonad/commit/66b1f7431d60287d4449dec2e2251a4ea3a96ff6

[2012-11-21 23:20] philc commented on #55
While buggy, this is mostly complete right? Should we close this in favor of just fixing the bugs?

[2012-11-21 23:22] philc opened #154 "Sometimes when showing the switcher, some windows come forward"
No windows should come forward until the switcher has been exited. What I'm seeing is that the windows of the app that's in the 2nd slot of the switcher come forward. This happens intermittently.

I think jigish has referenced this problem elsewhere, but I thought we should have a single ticket to track it.

[2012-11-22 01:29] philc commented on #75
Any idea why? It's like it just loses hold of the cmd+tab keybinding, and the system tab switcher takes over.

[2012-11-22 19:38] tzarskyz commented on #151
What file in the source has the hotkeys for the switcher so I can check out the keys? Any others besides "(e.g. h hides, f kills, ` goes back)." and q for quit obviously? Thanks.

[2012-11-22 21:31] dangelov commented on #121
Not sure if anyone else is having this issue, but here's what happens to me:
`bind r:fn nudge +10% +0`
seems to bind it only to "r". So me trying to type "trying" would move the window to the right and eat the r.

[2012-11-22 23:04] duskwuff opened #155 "Add a windowHintsIgnoreHiddenApplications option"
Being able to bring forward fully obscured windows with `windowHintsIgnoreHiddenWindows` is nice, but this shouldn't usually include windows that aren't being displayed at all because the application is hidden. Being able to configure the two separately would be awesome.

[2012-11-23 01:50] muescha commented on #91
please not so cryptic languages :-(

i think ruby is more easy to understand for non tech users

PS:
i really miss a GUI for the settings

[2012-11-23 01:54] qmx commented on #91
as much as I love Ruby, it will just make the executable bigger. lua looks like the way to go :)

[2012-11-23 02:48] michaelmior opened #156 "`fn` doesn't seem to work at all"
My `~/.slate` looks like this. 2011 MacBook Pro with OS X 10.7.5 if that matters. Any help would be appreciated :)

[code]

[2012-11-23 04:18] Goles opened #157 "ASCIIToCode_Dvorak.plist logic?"
Hello,

I want to contribute a new keyboard layout, but I can't wrap my head around the logic of  `ASCIIToCode.plist` and `ASCIIToCode_Dvorak.plist`.

Could someone explain me what this files are about?

Thanks.

[2012-11-23 07:03] onemanstartup opened #158 "Focus app toggle"
Example: I want press key to focus on editor (cmd+e) look and get back to previous app. Now I need press another key combination, but it will be great if I can press the same to get back.
Don't know if slate able to do so.

[2012-11-23 08:31] mgax commented on #91
There's also Python, which is quite easy to embed. Keep in mind that MacOS ships with both Ruby and Python, so it's just a question of loading up the framework, and using their embedding APIs.

Some time ago I actually embedded Python with slate; it's probably easy to rebase the patch onto the current `master`: https://github.com/mgax/slate/tree/python.

[2012-11-24 02:55] qmx commented on #91
@mgax out of curiosity, I've started to do the lua version here: https://github.com/qmx/slate/tree/lua_support, using cocoapods to manage the dependency

[2012-11-24 18:23] philc opened #159 "Sometimes cmd+tab acts as if it's held down"
From Jigish in #151:

Sometimes when you activate switch it will think you're holding down the activate binding and forward the selected app all the way to the end of the list without you doing anything. This is because OS X doesn't fire the "button up" event in certain cases. Still looking at how to fix that =/

I've been using Switch for a week and just now saw this bug. Restarting Slate is a wo

[2012-11-24 18:39] philc opened #160 "Document an example config, and start with it"
Now that there are so many features and config files in Slate, it's difficult to understand where to start. the readme is currently written like a reference manual, not a guide. I tried to get a friend hooked on Slate and after scanning the readme and looking through the example config, he said "too much stuff here, dont' know where to start" and abandoned it, going back to SizeUp.

To help make S

[2012-11-25 04:16] sbc commented on #78
SizeUp has this feature, and it works fine on Lion. Specifically they offer:

Would be great to have the equivalent for Slate.

[2012-11-25 21:15] leemarrett commented on #156
Also not working for me; would be great to have fn as an extra modifier.

[2012-11-26 00:56] nipper opened #162 "Grid arrow key control?"
Hopefully I'm not missing this, but if I am i'm sorry! I looked around but I didn't see anything.

Would it be possible to add keyboard controls to the grid? Some other window managers have this and it is really handy. It is nice to have the grid up and not have to take your hands off of the keyboard.

How it works is that the grid pops up and you can use the arrow keys to control the location of

[2012-11-26 18:49] jtbrough commented on #131
Relaunch and Load Config is great, but for my use case a configurable boolean for relaunchConfigOnSave would be ideal.

[2012-11-26 18:54] jtbrough opened #163 "Edit Config Menu Entry"
A simple menu option to edit the config (in the system's default editor) would be handy.  Being able to bind that to a keyboard shortcut would be even better.  I've got something strung together with Keyboard Maestro that does the trick for me, but native functionality might be nice for others.

[2012-11-26 22:54] tzarskyz opened #164 "Nice way to edit slate config files with ST2 - ST2Slate package by kvs."
Check out kvs's st2 package, available through package control as well: https://github.com/kvs/ST2Slate

It's a pretty useful package that imo should be added to the readme so others can use it since many os x users are switching to st2 as of late.

It has some nice snippets and will make your slate config file(s) be recognized as syntax "Slate" - Everything works great out of the box but if your

[2012-11-27 05:04] tzarskyz opened #165 "Is there an undo command? If not, would it be possible?"
One thing I think would be useful in Slate is an undo command. Say you resize a window to the top left quadrant of your screen, pressing the undo command's binding would revert the window to it's previous state (size, position, maybe even monitor eventually.)

What do you all think? Heck, it is probably already implemented I just haven't found it but if it is not I am curious to know how much work

[2012-11-27 07:33] jigish commented on #165
I should be able to do this very easily by creating a before snapshot when any binding is run. Wouldn't work for focus bindings but any sort of move would be able to be undone. I suppose for focus I can keep track of the previously focused window. I'm getting a bit more time now so I'll look at this tomorrow.

[2012-11-27 11:44] gimbo commented on #165
I'd just like to +1 this - I've been using SizeUp for quite a while, and I'm attempting to migrate to Slate, and as far as I can see this is the only thing missing for me (and it won't prevent the migration). For me a very common pattern in SizeUp is to maximise a window for a short time, then revert to its previous state. Would love to see this feature. Thanks!

[2012-11-27 13:05] cmsj commented on #130
This may not be the most suitable way to do things, I am by no means an expert on the OS X SDK, however, I did find a way to detect screen changes with Quartz and it's an official API that's pretty stable (available since 10.3):

[code]

[2012-11-27 15:33] jtbrough commented on #165
+1 also.  Having the ability to restore a window to its previous state would make for some very interesting chained functionality.

[2012-11-27 16:21] tzarskyz commented on #165
Thanks for showing the interest guys and thanks jigish for looking into this. This feature would be extremely useful imo. I find something new with Slate everyday. It's amazing! Thanks again for looking into it.

[2012-11-27 20:37] jtbrough commented on #107
I wanted to create a similar binding to center a window and set it to 80% of the screen's hight/width.

[code]

It does work, but on first press it doesn't center the screen appropriately. Pressing the binding again seems to resolve the issue, but the behavior is a bit odd.  Maybe there is a better way to accomplish this?

Thanks!

[2012-11-27 22:42] jigish commented on #152
interesting idea. should be relatively simple to implement. I'll look into it.

[2012-11-27 22:45] jigish commented on #156
This is probably because your syntax is a tad off:

`;` should be `:`

[code]

Let me know if this doesn't work.

[2012-11-27 22:48] jigish commented on #157
Basically these files are a mapping of key name (to use in the .slate file) to key code. you can get key codes using this handy application: http://manytricks.com/keycodes/

Adding a new layout would consist of adding a new .plist, then changing `Binding.m`'s method `asciiToCodeDict` do add the new layout. You'd also have to add a new keyboard layout string constant as well (e.g. `KEYBOARD_LAYOUT_

[2012-11-27 22:48] #157 closed, assigned to jigish

[2012-11-27 22:49] jigish commented on #158
sounds fun. i'll look into this.

[2012-11-27 22:51] jigish commented on #159
yah this is a pain in the ass. All these switch bugs will take me some time and I'll probably be working on the other minor improvements on my list before I get to this. I really _really_ want this feature to work but Apple likes to be super irritating when they don't want someone to do something. Case in point: binding cmd+tab.

[2012-11-27 23:05] jigish commented on #91
couple of thoughts (mainly so I don't forget myself):
1. if we're going to embed ruby/python/lua I'd like to do it right. e.g. you should be able to run the if/else _while_ the binding is activated. So you could use the current values of the window/screen/etc to change what you want to do with the particular binding in real-time. Like what @v-yarotsky commented.
2. I do _not_ want to shell out to

[2012-11-27 23:05] jigish commented on #153
Hmm. I'm getting a good amount of requests for a feature like this. somehow or another I'll implement a way to do this - whether it be an "undo" or something like this or both.

[2012-11-27 23:06] jigish commented on #160
sounds like a great idea. I've been wanting to revamp the documentation for a while. I'll probably do this in conjunction with Issue #91.

[2012-11-27 23:10] jigish commented on #162
great idea. I'll look into adding this.

[2012-11-27 23:12] jigish commented on #164
@kvs - good shit. I'll add this to the read me today.

[2012-11-27 23:13] jigish commented on #164
anyone else out there want to make a vim syntax as well? :)

[2012-11-27 23:16] jigish commented on #130
This should be fixed by Pull Request #166. I'll close this when that is merged.

[2012-11-27 23:21] jigish commented on #164
done in c3dbe7556560961f16568086e0feeda49be04773

[2012-11-27 23:21] #164 closed, assigned to jigish

[2012-11-27 23:26] leemarrett commented on #156
Nope, this doesn't work either.

bind right:fn          resize +1% +0

Just ignores the fn and binds the resize to the right arrow.

[2012-11-28 00:23] fabiopelosin commented on #151
A small comment: ` is inconvenient in keyboards with (some) international layouts like Italian.

jigish kudos for the nice project!

[2012-11-28 00:25] jigish commented on #165
implemented an initial version of this. It keeps a stack of snapshots and updates the stack every time you activate a movement related binding in slate. by default the max stack size is 10, but this is configurable through `undoMaxStackSize`. I'll upload a new version later today with this. let me know if there are any issues.

[2012-11-28 00:25] #165 closed, assigned to jigish

[2012-11-28 00:26] jigish commented on #165
also, just to reiterate - this will _not_ work for focus or visibility related operations and may very well screw up the focus ordering of windows.

[2012-11-28 00:30] jigish commented on #121
hmm. what version of slate are you running @dangelov? and what OS version? It seems to be working fine for me on the latest slate and Lion.

[2012-11-28 00:32] jigish commented on #156
please see issue #121. Other uses were having similar problems with the fn+arrow keys. I've listed in the readme that it doesn't work but people seem to have found that it doesn't because that keystroke is by default bound to something in OS X. Maybe that is your issue?

[2012-11-28 00:34] leemarrett commented on #156
Should it work for right:alt;fn ? or r:fn;shift?

If I make:

bind r:fn;shift          resize +1% +0

The resize ignores the fn and just works with shift+r.

Mountain Lion(10.8.2), Slate 1.012

[2012-11-28 00:40] jigish commented on #160
Also, @trishume has written an awesome post about getting started with slate here: http://thume.ca/howto/2012/11/19/using-slate/

[2012-11-28 00:48] tzarskyz commented on #165
I just downloaded the source to try undo but after compiling Slate and running the new version it immediately gives me an error of: "Unrecognized Operation: Unrecognized operation 'undo' in 'undo" This message is displayed in a pop-up with the buttons/options to either "skip" or "quit" Slate.

I put your example undo in my config file. `bind 1:ctrl undo`

Anyone else have any ideas?

[2012-11-28 01:04] jigish commented on #156
Interesting. I have not tried the `fn` key on Mountain Lion yet myself. I'll try to do it tonight and see what happens. It may be a Mountain Lion specific problem.

[2012-11-28 01:26] tzarskyz commented on #165
If anyone gets it working, please let me know so I can try and troubleshoot my problems. Thanks.

[2012-11-28 01:35] jigish commented on #153
So I've implemented the undo operation if that helps. I'll look into adding this as well. For reference: Issue #165

[2012-11-28 01:48] jigish commented on #165
Just pushed an update. try updating your release version and let me know if that doesn't work

[2012-11-28 01:49] jigish commented on #165
btw - it is version 1.0.13 that has the change

[2012-11-28 03:24] nipper opened #167 "Switcher Hint Keys"
Another idea about keybindings. Would it be possible to do hint keys for the switcher? Basically the same format as the window hints?

You could just have the format be like:

bind tab:ctrl switch UIOPJKL

There might be a usability issue if you're chording the switcher, but I think it could be helpful. I tend to have a variety of windows open full screen. I could set a variety of toggles and layo

[2012-11-28 03:51] tzarskyz commented on #165
Works perfect! Jumped the gun there, anyhow thanks again for implementing undo. No problems at all.

[2012-11-28 04:37] tzarskyz commented on #162
+1 - keyboard controlled grid would be awesome.

[2012-11-28 06:48] holyjaw commented on #155
One example in support of this is that LaunchBar currently shows, even though this isn't really in the domain of 'windows' (and as such ought to be ignored)

[2012-11-28 11:23] BrianGilbert opened #168 "Monitor .slate for saved changes and auto reload config"
Would it be possible for Slate to automatically triger a reload when the .slate file is saved?

[2012-11-28 12:29] thomasjachmann opened #169 "distinguish between left/right ctrl/alt/cmd/shift keys"
AFAIK, those keys have distinct key codes, so it would be cool to use "cmd" to bind something to both cmd keys, "cmd_l" to the left and "cmd_r" to the right command key only.

Background: I remapped my caps lock to the right control key which isn't physically present on my MacBook Pro's internal keyboard so it doesn't interfere with any other key and I'd like to be able to bind stuff on that key a

[2012-11-28 14:39] Goles commented on #157
Thanks, a pull request was sent before I could submit it myself... shows that this project is moving fast :+1:

[2012-11-28 14:46] Goles opened #170 "hint now working with colemak keyboard layout"
I tried this in my .slate

[code]

When I press Control-4 the characters are properly placed over my windows, but I have to press the keys on the qwerty positions to make slate to select the proper window.

I tried restarting slate, but didn't fix the issue.

Any idea of what could be going on here?

[2012-11-28 17:31] jigish commented on #170
This is probably because you're missing the 'config' before 'keyboardLayout'. It should look like:

[code]

Let me know if that doesn't work.

[2012-11-28 17:31] #170 closed, assigned to nobody

[2012-11-28 18:15] mgax commented on #91
I updated my [branch](https://github.com/mgax/slate/tree/python). It understands a new configuration key, `pythonScript`, and a new operation for binding, `python`. So whenever the binding is triggered, it calls the named Python function from the script.

From within Python code, you have access to the Objective-C runtime, so you can call into Slate's classes. Here's how to use it: https://gist.gi

[2012-11-28 18:40] jigish commented on #167
Interesting. How exactly are you thinking would this look? Same switcher but with letters on the icons? Would we get rid of the forward/back bindings in this case? Either way sounds like a fun idea.

[2012-11-28 18:41] jigish commented on #168
Definitely should be possible. I'll see if I can add a config to do so.

[2012-11-28 18:41] jigish commented on #169
Good call. Can't believe I overlooked this. I'll see what I can do.

[2012-11-28 18:44] jigish opened #171 "Make Undo Better"
- only take undo snapshots if an undo operation exists. snapshots take time to create and could decrease performance. no need to ruin performance for people who don't want undo
- make the list of operations that take undo snapshots configurable.

[2012-11-28 19:37] nipper commented on #167
I think that it could look similar to how the switcher/window hints look now. Hints could either take the place of the icon or of the title, depending on preference. Even if you offered the flexibility of where to place the hint like i said that'd be great.

Say refine it from what I said before to offer three options for position. For horizontal layouts offer it vertically: top, middle, bottom. F

[2012-11-28 19:53] #171 closed, assigned to jigish

[2012-11-28 20:43] dangelov commented on #121
I'm running the latest version of Slate and Mountain Lion - let me know if you'd like more details or if you'd like me to test a build.

[2012-11-29 00:30] michaelolson opened #172 "Allow for bindings to modal keys to be repeated, like a modal mode/state"
When I first saw the description of modal keys, I was incorrectly envisioning something like the modal editing modes of vim. What I had hoped was that I could enter a modal state where Slate would then interpret all subsequent commands, until modal mode was exited, as belonging to the associated modal key.  For instance:

[code]

This would allow me to enter modal mode with `cmd+shift+t` and then

[2012-11-29 05:52] ranman commented on #172
+1 for this.

[2012-11-29 17:58] tzarskyz commented on #172
+1

[2012-11-29 19:12] mzbik commented on #91
One thing to consider: how to handle CPU capture. Is there a way to avoid infinite loops taking you down. With LUA, you have the sources in your dev tree (they're small) and you can easily abort the execution.  Python/Ruby/JS are all a bit harder...

[2012-11-29 22:55] michaelmior commented on #156
@jigish Sorry for the delay in responding here. Your initial comment about the syntax has now caused the shortcut to be recognized, but now the fn modifier is ignored completely. This is not just with arrow keys for me.

[2012-11-29 23:52] byalextran opened #174 "Moving windows between monitors more efficiently?"
I'm giving Slate a try coming from Divvy and one thing I miss about Divvy is the ability to double-press a keyboard shortcut to move a window from one monitor to the next.

For example, I had alt+1 setup to full screen a window, if i press it a second time it would full screen the window on my second monitor.

From looking at the Slate binding options, I don't see a way to mimic this feature.

I t

[2012-11-30 16:29] kjhealy commented on #156
I'm having this issue as well on Mountain Lion. The fn key modifier is ignored. E.g. with this config,

[code]

The actions are activated just by pressing 'q', 'w', or 'e'.

[2012-11-30 17:42] Goles commented on #170
All is good.

[2012-11-30 22:33] trishume commented on #91
It is awesome that @mgax has something working. I think it would be better if the scripting did not require direct interfacing with the objc api.

Maybe if something was passed into the functions like a `currentWindow` parameter and a `slate` object. The objects passed in would have simpler methods in the style of the language being used. The `currentWindow` object encapsulates operations on the f

[2012-11-30 23:28] mzbik commented on #91
Object API saves jgish having to plumb new API each time someone wants a new feature

[2012-12-01 02:23] SethMilliken commented on #174
Have a look at the `chain` operation.

[2012-12-01 11:43] ealimonda opened #175 "Bindings conflicting with Hint keys, with modal activation"
**Steps to reproduce:**
- Add both hints and any other command binds with modal key activation to .slaterc, so that at least one of the bindings overlaps one of the hint keys, i.e.:

[code]
- Activate the hints and try to switch to the window with the conflicting hint ("F1 -> esc -> 1" in the example)

**Expected result**

The hint works correctly, switching to the window hinted as '1'

**Actual r

[2012-12-01 21:56] trishume commented on #91
@mzbik he already has to add a configuration parser when adding a new feature, it would actually be easier with an api. The thing with directly accessing the Obj-C constructs is that Slate is already difficult to configure for many people and a hard API wouldn't help.

[2012-12-02 07:28] mgax commented on #91
Actually it's quite easy to implement a nice API in the scripting language itself, just wrap the Obj-C method calls with a thin native-looking layer.

[2012-12-02 18:53] byalextran commented on #174
Aha! Looks like that operation is exactly what I'm looking for. Appreciate it.

Thanks!

[2012-12-02 18:53] #174 closed, assigned to nobody

[2012-12-02 21:37] trishume commented on #91
That is a great way to do it and one possible solution, I just think it should be built in.

[2012-12-02 23:31] byalextran commented on #174
So I got this to work sort of, but not as ideal or as generic as I'd like.

`bind pad4:cmd,alt,ctrl,shift chain push left bar-resize:screenSizeX/2 | throw next resize:screenSizeX/2;screenSizeY`

There are two uses cases that are not currently covered with this command.

### A user with more than two monitors.

Let's say a user has three monitors. On the third key press in the chain, there are no m

[2012-12-03 02:01] mzbik commented on #91
Long term, the model needs to be simple enough for people to use but powerful enough for the rest of us.

The trade off is in terms of making something that may require people to whack slate.py when they upgrade. This argues for carefully exposed API from slate and nothing that involves objc.

[2012-12-03 13:08] hugowetterberg commented on #140
I experienced this too, and @philc clued me in on the reason. I am/was running App Tamer which suspends backgrounded applications (and gives them some time to process events at regular intervals). Slate consistently freezes until all applications have been activated.

[2012-12-03 15:12] gimbo opened #176 "Make text on "Current Window Info" window selectable."
I'm trying to copy my screen configuration into another bug report, but I can't select the text in the _Current Window Info_ window.  From [issue 102](https://github.com/jigish/slate/issues/102) I see you meant to do that, so I thought I'd open an issue as a reminder. :-)

[2012-12-03 15:28] gimbo opened #177 "`move` not resizing properly when called after jump to smaller screen"
I seem to have found an odd case where `move` doesn't properly resize the window.

I have two screens:

[code]

(The larger screen is placed physically above the smaller, but I don't think that is relevant to the issue.)

The following keybinding is an attempt to define a "maximise" operation on Ctrl-Alt-Cmd-`m`:

[code]

and this mainly works. However, if I maximise a window in the big screen (to

[2012-12-03 16:05] gimbo opened #178 "Can't mix chain and sequence"
Earlier today I tried to mix `chain` and `sequence` operations and didn't get the behaviour I expected.  I see in the documentation that mixing them seems discouraged - for example, in the chain documentation we have:

[code]

but I wondered what you thought about lifting this restriction in some way.  So here are some thoughts.

Consider:

[code]

To me, this seems an entirely reasonable thing to

[2012-12-03 18:24] mgax commented on #178
This looks like something more easily done in a scripting language, there's an interesting discussion at #91.

[2012-12-03 19:01] jigish commented on #172
interesting. if I added this as a config option would that suffice? as in would you want _both_ the current functionality as well as the explicit end to modal mode in the same .slate?

The reason I ask is both may require some awkward syntax in the binding

[2012-12-03 19:04] jigish commented on #175
o man lol. i thought this would happen when i implemented modal keys and was crossing my fingers for the best since i didn't have enough time to test/debug. i'll take a look.

[2012-12-03 19:09] jigish opened #179 "Allow Shell operation to be bound to a Layout"
so you can do things besides just activate slate stuff when you switch layouts.

backing use case: switch from hardware to software dvorak when disconnecting a monitor with a hardware dvorak keyboard plugged in.

[2012-12-03 19:10] jigish commented on #176
thanks! I completely forgot about this.

[2012-12-03 19:13] gimbo commented on #178
Brilliant. I love the idea of farming out the config to an existing language.

[2012-12-03 19:14] mgax commented on #172
+1. I was considering how to implement this in a Python script, but got suck on registering/deregistering the modal key bindings.

[2012-12-03 19:18] jigish commented on #177
yah I've noticed this too. OS X doesn't like resizing windows when either 1. the window is off the screen or 2. the resize causes the window to go off the screen. as a result the current move operation does something like this since you can't both move and resize the window at the same time:
1. resize the window
2. move the window
3. resize again in case the first resize fails

OR
1. move the wind

[2012-12-03 19:22] michaelolson commented on #172
Both is probably preferable for people who use the existing functionality, but a configuration option to enable this style is a great start, particularly if a modal escape key can be separately configured.  Something like:

[code]

And either the following, for global escapes:

[code]

Or this style, for local-to-a-modal escapes:

[code]

[2012-12-03 19:27] jigish commented on #178
yah I'll definitely make sure things like this work when we move to ruby/python/lua. It seems more and more issues are dependent on it so as soon as I get a bit more time I'll handle it.

[2012-12-03 19:32] gimbo commented on #177
_nods_ - hidden Dock in my case, and yes, have seen this with terminals, etc. too.  It's no problem really.

Sounds a bit hairy.  With my approach, you can perceive the two resizes, although I've made it seem smoother by resizing to 90% of screen width rather than 50% - though of course that's no general solution, I can just do it because I'm maximising in this case.  I wonder if, with your propos

[2012-12-03 19:38] jigish commented on #177
you most definitely would. It would happen quick, but you'd _definitely_ see the stages. unfortunate, but currently the only way I can see to ensure proper moving/resizing.

though now that I think about it, I could _calculate_ whether the window is or will be off screen and adjust my approach accordingly. thought this seems like it would probably introduce a ton of corner cases and bugs. I feel l

[2012-12-03 20:36] jigish commented on #179
Implemented. will be in the next (1.0.14) release which I'll push sometime today.

[2012-12-03 20:41] jigish commented on #179
For reference, here is how to use it:

[code]

for example:

[code]

or if you want to do something every time your screen configuration changes to a particular configuration:

[code]

[2012-12-03 20:41] #179 closed, assigned to jigish

[2012-12-03 20:51] jigish commented on #177
ok weird. seems like I may have done some work to fix this before. can you paste the exact sequence of commands you do get in this state? in particular I'm interested in what your `throw` looks like. I've tried a number of different ways to break move and I cant seem to =/.

[2012-12-03 20:56] jigish commented on #176
lol. apparently it isn't because it is not selectable, it is because I keep rewriting the stats. i'll fix that

[2012-12-03 21:30] jigish commented on #176
done. it will now refresh whenever it needs to draw but never less that 5 seconds after it has refreshed.

[2012-12-03 21:30] #176 closed, assigned to jigish

[2012-12-03 21:32] jigish commented on #91
@mgax suggested another option: Javascript. No additional Framework needed, all built in if you use WebViews. Plus the added benefit that it is pretty widely known/used.

[2012-12-03 21:35] trishume commented on #91
@jigish is there any API for using the JS engine without a webview? It would be rather hacky to have an invisible webview floating around at all times.

[2012-12-03 22:19] jigish commented on #91
@trishume unfortunately there is not. Though it does seem hacky it is the "accepted" way to run JS in objective c lol. Whatever that means :). There is the side benefit of maintaining a persistent context. For example you could save a JS variable in one binding to be used in another that is activated later (I'd use node.js style closures and proper exporting to make sure things don't get crazy). A

[2012-12-03 23:45] qmx commented on #91
one can always embed V8 :P

[2012-12-04 00:29] trishume commented on #91
One language-neutral and important point to discuss is how to link the scripting language. I can think of three options:
1. Make the entire config file a DSL of that language, maintain backward compatibility with old config files. Like:

[code]

[code]
1. Use a separate file and bind functions from that file like @mgax did with python.
2. Have a custom command that uses an inline script. Like this

[2012-12-04 00:47] jigish commented on #91
I like the elegance of a DSL as well. Though in some languages _cough_ javascript _cough_ it would just look forced.

[2012-12-04 01:04] qmx commented on #91
@jigish why?

[code]

[2012-12-04 01:14] jigish commented on #91
eh I suppose. I guess I just think ruby is prettier :)

coffeescript anyone? ;)

[2012-12-04 01:36] trishume commented on #91
Hmmm, I've looked at the API for communicating with JS in a webview and it is pretty terrible even compared to the Ruby embedding APIs. Unless I'm mistaken and there is a better way of communicating than evaling strings and intercepting AJAX requests...

In terms of Ruby I think [mruby](https://github.com/mruby/mruby) might be an option but now that I look at it deeper MacRuby seems like more of a

[2012-12-04 02:35] mzbik commented on #91
And we have a nearly working python instance too ;)

[2012-12-04 04:27] mLewisLogic opened #180 "BEFORE shell not working properly"
Test config:

[code]

Result:
When the monitor is plugged in or unplugged, no file is touched. The shell commands work standalone.

[2012-12-04 06:56] mgax commented on #91
+1 on the DSL approach. It could call out to external code if you really want to, so you get the benefit of the separate-file approach. And we can write a conversion script to upgrade people's config files. For Python there is the decorator syntax:

[code]

@trishume i think http://will.thimbleby.net/script/ describes a nice approach to call into Objective-C from JS.

[2012-12-04 07:10] mzbik commented on #91
+1 on the DSL too.  My personal take is that Ruby/Python win. LUA less so.  JS doesn't quite cut it.

Again, my big concern is being able to effectively deal with infinite loops in the callouts.

[2012-12-04 17:24] meroon-zz opened #181 "Minor: Layout documentation"
The documentation doesn't specify that when declaring a layout binding, it needs to come after the layout was defined. Otherwise a parsing error is thrown.

It's a minor point, but thought it might help others.

[2012-12-04 18:34] gimbo commented on #177
Sure thing.  Consider the following config:

[code]

(Big screen is above little one - perhaps this is significant for why you can't reproduce?)

Then this sequence:
- Open a new window on big screen (Chrome, say).
- Maximise it.
- Throw down to smaller screen - window is now too wide (but the right height).
- Attempt to maximise.

fails at the fourth step: the window's width is _not_ reduced to `

[2012-12-04 21:27] jigish commented on #180
Interesting. I've tried the following and they both work:

[code]

[code]

have you tried maybe touching something outside of your home directory? or try specifying a local path like above. And just so I have all the facts, what version of OS X are you running and can I get your entire `.slate`?

[2012-12-04 21:32] jigish commented on #181
done

[2012-12-04 21:32] #181 closed, assigned to jigish

[2012-12-04 21:34] mLewisLogic commented on #180
OS X 10.8.2
MBP retina + Thunderbolt 27"

full .slate:

[code]

[2012-12-04 21:35] jigish commented on #180
ok this may be yet another mountain lion issue. my dev box is lion. I'll have to test with my personal 10.8 laptop when I get a chance =/

[2012-12-04 21:36] mLewisLogic commented on #180
Tried it without the osascript lines as well, and it didn't change anything, so not an issue with the full quotes.

[2012-12-04 21:38] jigish commented on #177
Don't have enough time to look at this right now, but in the meantime would you mind trying to use resizes within the throw to see if that works? for example:

[code]

This should auto-resize to be fullscreen within the throw operation. If this doesn't work as well that is very interesting.

[2012-12-04 22:04] jigish commented on #177
found and fixed two issues:
1. without checkDefaultsOnLoad = true, the first (and sometimes second) screen configuration change was going unnoticed by slate
2. your nested quotes were being parsed wrong :)

Just pushed version 1.0.15 which should have the fixes.

[2012-12-04 22:45] trishume commented on #91
Hmmmm, I have to figure out how to link to MacRuby, I'm going to try including the framework from the MacRuby distribution, I really don't want to have to compile it.

I might just fiddle with @mgax's python branch or @qmx's lua branch.

I've looked at the Slate code and in most cases the current operation objects can be used unmodified. The only problem is the move, hint and grid operations rely

[2012-12-04 23:43] trishume commented on #91
I've created a branch of my fork for MacRuby support.

My first step will be useful for a DSL of any language, I'm going to try and extract a subclass of SlateConfig that does all the parsing. That way the way the same API can be used for accessing config variables and bindings no matter what kind of file is used.

[2012-12-05 11:28] gimbo commented on #177
Hey jigish - have you closed the wrong issue?  I'm perplexed by your comment "your nested quotes were being parsed wrong", and 1.0.15 doesn't fix it for me.

(As an aside, adding `resize` to the `throw`s as you requested gives the expected behaviour: upon a throw, the window is immediately resized to fill the new screen.)

Assuming you did mean to close this issue, I must sadly report that the pro

[2012-12-05 15:34] gimbo opened #182 "Feature suggestion: "proportional" style for `throw`"
I learnt today that you can specify a style for `throw`... From `README.md`:

[code]

It seems to me that `resize` with no parameter causes the window to be maximised in the new screen after the throw, whereas `resize` with parameters allows resizing, relative to the new screen's dimensions.

I suggest adding a `proportional` mode which resizes the window so that it occupies the same proportion of

[2012-12-05 23:32] jigish commented on #177
lol. i guess i shouldn't comment on things when i'm tired. you're absolutely right. i meant to comment and tag commits with Issue #180.

[2012-12-05 23:33] jigish commented on #180
Wow i accidentally commented on Issue #177, but i've commited and pushed a fix:

found and fixed two issues:
1. without checkDefaultsOnLoad = true, the first (and sometimes second) screen configuration change was going unnoticed by slate
2. your nested quotes were being parsed wrong :)

Just pushed version 1.0.15 which should have the fixes.

[2012-12-05 23:33] #180 closed, assigned to jigish

[2012-12-05 23:35] jigish commented on #140
This happened to me too, finally. Skype was not responding and slate crapped out. Temporary fix: force quit applications that are being stupid.

Just thinking about it, I'm guessing that this is because Slate keeps track of applications in the background and when one doesn't respond the Accessibility API craps out like @philc mentioned. I'll try to check it out when I get time.

[2012-12-06 00:42] trishume commented on #91
I have created a branch of my Slate fork where I have extracted a subclass of `SlateConfig`. This allows for other subclasses to parse config files in a different way, such as a DSL.

I am going to try and create a subclass of SlateConfig that uses a MacRuby DSL for configuration in my `ruby` branch, the `getInstance` method will create a `SlateRubyConfig` if a `~/.slate.rb` file exists and otherw

[2012-12-07 15:08] mgax commented on #91
In JavaScript there's a nice way to write event handlers declaratively. Syntax borrowed [from Backbone](http://backbonejs.org/#View-delegateEvents).

[code]

So you have a big dictionary, with keys similar to the bindings in the current config format. Values are either functions (will be called) or strings (can be interpreted as commands of some sort).

[2012-12-07 15:59] mzbik commented on #91
What baggage will we need to embed JS? Windows, etc?

On Dec 7, 2012, at 7:14 AM, "Alex Morega" <notifications@github.com<mailto:notifications@github.com>> wrote:

In JavaScript there's a nice way to write event handlers declaratively. Syntax borrowed from Backbonehttp://backbonejs.org/#View-delegateEvents.

events = {
    'e:cmd,shift': function(evt) {
        slate.getCurrentWindow().move(10, 10

[2012-12-08 01:36] trishume commented on #91
Using MacRuby requires embedding MacRuby.framework, which is around 10mb.

[2012-12-08 07:12] mzbik commented on #91
Sounds like Python/LUA might be winning...

[2012-12-08 13:31] trishume commented on #91
I'm not sure about that, people seem to like the idea of a DSL and that is one of Ruby's specialties. I am currently working on implementing a DSL in MacRuby, which shouldn't be too hard. Embedding the MacRuby framework isn't that bad.

Looking back at comments, 4 people (myself included) seem to favor Ruby if it is possible, 2 people favor Python and 2 people favor Lua. If I interpret people's co

[2012-12-08 14:50] muescha commented on #91
How about a language independent solution like the vert.x ( http://vertx.io/ )

And because i think its a general problem, interesting for other apps, it can be a seperate framework which can be embedded i different app

[2012-12-08 17:38] mzbik commented on #91
A framework is fine, just that you need >some< language in order to actually do something.

The primary goal was to allow for sophisticated (read: user-programmed) event handlers. Then, Tristan proposed being able to have a DSL do the configuration too.  Both are good goals.  Now,  the issues are:
1. Is the DSL for configuration different from the programmability language?  If so, I should think i

[2012-12-08 22:00] trishume commented on #91
The DSL would definitely be in the scripting language, and the language would definitely be a popular one. There are options that would be really easy to embed and use like F-Script and Nu but they are not well known.

MacRuby is LLVM compiled to some extent and uses Objective-C classes directly so there is little to no lag translating the objects.

The server idea is interesting and has some sign

[2012-12-11 13:08] eproxus commented on #153
Will check out undo. Does it work in the case of `resize` -> `focus left` -> `focus right` -> `undo`, for example?

I guess these variables are something akin to a window local undo stack.

[2012-12-11 18:21] slavick opened #183 "Window hints hard to read on light colored icons."
It would be a great improvement to my overall usage of slate if there could be a way to make the hint letter more noticeable on light colored icons. Here is an example of the problem: ![Screen Shot 2012-12-11 at 12 12 49 PM](https://f.cloud.github.com/assets/410512/6413/dac685de-43be-11e2-9fd3-3f881271b529.png)

Maybe if there could be the same dark colored border that is behind the icon to also b

[2012-12-11 21:04] cro opened #184 "Window hints not allowing focus"
Greetings,

For some reason my window hints are not working.  The hint letters show when I reveal them, but the next character I push always is directed to the current focused application window.  My .slate is here: https://gist.github.com/4262119 in case there's something in there that would break it.  I have version 1.0.15.

[2012-12-11 21:09] jigish commented on #184
dup of Issue #175

Modal keys are breaking hints right now =/

[2012-12-11 21:09] #184 closed, assigned to nobody

[2012-12-13 06:46] jangxyz commented on #165
I couldn't figure how to perform "full screen => back to original", on version 1.0.16
Tried giving the following:

[code]

Fullscreen seem to work, but undo doesn't. Any reason why?

[2012-12-13 07:52] jigish commented on #165
Yah. take a look at the `undoOps` config. You need to set it such that chain is not in undoOps because if it is, it'll just take a new snapshot right before it tries to undo which result in slate doing absolutely nothing.

[2012-12-13 09:41] jangxyz commented on #165
@jigish  Still didn't achieve what I wanted. After trying some options in `undoOps`, I found something weird happening.
1. When `chain` is removed from `undoOps`, the following 'chained' command does not save snapshot at all:
   `bind f:ctrl;alt;cmd     chain move screenOriginX;screenOriginY screenSizeX;screenSizeY | undo`
2. However, normal `move` options do save snapshot:
   `bind f:shift;ctrl;a

[2012-12-13 09:54] jigish commented on #165
oh no you're right. if chain isn't in undoOps then it won't make the snapshot the first time around. yah that just won't work lol. I actually don't know if this is even possible with the current implementation of undo/chain. I wonder if anyone else has implemented this sort of functionality?

[2012-12-14 00:31] jangxyz commented on #165
But what does _undoing a chain_ mean?

Since `chain` is combining multiple operations to one, I'm not sure whether letting the chain operation be undo'ed or not makes sense at all. It also conflicts with the phrase "you can undo only movement-based operations" because chain itself has nothing to do with movement.
You can't _undo the whole chained operations at one_ either, because it's circular.

[2012-12-14 11:06] gimbo commented on #165
I haven't been compeltely paying attention to this, or to how undo is implementing, but I just wanted to butt in with some general thoughts, which may or may not be helpful...

The usual way to handle undo is to build a stack of undo-able operations as they're performed, and then when you undo it simply pops operation items from the stack and applies their inverse (so you can only undo operations

[2012-12-14 20:45] skarfacegc opened #186 "quicksilver / sublimetext command pallet style control"
Rather than having to find many non conflicting keyboard commands it would be really neat to have the ability to define a hotkey that basically does this:

1) hit the hot-key
2) A small (floating or not) input area opens
3) User starts typing the name of a command alias
4) command alias(es) auto expand as the user types
5) user hits enter when the right one is selected
6) action takes place

Keybi

[2012-12-14 22:59] trishume commented on #186
This sounds interesting but non-trivial to implement.

[2012-12-15 02:30] skarfacegc commented on #186
I guess my main idea is to have some way to interact with slate without having to deal with finding shortcuts that won't interfere with other shortcuts.  Command line control would help here as well.  Really neat software btw.

[2012-12-15 05:17] tzarskyz commented on #186
Definitely would be cool, but a lot of work to implement. I like it though, it would free up a lot of bindings but I can't see this ever really happening. Nice idea though. +1

[2012-12-15 22:17] nimitmaru opened #187 "Slate resize not taking Textmate file drawer into account"
Slate move is not taking Textmate 1.5's file drawer into account. Is there an existing way to fix this or is this a bug?

[2012-12-15 22:23] jigish commented on #187
I've tried this before and there isn't really much I can do about it. Textmate's drawer is not technically "in" the textmate window so the size reported by the window doesn't include it. I think textmate has an option to make the drawer part of the window instead of a slide-out type thing? If so that should fix it.

[2012-12-15 23:06] nimitmaru commented on #187
Hmm, I know it's possible because SizeUp has an option to "Take drawers into account when resizing" and that feature works pretty well. Regardless of this issue, Slate is great so thanks for your efforts!

[2012-12-15 23:43] jigish commented on #187
interesting. in that case I'll reopen this and take a look. may have been something that I'm missing.

[2012-12-16 22:07] trishume commented on #91
Hmmmm, MacRuby has the baggage that it requires the app and all frameworks to be compiled with GC.
Unfortunately this functionality is deprecated in OSX 10.8 but still works fine.

I think I could port Slate to GC and use the GC version of Sparkle without difficulty, I am mainly worried about future dependencies and the deprecation.

MacRuby development is slow right now because of all the work on

[2012-12-16 22:16] mzbik commented on #91
Very valid concern.

From: Tristan Hume [mailto:notifications@github.com]
Sent: Sunday, December 16, 2012 2:07 PM
To: jigish/slate
Cc: Mark Zbikowski
Subject: Re: [slate] Implement if/else statements (#91)

Hmmmm, MacRuby has the baggage that it requires the app and all frameworks to be compiled with GC.
Unfortunately this functionality is deprecated in OSX 10.8 but still works fine.

I think I co

[2012-12-16 22:19] trishume commented on #91
gg MacRuby. :rage:

I tried to enable GC and apparently JSONKit does not support GC being enabled, I also get a million warnings.
To top it off every article I read on the web on how to solve these problems says "don't use GC".

I will now either try to use one of the prerelease builds of mruby or just give up on Ruby and use Lua or Python to implement the DSL.

[2012-12-17 04:06] mgax commented on #91
Maybe JavaScript is a good choice. If I find some time I'll try to write some bindings.

[2012-12-18 17:57] dtrodrigues opened #188 "New allowed key"
Would it be possible to add ':' to the allowed keys, maybe with an escape character? I know this special case may not be enough to warrant support escape characters for one key, but I thought I'd ask. Thanks!

[2012-12-18 17:58] #188 closed, assigned to nobody

[2012-12-19 04:01] skarfacegc commented on #172
+1

[2012-12-19 04:01] skarfacegc commented on #186
Thanks for the feedback

[2012-12-19 04:01] #186 closed, assigned to nobody

[2012-12-20 02:06] ocxo opened #189 "Lost ability to navigate lines of text"
I want to use Slate. The main barrier for me right now is that when I use it I can't use alt+left/right to move between words in a text block. cmd+left/right doesn't move me to the beginning/end of a line. Even fn+left/right is disabled.

Am I doing something wrong? I'm using the default slate configuration. I want to use this but the loss of navigating bits of text via keyboard is more frustratin

[2012-12-23 06:19] brightghost opened #190 "Writing Application Support to wrong path"
I've found that Slate has been creating a directory called  "file/" (with the trailing slash) in my root directory, and populating it with the directory tree "/file:/localhost/Users/[username]/Library/Application%20Support/com.slate.Slate/" . These directories are being recreated every time slate is relaunched, though it doesn't seem to actually be writing any files in them. Obviously there's a sc

[2012-12-27 10:28] josh- commented on #190
I think I've found the cause, are you running slate on 10.6?

[2012-12-27 11:29] josh- commented on #189
The beauty of Slate is that it's completely customisable, so you can set all the keybindings yourself - the default config does indeed take over your alt+left/right and cmd+left/right, which is why you're missing out on standard OS X text selection.

You should create a new file in your home directory called `.slate` and then start adding your own bindings there.

Alternatively, you can copy the d

[2012-12-27 16:34] brightghost commented on #190
Yep 10.6.8

[2012-12-28 06:53] jigish commented on #190
Yah thats probably it. As I mentioned on the pull request I'll take a look at it and probably release a fix around jan 6th when I get back from vacation.

[2012-12-28 06:54] jigish commented on #189
@josh- is correct. Using the default `.slate` file you'll lose a lot of those bindings. If you want to remove them or change them copying the `default.slate` to `~/.slate` is the way to go. You can then mess with the bindings yourself and update them to whatever you want.

[2012-12-28 06:54] #189 closed, assigned to nobody

[2012-12-28 06:56] jigish commented on #182
yah this should be pretty easy to code up. I'll try to add it when I get back from vacation in early January.

[2012-12-28 06:57] jigish commented on #183
I like @josh-'s fix for this. We'll have the option to add a rounded rect under the letter once I merge that in.

[2012-12-28 08:57] josh- commented on #190
@brightghost Would you be happy to test this patch?

[2012-12-28 19:07] brightghost commented on #190
I would, but this 10.6.8 system is the only setup I have, so it doesn't look like I'll be able to compile the package due to the use of ARC. Happy to confirm the fix if someone puts together a new build, though.

[2012-12-28 20:49] josh- commented on #190
@brightghost Okay fantastic, I've just whipped up a build - http://cl.ly/Lq84

[2012-12-28 23:56] brightghost commented on #190
That seems to have done the trick, thanks josh—

[2012-12-29 13:07] skarfacegc commented on #183
config windowHintsIconAlpha 0.5

seems to help with this.

[2012-12-30 00:29] josh- commented on #190
No worries, thanks for testing it.

[2013-01-03 07:28] jjlharrison commented on #140
I am seeing this issue on 10.8.2.

My typical usage pattern

alias center move screenOriginX+screenSizeX/8;screenOriginY+screenSizeY/8              screenSizeX_0.75;screenSizeY_0.75
bind c:ctrl;shift;alt;cmd ${center}

When triggering the position I see no change for ~20 seconds (during which if I mouse over the menu bar icon I see a spinner).

[2013-01-03 18:11] moos opened #194 "Option to auto take snapshot"
I move windows around constantly or have new browser windows opened.  It'd be very nice if the option existed to automatically take snapshot every, say, 5 seconds, so when I reconnect external monitors, I can active last snapshot.

[2013-01-03 19:07] philc commented on #140
@jjlharrison , are any of your apps unresponsive when you see that delay?

[2013-01-04 07:12] jjlharrison commented on #140
@philc Looks like it was the App Tamer issue that @hugowetterberg mentioned.

[2013-01-06 15:59] gianpaj commented on #182
+1

[2013-01-07 10:18] JeromeNamNam opened #195 "interference with osx basic Shortcuts"
Hi guys,
I find out with my Slate installation, that when slate is running my favourite finder shortcut doesn't work anymore.

Command-Down Arrow - Open highlighted item
Command-Up Arrow - Open the folder that contains the current folder

Is it because of something in the config file? or the soft in it self?

nb: in place of opening the folder it switches between windows.

Any idea?

regards,

[2013-01-07 14:25] loshlee commented on #195
If you aren't using a .slate file, those shortcuts appear to conflict with the focus down and focus up items in the Slate default configuration. https://github.com/jigish/slate/blob/master/Slate/default.slate

If you are using a .slate file, you may want to change any occurrence of "bind down:cmd" and "bind up:cmd".

Laine

[2013-01-07 14:42] JeromeNamNam commented on #195
Yes I'm using a .slate config file.
and by commenting
#bind up:cmd       focus up
#bind down:cmd     focus down
problem is solved.
Thank you a lot !

[2013-01-07 16:35] ghost opened #196 "certain apps not showing window hints"
specifically reeder.app (an RSS feed app) will not show window hints when the shortcut is activated.

curious if this behaviour affects any other apps, or if there is a different cause.

[2013-01-07 16:58] phmongeau commented on #195
Considering it's not the first time someone complains about the default
keybindings, maybe they should be changed to something that doesn't
conflict with the osx shortcuts?

Philippe Mongeau

On Mon, Jan 7, 2013 at 9:42 AM, JeromeNamNam notifications@github.comwrote:

[2013-01-07 17:08] JeromeNamNam commented on #195
Yes,
And/Or give some explanations about how to set or modify it.

Regards,

[2013-01-08 17:49] loshlee opened #197 "Push non-resizeable to top or bottom right corner"
What action could be used to push a window that isn't resizeable such as System Preferences to a corner at the right of the screen to ensure that its right edge meets screen edge, either top or bottom?

Is it possible to indicate push locations by specifying and referencing a grid formula, such as defining a grid of 12X8 then specifying the location for the window as row 1-3 starting at column 9?

[2013-01-09 23:07] dahjelle commented on #172
+1

[2013-01-10 20:34] hansmi opened #198 "Binding to “y” key doesn't work"
Irrespective of the modifiers I use, binding to the “y” key doesn't appear to work.

Example configuration:

[code]

If I press Control-Option-x, the active window moves to the bottom right as expected. If I press Control-Option-y, nothing happens. I ran a local build from Xcode and saw the hotkey being registered, but it still wouldn't work and no log messages were generated upon pressing Control

[2013-01-12 05:04] al3xandru opened #199 "Resizing at the screen border/How does anchor work"
I've been switching the settings for the resize, but I'm still confused about how it works and what are the cases when they don't work at all.

[code]
1. Window is on the right side screen border. Resizing on the left side (CMD+ALT+Shift+4) does nothing. But if the window is not connected to the screen margin it works.

There are many similar examples, so I guess I don't really understand how the

[2013-01-12 05:30] loshlee commented on #199
I changed shift to ctrl and CMD+ALT+ctrl+4 worked the way I think you wanted CMD+ALT+Shift+4 to. Maybe there's a system-wide consideration.

Here's an AppleScript that might help simplify managing config files a little. Run it twice to see what it does. The first time it creates a folder in your home folder called "Slate Sets" and puts a backup of your .slate file into that folder. (I don't know h

[2013-01-12 08:46] al3xandru commented on #199
Confirmed... the combination `CMD+ALT+Shift`+4(?) seems to conflict with something else. Switched all my bindings to use Alt+Shift and Cmd+Alt (I don't like using Ctrl as the key is available only on the left side of the keyboard)

[2013-01-12 11:55] josh- commented on #195
I was thinking about submitting a pull request that, upon first run, would give you the option to copy the `default.slate` to  `~/.slate` and then open that in your default text editor so you can edit it. Currently this process isn't hugely user friendly, and can only really be understood by reading the README.

What do you think @JeromeNamNam and @phmongeau?

[2013-01-13 06:13] loshlee commented on #197
The problem is that when making a window that can be resized move to a corner, not setting the size set for the window doesn't yield optimal results. But when you apply that strategy to a window like System Preferences that can't be resized, the size formula probably wouldn't make it go to the right place if the destination corner is on the right side.  Rather than configuring separate sets of cor

[2013-01-13 10:48] JeromeNamNam commented on #195
Yes It's a good idea, but I think the readme also has to define clearly which keyboard key is:
#bind
because I really didn't though it was the apple one.

Kind regards,

[2013-01-14 13:53] fsrc commented on #101
This would be the killer feature! Another example would be i3 wich is my WM of choice for Xorg.

[2013-01-14 15:36] netpro2k commented on #101
[Tyler window manager](http://www.tylerwm.com/) attempts to do this in OSX, but works very poorly. Since OSX does not have native support for alternative window managers, im afraid any attempt to act as a window manager will feel kludgy at best. Not saying it shouldn't be attempted, but just setting expectations. Perhaps there is some way to tie in at a lower level than what Tyler is doing...

[2013-01-17 01:46] kejadlen opened #201 "IPC for driving from launchers/command line"
Is there an IPC mechanism for Slate? I would really love to drive Slate using Alfred, by typing something like "slate 9 2x2" or something...

[2013-01-17 05:08] aaronlifton3 opened #202 "Random crashing and keyboard shortcut lag"
What happened to my favorite app?  :worried:

[2013-01-18 12:32] larmeh commented on #89
It's not like Objective-C is OS X only. GNUStep provides a decent Objective-C based SDK for all three platforms. I'll look into porting slate after I finish my thesis which is two months from now.

[2013-01-18 13:27] larmeh opened #203 "Snapshot manager"
Is there a way to select and possibly merge snapshots easily? Because I'm thinking about writing one and wouldn't want to reinvent the wheel in case I've missed it.

[2013-01-18 23:05] mgax commented on #91
Here is a working branch with JavaScript bindings: https://github.com/mgax/slate/tree/javascript and a build: http://grep.ro/quickpub/slate/2013-01-19/.

In addition to `~/.slate`, you can create `~/.slate.js`, which gets executed in a WebScripting context. There is a `slate` global object with a few methods:
- `log(message)` - print a message using NSLog.
- `bind(keystroke, callback, repeat)` - r

[2013-01-19 17:57] mrknmc opened #205 "Conditions"
Wouldn't it be nice to implement conditions?

As in when I press cmd+alt+up and I'm in safari, resize window to 90% but for Sublime Text resize to only 75%. I can image the syntax being something like:
guard 'Safari' push up | 'Sublime Text 2' push down | so on...

[2013-01-19 19:59] loshlee commented on #205
Or if an operation such as moving to upper left corner for one window was just performed, invoking the same shortcut for another window would move it to upper right corner, and so on. That's the way Optimal Layout (http://most-advantageous.com/optimal-layout/) works.

[2013-01-19 22:49] jigish commented on #202
Are you using AppTamer by any chance? Or is another app not responding? There is currently an issue where Slate will hang when any app is non responsive because it keeps track of window positions in the background. Working on fixing that but if you're using AppTamer an easy fix would be to not use it until I fix Slate to play nice with it.

[2013-01-19 22:50] jigish commented on #203
Nope, not yet. Seems like it would be useful though so if you get the chance go for it!

[2013-01-19 23:01] jigish commented on #91
@mgax - Nice! I was planning on hacking on slate a bunch this weekend, would love to pull this into to mainline so I can implement some of the stuff I was thinking about as well. Couple things I wanted to do:
- instead of `'l:cmd,ctrl,alt'` as a parameter, I'd like to start deconstructing the slate syntax so it would be more like `slate.bind('l', ['cmd', 'ctrl', 'alt'], function() { slate.resize(1

[2013-01-19 23:03] jigish commented on #91
Also, I'm thinking I'll pull in a convenience JS library like http://underscorejs.org/ which should make life easier.

[2013-01-19 23:05] jigish commented on #194
This is an interesting point, but I'm not 100% sure how this would work? I guess I can keep a separate snapshot for each screen configuration that I see. This would require running things in the background which would break if you're using an application like AppTamer. I'll look into doing something like this though.

[2013-01-19 23:06] jigish commented on #196
weird. I'll take a look.

[2013-01-19 23:07] jigish commented on #198
@hansmi can you do me a favor and use http://manytricks.com/keycodes/ to tell me what the key code for your `y` key is? Also, if you could send me the output of the logs that would be great.

[2013-01-19 23:08] jigish commented on #199
is this still an issue or can I close this?

[2013-01-19 23:43] jigish commented on #205
this is being tracked here: #91

[2013-01-19 23:43] #205 closed, assigned to nobody

[2013-01-19 23:43] jigish commented on #201
this is being tracked here: #85

[2013-01-19 23:43] #201 closed, assigned to nobody

[2013-01-19 23:58] trishume commented on #89
Although the other problem is that it uses the Cocoa windowing system and the OSX accessibility framework. You'd have to rewrite the whole thing with platform specific APIs.

If you're up to it though, it would be awesome.

[2013-01-20 00:01] trishume commented on #91
@mgax that is awesome! Right now it is kind of inefficient and ugly since it creates a new operation from a string every time you call one of the methods.

I think a DSL would need a refactoring of the way some operations work and other DSL methods could directly call AccessibilityWrapper methods.

[2013-01-20 00:14] jigish commented on #130
just merged the pull request and tested on Mountain Lion and Lion. According to the docs it should work for Snow Leopard as well. I'll push a new build later today.

[2013-01-20 00:14] #130 closed, assigned to jigish

[2013-01-20 00:14] jigish commented on #190
just merged the pull request. will post a new build today.

[2013-01-20 00:14] #190 closed, assigned to jigish

[2013-01-20 00:23] jigish commented on #91
Yes, I agree with @trishume - it would be nice to have a `slate.operation()` function that creates an operation for use in later bindings. that way you don't have to keep creating new ones later. also, the ability to specify a function as an argument (say the `x` value) to an operation will allow you to create a dynamic operation that can change based on the context without having to create a bran

[2013-01-20 00:41] muescha commented on #91
disclaimer: i dont know if this should be separate issues/feature requests or still implement and i dont know it

1) key sequences

is it also possible to add key sequences?

like:

['k:cmd,alt' , 'a', 'x']
['k:cmd,alt' , '1']

2) slate Shortcut Prefix

let me somehow define a general intro shortcut to activate slate, so all my slate commands overwrite the shortcuts of other apps.

3) key definiti

[2013-01-20 00:51] jigish commented on #91
@muescha

1) Can I have an example of how this would be used? Are you saying that a sequence of keys would trigger a binding?
2) you mean Modal Bindings?
3) I think this is a bit overdone. What would make sense is to wrap the entire keystroke in a class which would make it easier to support modal bindings.
4) yah this is what I would want to do. the `slate` object would have the information about