[2013-01-20 01:11] jigish commented on #91
@mgax - I hope you don't mind me merging your javascript branch to master and hacking on it. I have tons of time today and would love to get a lot of this squared away before a push a new version :)

[2013-01-20 01:31] #199 closed, assigned to jigish

[2013-01-20 01:44] muescha commented on #91
1) yes sequence should trigger a binding

Example 1:
like to combine some things:

[code]

Example 2:
because some shortcuts overwrite my app shortcuts i would like to have a sequence to activate it

this:

[code]

i would hide all shortcuts behind a starting shorcut `'s:cmd,alt'`

[code]

or if i can have a dsl i would sourround it with a block:

[code]

or example 1 written with dsl:

[code]

or

[2013-01-20 01:55] hansmi commented on #198
Thanks for your reply, Jigish. Turns out the key codes for “x” and “y” are swapped in the Swiss German layout (from Events.h: kVK_ANSI_Y = 0x10, kVK_ANSI_Z = 0x7). If I bind to both keys, the actions are swapped too.

Thinking about it now it's obvious why: the German keyboard layouts (Germany, Austria and Switzerland), as well as others, are QWERTZ, not QWERTY. Could you add a “keyboardLayout” va

[2013-01-20 08:15] mgax commented on #91
@jigish Go ahead and merge it, that was the point :) I was also thinking about pulling in Underscore.

Instantiating an Operation for every callback is not ideal, but we can worry about performance later, once we figure out what's possible with scripting, and where it's going.

I actually prefer string key definitions, they are shorter and more expressive, reminiscent of CSS selectors. The whole b

[2013-01-20 12:10] mgax opened #206 "Crash caused by AXObserverCreate error"
I was running Slate from within Xcode and it hit upon the following error.
At [RunningApplications.m line 382](https://github.com/jigish/slate/blob/master/Slate/RunningApplications.m#L382) `AXObserverCreate` returned error code `-25201` (`kAXErrorIllegalArgument`) and `observer` remained `NULL`. Since there error code is not checked, the following call to `AXObserverAddNotification` crashes Slate.

[2013-01-20 13:50] trishume commented on #91
I think a cool way to do modal/flexible bindings would be to have an api function in JS that allows you to remove bindings. That way you could implement your own modal bindings as well as other things like pressing things in quick succession.

[2013-01-20 16:02] mgax commented on #91
@trishume Yes, that's precisely the idea, but the Slate bindings implementation doesn't make it easy. I have an idea how to make it work though. Also you need a working `setTimeout` implementation, but that should be no problem.

[2013-01-20 20:18] aaronlifton3 commented on #202
Not using AppTamer. I simplified my .slate config and it seems to be running perfectly now. Excited to try the new features :)

[2013-01-20 20:18] #202 closed, assigned to jigish

[2013-01-20 20:19] aaronlifton3 commented on #187
Also not taking uTorrent statusbar into account.

[2013-01-20 23:44] Goles opened #207 "How can I center a window using slate?"
I'm using slate as a replacement for SizeUp, I was wondering how can I make slate to center a window like SizeUp `ctrl+alt+cmd C`

I thought that using the `corner` command would be the best way to achieve this, but when using corner you cannot specify the coordinates for the origin of the window ( you're limited to `top-left` ... right ... etc. )

Any ideas ?

[2013-01-21 01:12] jigish commented on #207
should be something like this:

`bind c:ctrl,alt,cmd move screenOriginX+((screenSizeX-windowSizeX)/2);screenOriginY+((screenSizeY-windowSizeY)/2) windowSizeX;windowSizeY`

That will center the window on the current screen.

[2013-01-21 01:12] #207 closed, assigned to jigish

[2013-01-21 02:35] mgax commented on #91
I've been experimenting in my [javascript-kvc branch](https://github.com/mgax/slate/tree/javascript-kvc) with a JS-friendly way to access application and window information, based on [KVC](https://developer.apple.com/library/mac/#documentation/Cocoa/Conceptual/KeyValueCoding/Articles/KeyValueCoding.html) (key-value coding), as suggested by Apple's documentation on [WebScripting](http://developer.a

[2013-01-21 02:40] jigish commented on #91
Interesting. I've been refactoring all the operations and such to make it easier to access through JS myself. Focusing more on the operations themselves and less on free-form function bindings. Was planning on doing something like this next but glad you got to it :). Once I finish implementing all the operations, I'll check this stuff out and see if I can do a clean merge.

[2013-01-21 02:44] jigish commented on #91
btw, a little taste of what I've done:

[code]

Sort of changed around the syntax and such to make it easier to add new operations. Each operation can be created using the string name then an options hash. The hash can contain functions which will be evaluated at run time or constants which will be stored into the operation at config time. `slate.operation` will instantiate an operation and callin

[2013-01-21 07:10] jigish commented on #91
ok just pushed my changes. theres a ton of stuff there. here is what is left to make this fully functional (so you only need the `.slate.js`):
- include @mgax's stuff to expose current window info, screen info, and other things
- add the other directives (`config`, `layout`, `default`, `source`)
- verify/add support for modal keys and implement modal toggle

some additional ideas/notes:
- `config`

[2013-01-21 07:12] jigish commented on #91
also, I'm going to start documenting this new stuff on the Wiki instead of the readme. There is probably going to be _way_ too much content to add to the readme.

[2013-01-21 07:52] mzbik commented on #91
Two questions:
1. How are Unhandled exceptions handled/logged? What does the end user see?
2. Ditto for infinite loops?

On Jan 20, 2013, at 11:16 PM, "Jigish Patel" <notifications@github.com<mailto:notifications@github.com>> wrote:

also, I'm going to start documenting this new stuff on the Wiki instead of the readme. There is probably going to be way too much content to add to the readme.

—
Rep

[2013-01-21 08:05] jigish commented on #91
@mzbik right now there is some basic handling of exceptions. it _should_ display an alert. Syntax errors are a bit more tricky. I need to figure out a way to deal with them. Infinite loops I'm not really show what the best way to handle is. To be completely honest I'm very much of the opinion that there isn't really much of a point to jumping through hoops to prevent people from doing stupid thing

[2013-01-21 08:11] jigish commented on #91
also to clarify -- by "syntax errors are a bit more tricky" i mean things like undefined variables will show an alert but a missing comma will fail silently and show no indication to the user. I need to figure out a way to detect the syntax errors. I haven't really spent much time on it though. If apple doesn't have any APIs to detect it one idea is to try to run  a very simple function like `func

[2013-01-21 08:14] mzbik commented on #91
It's not a matter of prevention, but of not crashing enough of the system to discourage use.

For infinite loop, if we can hook the js op code  dispatch, we can establish a configurable limit per keystroke

On Jan 21, 2013, at 12:06 AM, "Jigish Patel" <notifications@github.com<mailto:notifications@github.com>> wrote:

@mzbikhttps://github.com/mzbik right now there is some basic handling of excepti

[2013-01-21 15:25] loshlee commented on #197
I  forgot to remove "sequence" for top left binding in the above.

bind 1:ctrl;alt;cmd ${topleft}

[2013-01-21 15:46] loshlee opened #208 "Problem with defaults"
Does https://github.com/jigish/slate/blob/master/Slate/default.slate need to be changed? When I load it, I have unexpected results. For example, alt-ctrl-1 and alt-ctrl-2 seem to do the same thing, and cmd-esc appears to have different results depending on what application is active when I use it.

[2013-01-21 19:45] jigish commented on #208
It should work fine. The config styles haven't changed at all. What exactly happens in each of those cases?

[2013-01-21 22:01] loshlee commented on #208
I guess I mistook screens in instructions to mean spaces or desktops. So with only one screen (whether or not there are multiple spaces or desktops, alt-ctrl-1 and alt-ctrl-2 should probably appear to do the same thing. However, If I create a new admin account on my Mtn. Lion 10.8.2+ system and launch Slate from the Applications folder, then launch AppleScript Editor, TextWrangler, and Safari, pre

[2013-01-21 22:40] ealimonda opened #209 "Modal bindings not working anymore"
Version 1.0.17 seems to break my modal keybindings.  Specifically, with the following lines in my ~/.slate:

[code]

the three bindings trigger (without any modal activation) by pressing respectively tilde (shift-backquote), exclamation mark (shift-1) and at (shift-2), rather than requiring the modal sequences, respectively, shift-f1 backquote, shift-f2 1, shift-f2 2 as they are supposed to.

I've

[2013-01-22 02:16] jigish commented on #209
damn, sorry that snuck in there. just pushed a new version with a fix. thanks for doing the bisect!

[2013-01-22 02:16] #209 closed, assigned to jigish

[2013-01-22 02:18] jigish commented on #208
Yah, "screen" means physical screen. Also the default hint behavior is to order the hints left to right. Check out the config "windowHintsOrder" in the readme for more details. Side note: "persist" seems like the best option for "windowHintsOrder" but it may or may not work properly currently. Also, it is memory and computationally intensive. I wouldn't suggest using it.

[2013-01-22 02:18] #208 closed, assigned to jigish

[2013-01-22 08:23] onemanstartup commented on #196
I can confirm bug with reeder

[2013-01-22 15:52] mfrister opened #210 "Excessive Logging in 1.0.18"
Since the update via Sparkle to 1.0.18 I'm seeing lots of log messages in the system log.

For example window title changes are logged, so each time I open a new page in Chrome, its title is logged.

The version distributed via Sparkle should have debug logging disabled by default.

[2013-01-22 16:05] eproxus opened #211 "'focus' does not work with Adium chat windows"
The `focus` command does not jump to or from Adium chat windows using Slate 1.0.15 and Adium 1.5.4.

[2013-01-22 20:20] jigish commented on #210
weird. i modified my publish script. maybe something went wrong and it published the debug version instead of the release one. i'll make sure the next version won't have any logging.

[2013-01-24 00:21] jigish commented on #172
I've finally gotten around to implementing this. Here is how it works:

[code]

I'll update the readme soon. Basically adding ":toggle" to the end of any modal binding will make that modal binding toggled. You can also do this:

[code]

This will make the right and left bindings exit out of modal mode while the up and down bindings will keep slate in modal mode.

Also, `modalEscapeKey` can be a fu

[2013-01-24 00:21] #172 closed, assigned to jigish

[2013-01-24 00:31] jigish commented on #91
ok. this is finally done. now I just need to document the shit out of it. next release (1.0.19) will have the code. I'm going to mark this feature as "beta" because it is so much code that I haven't had the time to completely test it. I'm sure there are tons of corner cases that I've missed. look for updates on the wiki with documentation.

things that are not done:
- `config` things locally - not

[2013-01-24 00:31] #91 closed, assigned to jigish

[2013-01-24 00:48] jigish commented on #210
Fixed and pushed in 1.0.19. there are still a couple random lines I forgot to clean up but those were there before 1.0.18. I'll remove those in 1.0.20

[2013-01-24 00:48] #210 closed, assigned to jigish

[2013-01-24 01:15] mzbik commented on #91
The whole infinite loop thing only exists as a 'can the use hose himself to the point where a reboot/safe-boot is the only recourse'. If the user has a well-defined 'exit strategy', then we're cool.

On Jan 23, 2013, at 4:37 PM, "Jigish Patel" <notifications@github.com<mailto:notifications@github.com>> wrote:

ok. this is finally done. now I just need to document the shit out of it. next release (

[2013-01-24 02:01] jigish commented on #91
totally understand the reasoning for worrying about infinite loops, but honestly I feel like it will be too much trouble than what it is worth. Unless the user literally writes something like:

[code]

It'll be very hard for there to be an infinite loop in javascript.

[2013-01-24 03:25] jigish commented on #91
I have created a wiki page here: https://github.com/jigish/slate/wiki/JavaScript-Configs

I'll be adding to it when I get a chance to document all this stuff. I've added a skeleton which has the complete list of methods on the `slate` object. Anyone interested is welcome to check it out and let me know if there is anything I may have missed.

[2013-01-24 06:56] bradwright opened #212 "More ways of identifying computers/screens"
I have a 13" MacBook Air at home, and a 15" MacBook Pro (non-retina :cry:) at work. They have the same resolution of `1440x900`, but I'd like to be able to tell them apart in a single Slate config.

Not sure what else is available to differentiate computers - hostname maybe? User login?

[2013-01-24 07:16] jigish commented on #212
you're in luck if you're not adverse to some javascript. i've just implemented javascript configs. using javascript configs, you can check the hostname with the shell method.

[code]

[2013-01-24 07:16] #212 closed, assigned to jigish

[2013-01-24 07:17] bradwright commented on #212
I was literally just looking at that.

Question: how do I see the output of `slate.log`?

Otherwise I think the new config solves this for me. :+1:

[2013-01-24 07:19] jigish commented on #212
`slate.log` is only visible when running slate in debug mode. you can do that by cloning the repo and using the `Slate.app` in `build/Debug/Slate.app` (there may be some permissions errors that you need to sort out) or running Slate in Xcode.

[2013-01-24 07:20] jigish commented on #212
another way to quickly see what is going on is to throw an exception in the javascript instead of using `slate.log`. the exception will bubble up and cause an alert to be shown with the message of the exception in the alert.

[2013-01-24 07:24] jigish commented on #212
since I haven't completely documented the JavaScript stuff, here is an example of layouts:

[code]

The other option is to create the layouts in the normal config and use the if to just set the default using something like:

[code]

[2013-01-24 08:18] bradwright commented on #212
For the record: `/bin/hostname` comes back with a line break attached, so you actually want:

[code]

[2013-01-24 08:20] mfrister commented on #210
Much better, thanks!

[2013-01-24 15:32] kmanville opened #213 "Support for multiple screens/desktops"
I would love the ability to "throw" windows to other screens as is currently possible with multiple monitors.

edit: looks like this has been discussed here https://github.com/jigish/slate/issues/78
sorry, I'm new to OS X and didn't realize they were called spaces!

[2013-01-24 15:50] kmanville opened #214 "Cycle through all overlapping windows with 'focus behind'"
Right now it seems that issuing multiple 'focus behind' commands simply swaps focus between two windows even if there are many windows stacked on top of each other. I assume this happens because focus behind grabs the window directly behind the current window and then places the current window directly behind the newly focused window.

Would it be possible to cycle through all stacked windows? Wou

[2013-01-24 17:14] kmanville commented on #67
I've noticed similar unexpected behavior. The scenario in which I have noticed this is when I have multiple windows open on both the left and right hand sides of my screen arranged using 'push left/right  bar-resize:screenSizeX/2' To jump from side to side I use 'focus left/right' It is not clear how slate decides which window on a given side to focus, but it does consistently choose the same wind

[2013-01-24 18:27] robcowie opened #215 "Pass operation parameters to win.doOperation()"
It would be great to be able to dynamically generate parameters for an operation and pass them to `win.doOperation()` (or `operation.run()`, which does seem to accept an options array though it isn't used).

For example. Given

[code]

This runs the operation with params as defined.

[code]

The operation might be run with different params thus

[code]

[2013-01-24 19:42] jigish commented on #215
I suppose this could be a nice shorthand, but what would actually be happening in the background (the way it is coded up right now) is Slate would have to create a brand new operation. As such I wanted to make sure the user knows that is happening so the way you would do that is:

[code]

Now that I think about it, though, I can probably make a function `dup` on the operation object that will dupl

[2013-01-24 20:15] jigish commented on #213
no worries :) - closing this as it is a duplicate.

For the record, spaces support is high on my priority list but it is definitely not an easy problem =/.

[2013-01-24 20:15] #213 closed, assigned to nobody

[2013-01-24 20:20] jigish commented on #214
hmm. this is an interesting problem. directional focusing is very awkward right now, I have access to every window's position and the last focused order within the application. For example I'll know:

in app1:
- window1 is at point a,b
- window2 is at point c,d
- window3 is at point e,f
- the windows have a focus order of [window2, window3, window1] which means that window2 is on top of window3 wh

[2013-01-24 20:21] jigish commented on #211
Can you try updating to the latest Slate? I use focus regularly to focus Adium chat windows and it seems to work fine for me. Also are you trying to focus using the app name or directionally? what does your binding look like?

[2013-01-24 20:22] jigish commented on #206
weird. the observer should never be null unless slate was started and accessibility was off. but then in that case slate would have shown an error. either way i'll do a null check :)

[2013-01-24 20:24] jigish commented on #67
interesting. I thought it does focus the topmost. I'll take a look at the code to refresh my memory. If it doesn't I'm pretty sure thats a bug.

[2013-01-24 20:25] jigish commented on #67
what applications do you have running on the left/right? Sometimes focus likes to prefer windows in the same app (focusPreferSameApp is the config to turn that on/off).

[2013-01-24 22:49] michaelolson commented on #172
I tried it out, and it works great.  Thanks!

[2013-01-24 23:08] trishume commented on #91
@mzbik Infinite loops should not force a restart, all you have to do is force quit slate, the OS will not hang.

Adding a time limit stops cool behaviors like waiting for the user to press additional keys and things like that.

Also, awesome work @jigish and @mgax, I had hoped to contribute with MacRuby but the stupid GC incompatibility thwarted me :(

[2013-01-25 10:45] robcowie commented on #215
Ah, ok. This is indeed how I've approached it for now. `operation.dup(options)` would be a nice convenience.

[2013-01-25 15:30] mzbik commented on #91
Thanks, Tristan/Jigish.

Here's a question: is there a way to manipulate window/space relationships too?

On Jan 24, 2013, at 15:17, "Tristan Hume" <notifications@github.com<mailto:notifications@github.com>> wrote:

@mzbikhttps://github.com/mzbik Infinite loops should not force a restart, all you have to do is force quit slate, the OS will not hang.

Adding a time limit stops cool behaviors like w

[2013-01-25 16:18] ravasthi commented on #156
I'm also having this issue on ML:

[code]

This mapped my 1 key instead.

[2013-01-25 18:55] jigish commented on #91
@mzbik - Spaces Support is being tracked on Issue #78

[2013-01-25 18:56] jigish commented on #156
interesting. leave it to apple to ninja-change the function modifier constant in mountain lion. I'll test tonight to see what it is and try to fix it.

[2013-01-26 00:37] jigish commented on #91
For the record, I should be finished documenting everything in the wiki by EOD today. Most of it is done as of right now. All that is left is Expressions, the Window Object, the Application Object and the Screen Object. I'll also probably add a couple convenience functions on the Operation object tonight as well as aliasing the Window, Application, and Screen object functions (some of them are irr

[2013-01-26 03:37] jigish commented on #215
implemented. will push a new version tonight.

[2013-01-26 03:37] #215 closed, assigned to jigish

[2013-01-26 03:57] jigish commented on #156
wow. big fat ugly fail. I just checked this out on my mountain lion laptop and it seems like mountain lion ninja removed the ability to bind the `fn` key. there really isn't much i can do =/. i could try quartz event taps but that is going to be super irritating and based on my experience with the `switch` operation they are not reliable. i'm going to close this unfortunately and remove `fn` from

[2013-01-26 03:57] #156 closed, assigned to jigish

[2013-01-26 05:41] jigish commented on #91
Finally done documenting.

[2013-01-26 08:07] jigish commented on #153
So now that [JavaScript Configs](https://github.com/jigish/slate/wiki/JavaScript-Configs) exist, if you are comfortable with Javascript, this can be solved by simply storing values of the window's size into variables in JavaScript before executing an operation. Will that solve your use case?

[2013-01-26 08:07] jigish commented on #178
You now can do this with [JavaScript Configs](https://github.com/jigish/slate/wiki/JavaScript-Configs)

[2013-01-26 08:07] #178 closed, assigned to jigish

[2013-01-26 08:14] jigish commented on #158
This is doable now with [JavaScript Configs](https://github.com/jigish/slate/wiki/JavaScript-Configs)

[code]

[2013-01-26 08:14] #158 closed, assigned to jigish

[2013-01-26 08:18] jigish commented on #122
With [JavaScript Configs](https://github.com/jigish/slate/wiki/JavaScript-Configs) this (and many other things) is now possible without using weird options. You can create a free-form operation (a javascript function) to do whatever you want. Check you [this page](https://github.com/jigish/slate/wiki/Layouts) for an example.

[2013-01-26 08:18] #122 closed, assigned to jigish

[2013-01-26 08:19] jigish commented on #122
In particular on the [Layouts](https://github.com/jigish/slate/wiki/Layouts) page, the Google Chrome part of the layout shows a free form operation.

[2013-01-26 08:20] jigish commented on #138
is this still an issue or can I close this?

[2013-01-26 18:51] robcowie opened #216 "What version of javascript is supported?"
Useful to know what version of javascript is used to run js configs. It would be great if it were 1.8 so we could use generator expressions.

[2013-01-26 19:29] #138 closed, assigned to nobody

[2013-01-26 21:44] jigish commented on #216
Unfortunately I don't think 1.8 is supported.

The underlying code is using a `WebView` to execute the javascript so as a rule of thumb if you can do it in Safari, you can probably do it in your `.slate.js`. This may not be 100% accurate but it should be a good test.

I'll try to whip up a quick test page with some mocks of the `slate` object functions so people can test out their `.slate.js` to m

[2013-01-26 21:44] #216 closed, assigned to jigish

[2013-01-28 19:42] mgax commented on #206
No, accessibility was on, this crash occurred after running for some time, doing operations. Maybe there's a race condition with an application starting and stopping immediately, or something of that sort.

[2013-01-28 21:49] ravasthi commented on #156
Thanks for checking this out so quickly, Jigish.

On Jan 25, 2013, at 7:57 PM, Jigish Patel notifications@github.com wrote:

[2013-01-29 11:57] arlobryer opened #217 "NSRangeException"
I suspect I'm just misusing the throw directive however, when I add a line like:

[code]

With any number 0 or 1 (whilst using two screens), I get an alert saying:

NSRangeException
**\* -[_NSArryl objectAtIndex:]: index 0 beyond bounds for empty array

Could you advise me on what I'm doing wrong?

[2013-01-29 13:49] arlobryer commented on #217
Actually this is to do with the '<' that is in the command. I wanted ',' anyway.

[2013-01-29 14:43] ghost commented on #196
adding in rdio.app to the list. (though id assume it's not an app specific bug)

[2013-01-29 19:50] jigish commented on #217
Reopening this so I can fix the exception and display a more informative error.

[2013-01-29 23:19] Westacular commented on #177
I've noticed what I suspect is a related issue:

Strange, inconsistent behaviour with height-changing move operations when a window is hanging off the bottom of the current screen  (into nowhere) and there's a second screen that extends lower than the current screen.

To clarify: If my monitors are configured as

[code]

then any window hanging off the bottom of screen 0 will not behave correctly

[2013-01-29 23:26] Westacular opened #218 "Way to check if window is resizeable in JavaScript?"
Would it be possible to add a function to the JS Window object that returns whether or not a window is resizable?

[2013-01-29 23:35] Westacular opened #219 "screen.rect() dimensions aren't offset for Dock and Menubar"
Whereas screenOriginX and Y take into account the size and position of the Dock and the Menubar, screen.rect().x and .y do not.

Similarly, screen.rect().height and .width report the full dimensions of the screen, not the available dimensions after subtracting the area occupied by the Dock and Menubar.

Is this intentional/working as designed? If so, would it be possible to add some other way to c

[2013-01-30 00:16] jigish commented on #219
so this is working as intended so that you can get the actual resolution of the screen.

you make a good point, though. I'll add a `screen.visibleRect()` method to get the visible dimensions of the screen. That will take into account Dock and Menubar.

[2013-01-30 00:18] jigish commented on #218
Not yet. From the accessibility API there isn't actually a way to check if a window is movable/resizable. You pretty much have to try to move it and see if it works. If it doesn't work it'll throw an exception which I catch internally and then most of the time I'll return `false` on the `operation.run()` or `window.doOperation()` method.

I'll try to add a function that tries to "move" the window

[2013-01-30 00:20] jigish commented on #177
interesting. OS X is stupid sometimes when trying to resize windows that are not fully on the screen. I'll see if I can detect this case and do something to make sure it resizes properly.

Just so I have all the information, what version of OS X are you using?

[2013-01-30 00:24] Westacular commented on #177
I'm running 10.8.2.

[2013-01-30 00:29] jigish commented on #177
@gimbo - I am finally able to reproduce your case. You were absolutely right. Putting the bigger screen on top is what causes the issue. I'll look into this more.

[2013-01-30 00:39] jigish commented on #177
interesting observation for @gimbo's issue:

[code]

Out of all those, when the window is too wide for the smaller screen, only `8:ctrl` and `9:ctrl` work. The others do not. _really_ weird.

[2013-01-30 00:42] jigish commented on #177
@westacular - these issues are indeed related. your screen is hanging off the bottom, @gimbo's is hanging off the side. either way the Accessibility APIs seem to have issues resizing them.

As of right now the only way I can think to force a resize is to check if the window is currently off the screen, then resize the window to something like `screenSizeX/2;screenSizeY/2` and then resize it back t

[2013-01-30 01:16] jigish opened #220 "Support one-off operations in JS"
currently we can create operations in a pseudo `one-off` manner by using `slate.operation` but that internally creates an operation object. To prevent memory bloat, we need something like `slate.doOperation(name, options)` and `windowObject.doOperation(name, options)`. This will do the operation without actually creating an object preventing any bloat in memory from random operation objects floati

[2013-01-30 01:18] jigish opened #221 "Alias JS object methods"
should be simple enough if we create pass-through methods in objective-c. do this for `JSInfoWrapper`, `JSWindowWrapper`, `JSScreenWrapper`, `JSOperationWrapper` and `JSApplicationWrapper`.

[2013-01-30 01:26] jigish commented on #217
fixed. the better error will be in the next version.

[2013-01-30 01:26] #217 closed, assigned to jigish

[2013-01-30 01:35] jigish commented on #219
added. will be in the next version.

[2013-01-30 01:35] #219 closed, assigned to jigish

[2013-01-30 01:48] thomasjachmann opened #222 "javascript action not run when active app has no window"
When you bind an action to a keystroke and hit that key, the action only gets run when the active application has a window.

Example: Safari is the active app and has a browser window open, then hitting the key will run the action. When Safari has no windows open, hitting the key will not run the action.

[2013-01-30 05:35] Westacular commented on #219
Wonderful! Thanks a lot.

[2013-01-30 05:39] Westacular commented on #218
It's not a high priority thing for me. In the situation where I'm envisioning using it, I could just as easily check the return value for `window.doOperation()` and add a fall-back that moves the window without resizing it.

[2013-01-30 13:27] eproxus commented on #211
Seems to work with latest. Just a note: I've got a feeling "Automatically Check for Updates" doesn't seem to work?

[2013-01-30 13:27] #211 closed, assigned to jigish

[2013-01-30 13:58] eproxus commented on #153
@jigish So, is there a permanent JavaScript scope that stays alive between calls to the shortcuts then?

[2013-01-30 13:58] #153 closed, assigned to jigish

[2013-01-30 14:53] ealimonda commented on #206
I can confirm this crash in `AXObserverAddNotification`. It seems to be reproducible with a very high chance if you're launching an application that quits right away.

An application similar to the following (it's a small wrapper I'm using in order to fix some shortcomings of [MultiBrowser](https://sites.google.com/site/tesseractsoftware/multibrowser)), will cause Slate to crash almost everytime y

[2013-01-31 01:10] tr3buchet opened #223 "[Question] is slate able to automatically position windows?"
I'm attempting to find an application I can use to cause osx to open windows in the same position every time. As an example, since mail.app opens email in random positions on the screen, I would like to "pin" the mail window to the right side of the app itself, so that every time I open an email the window which is created to show the email is located at example the same place with the same size.

[2013-01-31 04:37] jigish commented on #223
It actually isn't as of now. I've looked in to this briefly and it is really difficult to accurately do this. A lot of times when you get a notification of a new window opening the window isn't ready to be moved yet and there isn't really an event that says "hey i'm ready to be moved now".

The closest thing slate has is defaults which will activate a layout when a given screen configuration (moni

[2013-01-31 04:37] #223 closed, assigned to jigish

[2013-01-31 04:39] jigish commented on #211
it does work it just isn't really predictable lol. I've gotten the notification myself, but since slate just sits there and runs in the background the sparkle framework doesn't really check automatically very often. it usually checks when slate is opened.

[2013-01-31 09:10] eproxus commented on #211
Ah, that explains it. I always put my computer to sleep, so no update there... :smiley:

[2013-01-31 11:00] thomasjachmann opened #224 "vertical window placement wrong"
bind esc:cmd move 0;screenSizeY_0.5 screenSizeX;screenSizeY_0.5 1

I'd expect this to place the window on the lower half of the screen, but it actually places the window's content on that location. The window's title bar sticks up into the upper half of the screen leaving a gab of the window's title bar's height below the window. Or am I doing something wrong here?

[2013-01-31 11:47] gimbo commented on #177
Just for completeness - I'm running 10.7.5 here.

[2013-01-31 18:49] chdiza opened #225 "Can't use "," or ";" as part of a modifier or modal-key"
I would love to use the comma in modifier lists and modal-key lists, but I can't seem to do so.  Same for the semicolon.

[2013-01-31 18:53] chdiza commented on #225
Let me revise the request to be only about using those keys as part of a modal-key string.  I now see in the README that the modifier list is very short.

[2013-01-31 21:44] jigish commented on #224
Couple comments and questions:
1. it really should be `bind esc:cmd move screenOriginX;screenOriginY+screenSizeY*0.5 screenSizeX;screenSizeY*0.5 1` because `0,0` is the top-left of the main screen (the one with the menu bar). it is always a good idea to use `screenOriginX` and `screenOriginY` because they take into account multiple monitors, the dock, the menu bar and such.
2. What application is

[2013-01-31 21:46] jigish commented on #225
hmm. I'll have to find a good way to allow this. will do it soon.

[2013-01-31 21:52] jigish commented on #206
fixed. will push a new version sometime today.

[2013-01-31 21:52] #206 closed, assigned to jigish

[2013-01-31 21:56] jigish commented on #218
fair enough. it is done either way :). isMovable and isResizable are methods on the window object. I'll push a new version some time today with the change.

[2013-01-31 21:56] #218 closed, assigned to jigish

[2013-01-31 22:14] jigish commented on #222
fixed. the window argument will be undefined if there isn't a focused window. i'll push a new version today with this change.

[2013-01-31 22:14] #222 closed, assigned to jigish

[2013-01-31 22:49] chdiza opened #226 "The sign that the modal key is active (the blue icon) is hard to see..."
When a modal key has been pressed and slate is waiting for input, it makes the menubar icon blue as a sign of this.

However, it is _really_ hard to see that sign toggle on and off, from one's peripheral vision (even on a small monitor).

Perhaps if the _background_ of the menubar icon turned blue it would be easier to see out of the corner of my eye that the modal key is still active.  Actually,

[2013-02-01 01:10] jigish commented on #220
done

[2013-02-01 01:10] #220 closed, assigned to jigish

[2013-02-01 02:06] jigish commented on #221
done.

[2013-02-01 02:06] #221 closed, assigned to jigish

[2013-02-01 09:15] thomasjachmann commented on #222
You're awesome!

[2013-02-01 10:12] thomasjachmann commented on #224
1. OK, so it's a user error. Using screenOrigin is reasonable.
2. Any application, eg Finder. Maybe I put it wrong. With "sticking up" I just meant that the window is placed a bit too high and by roughly the height of the title bar.
3. No need to further investigate in this, it really was a misunderstanding on my part, sorry for the hassle.

Thanks so much, slate is boosting my productivity immens

[2013-02-01 10:12] #224 closed, assigned to jigish

[2013-02-01 15:58] emory commented on #168
disclaimer: I don't know a damned thing about Cocoa, but is the fact that Slate's binary doesn't respect a SIGHUP related to this at all?  If you send a kill -1 to Slate's pid it just crashes.

If so, I'd be in favor of a SIGHUP to reload the configuration file, fwiw.

[2013-02-02 17:18] chdiza opened #227 "Is it possible to have more than one modalEscapeKey defined?"
I'd like to have more than one modalEscapeKey at the same time.  E.g., pressing either esc or space to get me out of modal land.

I can't seem to accomplish this.  If slate doesn't allow it, it seems like a nice feature to me.

[2013-02-02 18:44] jigish commented on #226
Interesting. I can add a config like `modalKeyActiveIndicator` or something that can allow you to choose which style you want. Just to make sure, here is a list of styles you are suggesting:
- Original icon color change to blue (default)
- Icon background change to blue
- Bezel (you mean a full screen bezel?)

Also, I'll probably end up adding a config like `modalKeyActiveIndicatorColor` which wil

[2013-02-02 19:50] chdiza commented on #226
I tried hacking the first two options by tweaking the file "statusActive.pdf".  Turns out that this hardly helps at all, even with a red background (or even with just a plain, red square!).  It's still too hard to see out of peripheral vision, even on a small monitor.

The third option, by which I meant something like the bezel that appears when one hits the volumes buttons on the keyboard, seems

[2013-02-02 20:01] chdiza commented on #225
The reason I ask is that there are so many nice things to do with slate but I'm running out of memorable hotkey combos that don't conflict with either OSX or those built into various apps.

Being able to mimic Vim's `<leader>` and `<localleader>` with `;` and `,` would help.

And what would REALLY help is if the slate analog of what Vim calls the `<lhs>` of a mapping could be more than one charact

[2013-02-02 20:05] mgax commented on #225
I agree this would be extremely useful, as it would reduce cognitive load for memorizing key combos. This use case was my original motivation for integrating a scripting language. Perhaps an api for on-the-fly binding and unbinding of hotkeys would be sufficient.

[2013-02-02 22:10] philc opened #228 "Switcher CMD+Q and CMD+` do not work as expected in 1.0.24"
1. If you cycle through the apps such that the 2nd or 3rd is selected when the Switcher is open, and hit CMD+Q, the first app is quit.
2. If you type CMD+`while the switcher is open, rather than cycling through the entries in switcher, CMD+` is passed through to the underlying app (which cycles through that app's windows).

I suspect the underlying problem for both of these issues is that these ke

[2013-02-02 22:19] moricard opened #229 "Getting a window reference to all windows within a screen"
The current `Screen Object` does not provide a method to get all `Window Object`s within that screen. It would allow for an easy way of resizing or moving all windows in a view. The only way I found of doing this is by probing the screen at regular points and getting the window under that point.

i.e.

[code]

This does not adapt well to various screen layouts. It would be nice to have something l

[2013-02-02 23:17] jigish commented on #227
doesn't allow it yet, but seems like a great idea :). I'll implement this soon.

[2013-02-02 23:18] jigish commented on #228
interesting. I noticed this and thought I fixed it. I'll check on it again.

[2013-02-02 23:23] jigish commented on #229
ah! good idea. I'll implement this but it is actually not as easy as it seems. I basically have to loop through all windows and check which screen they are on. You can already do this by using the `screen()` method on the window object. Sort of like this:

[code]

Note I have not tried this. it _should_ work but I'm not sure if it actually does.

[2013-02-03 21:10] moricard commented on #229
Your solution works,  I used it to implement an XMonad-style resizing of the windows when working with a vertically split screen:

[code]

I can then bind the following:

[code]

[2013-02-03 23:30] kmanville commented on #67
I have focusPreferSameApp set to false.

I originally noticed the problem with iTerm2. After playing around with Firefox, Safari, Finder, and iTerm2 for a few minutes it seems that it is only a problem with iTerm2. With the other applications it seems to always focus on the topmost.

I'm noticing that iTerm2 doesn't resize perfectly to half the screen  if I 'push left/right bar-resize:screenSizeX/

[2013-02-06 12:34] kunegun opened #230 "Problem with .slate.js"
Hi, I'm new here.

I was using slate for a month, but when i updated to the new version (above 1.9), the program never work again!

I don't know why? I think is for the slate.js, where I have to put it?

Thanks!

[2013-02-07 20:21] ilyeah opened #231 "hide Slate from menubar"
can you add an option to do this?
make it work in background
and as option alt+run to show menubar icon

[2013-02-07 21:48] peoppenheimer opened #232 "Slate does not find textmate"
Slate window hints display every window except TextMate (version 2, still in beta).  Is there something I can do to make slate aware of TextMate?

[2013-02-08 10:51] robcowie commented on #230
`.slate.js` must be in your home directory, the same folder as your existing `.slate`

[2013-02-08 11:32] robcowie opened #233 "Operation does not accept numeric for width or height"
Passing an int as height or width to the 'corner' operation fails. For example, the following fails:

[code]

whilst this works:

[code]

[2013-02-08 13:15] kunegun commented on #230
It doesn't work for me!

This ("[SLATE] -------------- Finished Loading Config --------------") never appears at the console, and i don´t know why.

[2013-02-08 13:48] robcowie commented on #230
Post the contents of your .slate.js file, and it's file path to https://gist.github.com or similar and I'll have a think.

[2013-02-08 13:57] kunegun commented on #230
I have the .slate.js that is in the example of slate, i didn´t change anything

https://github.com/jigish/dotfiles/blob/master/slate.js

[2013-02-08 14:19] robcowie commented on #230
That example works for me if I put it at `~/.slate.js`. Where exactly is your file? Have you restarted slate?

[2013-02-11 11:57] kunegun commented on #230
I put this archive at Contents/Resources/ but i can´t give the name of .slate.js it says that . is reserved to system.

[2013-02-12 01:02] veered opened #234 "Config must come before bind"
In my .slate file, I had all of my configs below all of my binds and was frustrated to see that windowHintsSpread = true was not spreading the hint icons apart. However, when I moved all of my configs above my binds the hint icons spread apart.

Here is the broken .slate:
https://gist.github.com/Veered/4759131

This is the working .slate file:
https://gist.github.com/Veered/4759121

[2013-02-12 01:19] jigish commented on #234
yah, I need to be more clear about this in the docs I guess. The file is read top-down so anything that isn't declared before a bind may not be used for that bind. I'll update the readme.

[2013-02-12 01:23] jigish commented on #230
I'm sorry, can you be a bit more clear about what is going on? Here is the information we need:
1. Are you trying to use a `.slate` or a `.slate.js` or both?
2. where are you putting your `.slate` and/or `.slate.js`? They should go in your home directory (`~/`)
3. If you don't mind, can you run `ls -al ~/.slate*` in your terminal and paste the output here? It should look something like this:

[cod

[2013-02-14 02:09] keith commented on #89
A Linux version _would_ be awesome

[2013-02-14 09:44] kunegun commented on #230
I'll found the problem, it was the . before the name of the archives

Which is the best option to do this? i did it with the terminal, but now this archives are invisible

thanks!

[2013-02-14 11:18] robcowie commented on #230
By default the Finder does not render files whose name begins with a dot. If you want to work with these files, the terminal is the best option.

So to confirm, the .slate.js config file (it's a file, not an 'archive' :smile: ) is in the folder `/Users/<yourname>/`?

[2013-02-14 12:06] kunegun commented on #230
Yes! it's running ok now!

the .slate.js config FILE (:P) is in the folder /Users/<yourname>/

thank you so much!

[2013-02-14 12:53] 74io opened #235 "Stopped working in Mountain Lion OSX 10.8.2"
Hello there,

I love slate, but after a recent update (can't remember which sorry) it just stopped working.

I am only posting the question here out of desperation. I would appreciate any help or pointers that might get this wonderful app working again.

I am using Mac OSX 10.8.2.

Kind regards

Ryan

[2013-02-14 13:22] 74io commented on #235
OK forgive me. It was the same .slate.js file issue. I had to find a .slate.js file (not obvious and I used the one posted here: https://github.com/jigish/slate/issues/230

It would be handy under the 'Configuring Slate' option to say that you need a .slate.js file and here is how to get it. It appears there is no fall back like the .slate file.

Many thanks for all you hard work. I now have the a

[2013-02-14 13:22] #235 closed, assigned to nobody

[2013-02-15 19:07] philc opened #236 "Slate's window drawing is in a bad state after restarting the OS"
OSX 10.8.2
Slate 1.0.24

Every time I restart, the window hints key seemingly isn't bound, but the other keys (like moving windows) are. If I click on Slate's menubar icon and select About Slate or Current Window Info, nothing happens.

I think what's actually happening is that Slate's windows are somehow not showing or in a hidden state.

If I then select "Check for updates", all of Slate's previ

[2013-02-16 04:37] geddski opened #237 "how to bind keys only after slate is opened?"
Divvy lets you assign shortcut keys that only apply after launching the divvy grid. So for example I can type `ctrl+f` to bring up divvy, then just `f` to go to full screen. Is there a way to do this with slate?

[2013-02-16 05:11] geddski commented on #237
never mind I found it, modal key.

[2013-02-16 05:11] #237 closed, assigned to nobody

[2013-02-16 05:47] geddski opened #238 "How do you set the grid size in JS?"
[code]

[2013-02-16 05:55] geddski commented on #238
found it. thx.

[2013-02-16 05:55] #238 closed, assigned to nobody

[2013-02-18 12:29] mlegenhausen opened #239 "Window/App change event listeners"
It would be nice if I could listen, when a new app or window was opened. Something like:

[code]

This would allow me to arrange the windows of an app automatically on start up without pressing any keys. Or is this already possible?

[2013-02-19 13:44] knl opened #240 "Missing link to Slate's website in About box"
Hi, sometimes I need to visit these pages to find something about Slate. Naturally, I go to About box, but there is no link. There is one link saying "Contributors", but that is not the right thing. Could you please add a link to Slate's webpage?

[2013-02-19 14:17] lrem opened #241 "Problem with operations in width when using corner"
This works as expected:

[code]

But none of the following:

[code]

Every time the result is that the window is put somewhere on the left side of the window, most of its surface past the screen border. To make things funnier, everything works fine for a symmetrical `lapMainLeft` definition.

[2013-02-20 09:58] deiga opened #242 "Slate needs some kind of log to be easier to debug"
Hi,
I seriously think that slate needs some kind of log that will tell me if there were any errors in parsing the .slate and what happens when pressing keys. It's frustrating to notice that some bindings simply don't work and not know why or what to do about it.

[2013-02-20 10:25] deiga opened #243 "Can't get binding for relaunch to work"
I've got the following settings
- ~/.slate

[code]
- ~/.slate.js

[code]

Neither one has any effect, but it also doesn't report any errors.

BTW: how do I bind keys and aliases in the javascript files? Like this?

[code]

[2013-02-20 10:32] deiga opened #244 "Need to limit the area in which the hints are spread"
Because they spread hints lower than my screen size.

[2013-02-20 10:34] deiga opened #245 "Ignore applications from hints"
Would it be possible to implement a way to ignore applications from hints?

My use case would be Quicksilver and all other apps with direct keybinds. The hint for QS just takes up valuable spread space currently and would bever actually be used :)

[2013-02-20 12:02] sabberworm opened #246 "push commands not undoable"
The undo command does nothing when used after a `push right` command.

However, when I emulate `push right` using `move screenOriginX+screenSizeX-windowSizeX;windowTopLeftY windowSizeX;windowSizeY`, I can use `undo` to revert the change.

Same goes for all other `push` commands I’ve tried (`push up`, `push down`, `push left`, `push right`; However, I’ve not tried using any of the optional params (

[2013-02-20 12:10] sabberworm opened #247 "Using modifiers with modal keys"
When mapping commands to keys in modal mode, modifiers can be specified for the enter-modal-mode key but not for the actual key. I would suggest adding that option.

Suppose I have the following key bindings:

[code]

Currently, these two are equivalent and will be activated when one enters modal mode using cmd+f9 and then presses the upwards arrow.

I think the desired behaviour would be if the f

[2013-02-20 19:24] stouset commented on #99
Out of curiosity, why should there be a configuration option for this? Why shouldn't it "just work"? It seems like requiring a configuration file for every keyboard layout under the sun will be an annoying duplication of effort that just isn't necessary.

[2013-02-20 20:32] jigish commented on #99
not really sure how it can "just work"? Each keyboard layout maps different physical keys to different key codes. I couldn't really find a reliable way to determine which layout is currently selected for the user and even if I did I'd still need to create a mapping file for it as I doubt OS X exposes the mapping. So this seemed like the next best option to me. If you know of a better way to do thi

[2013-02-20 21:25] coddingtonbear commented on #242
Have you noticed `slate.log` (https://github.com/jigish/slate/wiki/JavaScript-Configs)?  It allows you to send messages to OSX's console.

[2013-02-20 21:25] stouset commented on #99
A little Googling turned up [some code](http://inquisitivecocoa.com/2009/04/key-code-translator/) to translate keycodes into keys (and key names) through the keyboard layout using Cocoa.

No idea if it still works, or if it actually helps to solve the problem for your use-case. Thoughts?

[2013-02-22 07:42] Coneko opened #250 "Default configuration is not loaded."
The documentation says that if a configuration file isn't present, the default one will be used.
This doesn't seem to be the case however, at least in the prebuilt `.dmg` version.

[2013-02-22 22:42] victorhooi opened #251 "Slate - Window Hints - Lay out in grid?"
Hi,

I'm using a Macbook Air 13" - and I usually have most of my windows maximised to take up the whole screen.

Hence, I set `windowHintsIgnoreHiddenWindows` to `false` so that I can see hints for all my apps, otherwise I'd only see a single hint for the currently maximised window.

However, all the icons were then spread on top of each other. I set `windowHintsSpread` to `true`, to spread the ic

[2013-02-23 19:47] jigish commented on #246
merged. this will be fixed in the next version

[2013-02-23 19:47] #246 closed, assigned to nobody

[2013-02-23 19:51] jigish commented on #240
fixed. will be in the next version

[2013-02-23 19:51] #240 closed, assigned to jigish

[2013-02-23 19:52] #230 closed, assigned to nobody

[2013-02-23 19:54] jigish commented on #235
you actually need a `.slate.js` _or_ a `.slate`. You shouldn't need both. Also, if you don't specify either slate should use the default config. If this is not the case please let me know. I need to fix that.

[2013-02-23 20:13] jigish commented on #250
fixed. will be in the next release

[2013-02-23 20:13] #250 closed, assigned to jigish

[2013-02-23 20:17] jigish commented on #239
This is an interesting idea. May be awkwardly complicated to implement though. Have you checked out layouts and defaults? They may tide you over until I figure out a way to implement this well.

[2013-02-23 20:17] jigish commented on #236
interesting. probably has something to do with the fact that slate is a menubar only app.

[2013-02-23 20:19] jigish commented on #137
have you seen this issue recently? I can't seem to figure it out.

[2013-02-23 20:19] jigish commented on #231
duplicate of #77

[2013-02-23 20:19] #231 closed, assigned to nobody

[2013-02-23 20:38] jigish commented on #233
fixed. should be in the next release

[2013-02-23 20:38] #233 closed, assigned to nobody

[2013-02-23 21:04] jigish commented on #241
fixed. lol forgot about order of operations =/. should be in the next release

[2013-02-23 21:04] #241 closed, assigned to nobody

[2013-02-23 22:41] Westacular opened #252 "slate.screenForRef() should probably accept numbers"
This is a nitpicky thing that doesn't make much real difference, but...

Currently, `slate.screenForRef(0)` returns undefined; you must instead call `slate.screenForRef("0")`.

This seems idiosyncratic, since `screen.id()` returns `0` and not `"0"`.

[2013-02-23 23:05] jigish commented on #252
fixed. will be in the next release

[2013-02-23 23:05] #252 closed, assigned to nobody

[2013-02-23 23:07] jigish commented on #242
yes, if you're using the JavaScript configs then `slate.log` is the way to go. Otherwise you can also clone the repository and use the Debug version of slate. That throws all sorts of logs to the Console. What issues in particular were you seeing? If a binding does not parse properly it should throw up an alert.

[2013-02-23 23:15] jigish commented on #243
Just tried

[code]

And it worked fine for me. Are you sure it isn't working? The relaunch is silent and the only way to know it happened for sure would be to put a log in your `.slate.js`

To the second point - yes. Since javascript is a full language, I didn't implement any sort of alias. I figured if you want aliases you can just define a variable :). So your relaunch would be:

[code]

Also tr

[2013-02-23 23:22] jigish commented on #234
updated the readme

[2013-02-23 23:22] #234 closed, assigned to jigish

[2013-02-23 23:30] deiga commented on #243
Oh, I figured out my problem and it actually had nothing to do with slate :) I had remapped my keys in a way which prevented left shift and left side keys to be used :P

[2013-02-23 23:30] #243 closed, assigned to nobody

[2013-02-24 02:23] snarfed commented on #235
confirmed, i'm using slate 1.0.24 on os x 10.8.2, and it doesn't work unless you have a .slate or .slate.js file.

[2013-02-24 03:00] jigish commented on #239
ok I've implemented a couple things. I'll update the wiki when I get a chance and link the page here. should be in the next release.

[2013-02-24 04:26] jigish commented on #239
[check this out](https://github.com/jigish/slate/wiki/Events)

[2013-02-24 04:26] #239 closed, assigned to jigish

[2013-02-24 21:33] kdorsel opened #254 "Option to reset chain state if shortcut released"
Given a sample config :
...
var leftMove = S.op("chain", {"operations":[leftHalf, leftThird, leftQuarter]});
S.bnda({"left:alt,ctrl,cmd" : leftMove});
...

Let's assume I activate the shortcut twice and get to leftThird. Later I want to make it fill the leftHalf, although currently if I activate the shortcut it fills leftQuarter.

I would like to see either a global or per bind option that resets

[2013-02-24 22:13] robacarp commented on #137
I havent had any problems with it in months on any of my computers.

Thanks for looking into it though,

[2013-02-28 04:18] ghost opened #255 "Some hints are perceived by application"
The main time I notice this is when I use hints to switch to Chrome while I'm in github, which then focuses the github-search field at the top of any github page.

[2013-02-28 06:54] headingy opened #256 "can not throw up/down with specific display arrangement"
When the left sides of the 2 displays are aligned, I can throw windows up/down.

![OK-Screen Shot 2013-02-28 at 2 47 26 PM](https://f.cloud.github.com/assets/3030546/204360/0d35440a-8173-11e2-8d27-1fa59d39f3a2.png)

But when the left sides are not aligned, I can not throw windows.

![FAIL-Screen Shot 2013-02-28 at 2 48 05 PM](https://f.cloud.github.com/assets/3030546/204362/178dfa0a-8173-11e2-8b6b

[2013-02-28 14:39] ghost opened #257 "Temporarily pause screen rendering for windows being moved during an event"
Typically you use [NSDisableScreenUpdates()](https://developer.apple.com/library/mac/#documentation/Cocoa/Reference/ApplicationKit/Miscellaneous/AppKit_Functions/Reference/reference.html#//apple_ref/c/func/NSDisableScreenUpdates) to pause drawing and [NSEnableScreenUpdates()](https://developer.apple.com/library/mac/#documentation/Cocoa/Reference/ApplicationKit/Miscellaneous/AppKit_Functions/Refere

[2013-03-01 16:38] cfenollosa commented on #199
I confirm that `resize +10% +0 bottom-right` does not work if the window's right edge is on the rightmost limit of the screen. If the window is, say, in the middle of the screen, the keybinding works, so it is not a key mapping issue.

`resize +10% +0 bottom-right` seems to resize on the right + nudge to the left, and as the window is at the right limit of the screen, the whole command fails.

[2013-03-01 16:41] cfenollosa opened #259 "`resize +10% +0 bottom-right` does not work if the window's right edge is on the rightmost limit of the screen"
`resize +10% +0 bottom-right` does not work if the window's right edge is on the rightmost limit of the screen. If the window is, say, in the middle of the screen, the keybinding works, so it is not a key mapping issue.

`resize +10% +0 bottom-right` seems to resize on the right + nudge to the left, and as the window is at the right limit of the screen, the whole command fails.

[2013-03-02 08:57] jparris commented on #214
As a wmii/i3wm user on linux this is a big frustation for me. But I think I have a kludge that might work. You keep a list of all running apps and the order they were visited in, think how cmd-tab sorts apps by most recently used. You can then make your own z-index for apps behind the current window ranked by age.

[2013-03-05 09:10] mytrainingground opened #260 "Module Key Timeout"
I find that as I am using the modal keys, I occasionally unintentionally activate my modal key binding. Modal mode then remains active until I hit one of the defined keys (this if often a few seconds later). Would you consider implementing an configuration to set a modal mode timeout?

[2013-03-05 14:44] pvinis opened #261 "a way to automatically change to a layout when an application is opening or quitting"
I have a layout "normal" and a layout "programming".
It would be nice to have an automatic way, so that when i open macvim, the layout switches, and when i quit it, the layout switch back.

[2013-03-05 18:11] ghost commented on #156
FWIW, using KeyRemap4MacBook allows one to remap the Fn+<key> or Fn + <other modifiers> + key type shortcuts quite reliably. Even on Mountain Lion. Which means that it should be possible, in theory, for Slate to be able to allow Fn based based bindings as well.

Edit:
Allowing Fn as a modifier (with all the combinations possible by combining it with other modifiers) would make it really convenient

[2013-03-05 23:49] Westacular commented on #261
Thanks to the recent addition of [event listeners](https://github.com/jigish/slate/wiki/Events), you can already do this using javascript.

[2013-03-06 18:48] ghost opened #262 "(Another) request/suggestion regarding the 'Fn' key -- please do have a look."
[I know there have been quite a few 'Fn' key related issues, and they all had to be closed because of problems making the feature work. However I had something to add, and wasn't sure if I would be able to get your attention if I posted to an already closed issue.
So, I am creating a new issue. Feel free to delete/close this, if it makes sense]

I love Slate. But with some many configurations poss

[2013-03-06 19:38] SethMilliken commented on #262
The core functionality of KeyRemap4MacBook is provided as a kernel extension. This presents a vastly different model of installation and authorization than Slate: Launching the Slate app vs launching the KeyRemap4MacBook installer, providing admin credentials, going through the installation procedure, and then rebooting (after which you are at risk of provoking kernel panics). Don't get me wrong,

[2013-03-07 07:53] klokie commented on #82
This feature would be amazing! I like Afloat but the preferences screen doesn't work for me in OS 10.6, and its dependency SIMBL crashes on every boot. Just trying out Slate now and it looks great!

[2013-03-07 07:58] klokie commented on #195
Also, defaults of right:cmd and left:cmd clash with standard web browser forward and backward controls, and right:alt and left:alt clash with standard OS X text controls (next/previous word). What would be great would be to adjust these defaults so as not to clash with de facto standard keys, and pop up a dialog upon first use that allows the user to edit them; alternatively add a menu item to the

[2013-03-07 10:27] pvinis commented on #261
and where do i put them? in the `.slate` file?

[2013-03-07 22:27] Westacular commented on #261
In `.slate.js`

[See here](https://github.com/jigish/slate/wiki/JavaScript-Configs) for getting started with JavaScript configs.

You'll probably want something like

[code]

[2013-03-08 04:18] lingnand opened #263 "Add shadow to letters for Hinting mode?"
The current implementation just uses plain white letters on top of icons in the hinting mode; as a result it can be very difficult to tell the letter for some apps with bright icons.

I think this can be easily fixed by just adding shadow for the letters in Photoshop / Illustrator...

[2013-03-08 14:14] floscr opened #264 "Scaling before Positioning?"
I would like to center a window and resize it to certain dimensions.
Right now I'm doing it by calling the same function twice, which isn't ideal.

The problem is, slate adjusts the position before the size of a window.
Ist there a better way to do this?

// Centers the window nicely in the middle of the screen
var centerNice = slate.operation("move", {
  'x' : '(screenSizeX-windowSizeX)/2',
  'y'

[2013-03-08 14:26] pvinis commented on #261
awesome! thanks.

[2013-03-08 14:26] #261 closed, assigned to nobody

[2013-03-08 15:09] ghost commented on #262
@SethMilliken: Agree with you for the most part. However, KeyRemap4MacBook requires admin privileges only once, during installation. So as far as inconvenience goes (ignoring security aspects), its hardly an issue. Also, it might be worth investigating if admin privileges are required specifically for the Fn functionality (though I have a hunch it they would be, as well).
Using modal-key is a grea

[2013-03-09 11:47] deiga commented on #242
@jigish I've just noticed that my .slate.js doesn't load at all, or at least bindings don't work and S.log doesn't either. Could you look at it and tell me if there's something wrong? It used to work last week or so..
https://github.com/deiga/dotfiles/blob/master/slate.js

[2013-03-09 16:55] ghost opened #265 "screenOriginY and screenSizeY have incorrect values when Apps which autohide menubar are active"
Certain apps, when they have focus, can make the menubar invisible/auto-hidden.
This can even be configured for a "regular" app by modifying its .plist file.

When such apps have focus, screenOriginY and screenSizeY should take the extra space available at the top (where the menubar would have been) into account, which they do not at the moment.

[2013-03-10 03:30] lingnand opened #266 "Cannot see the hint letter"
Due to the fact that the hint letters are all white and a large number of app icons come with bright colors at the center, it becomes hard to see the letter if the icon is enabled.

Probably can add a simple shadow underneath the letter?

UPDATE: sorry, have reposted..

[2013-03-10 03:31] #266 closed, assigned to nobody

[2013-03-10 03:46] lingnand opened #267 "Grid cannot be controlled using keyboard shortcut"
I'd like to control grid using keyboard instead of mouse - in the end, a major point of slate is to make window management keyboard-friendly.

Moom currently provides this functionality. You summon the grid pane, use j,k,h,l to move a single cell around, hold shift to select adjacent cells, when finished press enter to confirm.

A nice feature Moom also provides is that when you move the cell arou

[2013-03-10 15:30] ghost commented on #259
I have this issue too.

[2013-03-11 06:14] snarfed commented on #67
i have the same problem with Emacs and Firefox and focusPreferSameApp set to false. when one Emacs frame is focused, directional focus always prefers another Emacs frame, even when Firefox is on top and has the exact same dimensions (to the pixel).

i've worked around that by rolling my own JavaScript directional focus functions that use slate.windowUnderPoint(), which works more predictably. for

[2013-03-11 09:41] ghost commented on #259
A similar issue occurs when trying to invoke 'resize +0   +10% bottom-right' with the bottom of the window touching the bottom of the screen - nothing happens.

[2013-03-13 12:41] ghost opened #268 "request: focus left/right/etc should (optionally or by default) not focus windows which are not visible"
As the subject says, currently 'focus left/right' etc also focus windows which are not visible, often leading to a window I don't want getting focused.

Can you provide a config option to avoid this?

[2013-03-14 07:51] calvinwyoung commented on #153
Sorry to resurrect a closed issue, but I'd really like to implement something in JS to make this work.  The problem I'm running into is that I can't reliably distinguish between multiple windows of the same application.  I can't use `window.pid()` since that returns the ID of the application, and I can't use `window.title()` because that's likely to change.

Did you end up figuring out a solution?

[2013-03-14 10:06] tmramalho commented on #259
Have this issue too, running 10.8

[2013-03-15 03:02] jeffharrell opened #269 "Layouts break if applications are reopened"
I have a few layouts setup and they work great until I quit and then later reopen my one of the applications. Once this occurs, that specific application is ignored by Slate until I reload it's config.

Here's one of my layouts where this occurs:

[code]

[2013-03-15 07:00] calvinwyoung opened #270 "Uniquely Identifying Windows in JS"
Is there any way to get a unique ID for a window in JS?  I'd like to be able to reliably distinguish between different windows of the same application.

[2013-03-15 12:15] Velrok opened #271 "please add ^ to the list of keys"
Could you add the ^ symbole to the list of accepted keys?
On a german QWERTZ layout its left to the 1 key and I would like to use it for window focus switching.

You build some very useful software here. Thanks!

I have no experience in Objective C, otherwise I would provide a pull request.

[2013-03-18 12:56] henrikolsen opened #272 "screenOriginX and screenOriginY are wrong with hidden Dock"
When auto hiding the Dock, it seems the screenOriginX (if Dock is on the left), or screenOriginY (if Dock is at the bottom), are wrong.

I have attached a screenshot showing the issue with the following setup (notice how there's a gap at the left (I have my Dock on the left).

[code]

![Screen Shot 2013-03-18 at 1 54 46 PM](https://f.cloud.github.com/assets/609006/270532/09767e54-8fcb-11e2-9bb4-d0

[2013-03-18 13:54] henrikolsen commented on #272
I can see that it seems to be a generic issue, that a hidden Dock causes some odd padding.

Trying another operation (push instead of move), getting a window moved to the left edge (where Dock is hiding), I again see the same padding as the previous example.

[code]

[2013-03-18 14:51] Velrok opened #273 "qwertz supprt"
Could you support the QWERTZ keyboard layout?

On the german layout the ö button is on the right side of the l button.
So ö is part of the home row specially the right pinky finger.

I would like to use this key in key bindings:

[code]

[2013-03-18 15:35] deiga commented on #273
In what way? You can define the keys used for switcher yourself

[2013-03-18 15:39] Velrok commented on #273
How can I do that?
Is switcher a 3rd party program?

[2013-03-18 15:40] deiga commented on #273
when you bind hint you can give it a string of characters which it uses. You do this in the configuration

[2013-03-18 16:08] Velrok commented on #273
Sorry I don't get you :( .

I want to do something like this:

[code]

[2013-03-18 17:15] deiga commented on #273
Ah, your issue topic is totally misleading.
What you want is unicode character support, it has nothing to do with the arrangement of your keys on the keyboard..

[2013-03-18 17:57] Velrok commented on #273
Yes and no. I guess my key arrangement contains unicode characters :(, which I would like to use.

I also changed the description. Hopefully my intentions are clearer now.
@deiga Thanks for all the comments and suggestions.

[2013-03-19 20:38] deiga opened #275 ".slate.js doesn't get loaded anymore"
I'm not really sure whats happening here. I just noticed that my bound keys don't work anymore, which led me to notice that `S.log` doesn't print anything into console.

I had to move my bindings to `.slate`, but I can't move everything.

Any help? :)

https://github.com/deiga/dotfiles/blob/master/slate
https://github.com/deiga/dotfiles/blob/master/slate.js

[2013-03-21 22:18] calvinwyoung opened #276 "Saving references to window objects"
Using the JS config, and I'd like to be able to toggle between recently focused windows.  Right now, I have something that looks roughly like:

[code]

I'd like to be able to pop a window object off the stack and call `.focus()` on it.  At the moment, however, calling `.focus()` on one of the popped window objects causes slate to segfault.

Is there another way to achieve this functionality with t

[2013-03-21 22:29] sasha-ashpis commented on #251
As far as I know there is no grid option, but u can change the fact that they appear starting in the middle and go down, and hence some get cut off the screen.
e.g.
`config windowHintsShowIcons true`
`config windowHintsIgnoreHiddenWindows false`
`config windowHintsSpread true`
`config windowHintsSpreadPadding 15`   # pixel gap between icons
`config windowHintsDuration 5`               # how long h

[2013-03-21 22:38] sasha-ashpis commented on #183
config windowHintsIconAlpha 0.5
is not in the documentation. Are there other hidden features?

[2013-03-22 17:40] 73 opened #277 "Configs to ~/Library/Application Support/slate"
First of all: Thank you! I am reading through the documentation right now to get it configured.

The Mac way for config files would be to put them in ~/Library/Application Support/slate.
Could you add this path to the lookup locations (for the sake of my home folder)?

Thank you for you consideration,
73

[2013-03-23 09:36] henrikolsen opened #278 "Snapshot operations (js config) do not respect the set name attribute (version 1.0.25)"
It seems the name "name" is used, no matter what I try to set it to.

Using the code below.

[code]

Looking at the snapshot file on disk, I see the following.

Before snapshot:

[code]

After snapshot (notice name is "name", not "mySnapshotTest"):

[code]

Deleting snapshot, but using a non matching name (indicating code doesn't care and still used "name"):

[code]

[2013-03-23 16:58] edkolev commented on #270
Also interested. I'd like to switch to the next window of the focused app (like cmd+`).

[2013-03-25 21:35] eproxus commented on #153
Hey, missed your reply. No, I haven't had time to implement something in JS for this. Work came in between.

How about PID + title + current position + current size (which would then have to be updated on every resize and move)? This would not work for windows in the same app existing exactly on top of each other, but would otherwise work.

[2013-03-26 14:46] davidmerrique opened #279 "Margin setting between windows & screen edge"
Hi,

It would be great to have a margin between windows and the edge of the screen.

Right now, pushing windows pushes them to the edge of the screen, but this option would allow easy access to desktop icons. I've emulated this with my config, but a global margin config setting would be very useful.

SizeUp has it http://www.irradiatedsoftware.com/sizeup/

Here's my config with faux push + margins

[2013-03-27 06:42] calvinwyoung commented on #153
Yeah I guess something like that makes sense and should work for now.  Hopefully we'll have something a little more robust in the future :)

[2013-03-27 08:03] mitchellh opened #280 "Shell runs in modal context"
As part of my layout I'm executing an AppleScript that sends key strokes to commands. I noticed some random letters were getting "eaten." It appears that slate is still in modal mode, so it is eating up bounded letters.

It'd be nice if shell scripts were run outside of modal mode..

[2013-03-27 08:21] mitchellh opened #281 ""focus right" to top-most window?"
Is there a way to focus in a direction and prefer the top-most window? I'm getting bit by focus being dumb and pulling to the front a Window I don't really care about.

[2013-03-27 12:59] floscr opened #282 "'screenWidthX' to a javascript variable"
How do I apply variables to 'screenWidthX' to a javascript variable like this?

var tempScreenWidth = 'screenWidthX';

If I do it this way my script doesn't work.

[2013-03-27 13:07] floscr commented on #279
Nice I'm working on a similar script myself, but i like to keep my margins easily editable.

https://gist.github.com/artish/5254020

[2013-03-27 14:15] brunogama opened #283 "binding to a shell script makes Slate quit"
I switch between browsers all day so I wanted to make a key bind to the current default browser, so I created a [little script](https://gist.github.com/brunogama/5254021). It's ugly but works ;)

But i am always getting the error message: [<WebScriptObject 0x1003c33d0> valueForUndefinedKey:]: this class is not key value coding-compliant for the key app.

this is the snippet that I am trying to run

[2013-03-29 00:39] hughsaunders opened #284 "Chains fail with layout operations [js-configs]"
When a list of layout operations are combined using a chain, the first option is always executed, regardless of the number of times the chain is invoked. However if the same operations are wrapped in functions within the chain, then they are alternated as expected.

Examples:

[code]

[code]

[2013-03-29 03:59] davidmerrique commented on #279
@artish Ah, editable margins! Good idea, I updated mine. But this would be a great feature to have built in.

[code]

[2013-03-29 13:14] DeaconDesperado commented on #270
Agreed.  It would be awesome to be able to distinguish between browser windows whose titles change very frequently.

[2013-03-31 12:47] hughsaunders commented on #282
I think it should be something like:
var width = slate.screen().rect().width;
However I have had problems with rect() returning null/undefined.

[2013-03-31 12:52] hughsaunders commented on #269
Could use an event to move/resize new windows into your layout, see:  https://github.com/jigish/slate/wiki/Events

[2013-04-02 01:14] puffnfresh commented on #275
Same problem here.

[2013-04-02 16:13] matschaffer opened #285 "Having trouble making a "zoom" shortcut"
I'd like to set up a zoom shortcut similar to ShiftIt's f:ctrl;alt;cmd but I can't figure out the right operation to make a window take up the full space of it's current display.

Thanks in advance for the help.

[2013-04-02 18:22] puffnfresh commented on #275
Turns out I had a syntax error. Ran JSHint over my .slate.js config. Works fine now!

[2013-04-03 00:49] deiga commented on #275
Figured out why my slate doesn't load.

[code]

The `"t:"+hyper` row causes the problem, if I comment it out then everything works

[2013-04-03 00:52] puffnfresh commented on #275
@deiga that's not syntactically valid JavaScript. Would have to write:

[code]

[2013-04-03 01:03] deiga commented on #275
This is weird, since it did work earlier... and the documentation has an example just like mine `"right:cmd" : S.op("focus", { "direction" : "right" }),`

[2013-04-03 12:37] martisj opened #286 "[Feature request] Allow window hints to just show as a grid instead of being based on where the windows are located"
This would make it work more like an application switcher, and a damn efficient one at that.

[2013-04-04 15:47] mccarthyjames commented on #78
+1 for this functionality. I've been using both Divvy and SizeUp and Slate is a great alternative to them both, but I do use the space switching functioned mentioned above.

[2013-04-05 13:09] madtrick opened #287 "Moving Google Chrome with win.move(...) or win.doOperation(...) doesn't work"
Hi,

I'm trying to do something like the following inside a layout:

[code]

I tried executing just one operation inside the anonymous function without success:

[code]

Notice that:
- Executing just one operation like this  `operations : [referenceToOperation1]`  does work with Google Chrome
- Using the `function(win){ win.doOperation(...); win.doOperation(...); ...}` code on other app (e.g. Safa

[2013-04-05 15:31] ejoubaud commented on #78
+1, it would be a huge win fo this remarkable piece of software :)

[2013-04-07 18:20] indrekj commented on #78
+1

[2013-04-10 20:49] etlovett opened #288 "New screen resize overlaps right/left dock when dock and menu bar are on different screens"
I'm experiencing issue #3 in my two-monitor setup, since my dock and menu bar end up on different screens (see comment: https://github.com/jigish/slate/issues/3#issuecomment-1247805).  Opening this issue as a vote for fixing it for this case too.

Loving this tool, thanks!

[2013-04-13 19:17] ozanvos commented on #101
Another OS X window manager that implements automatic tiling is [xnomad](https://github.com/fjolnir/xnomad). I'd love to have this feature in slate!

[2013-04-14 22:57] jkupersmith commented on #287
On my machine, if I loop through the "Google Chrome" Application object's Windows.  Google chrome has a window registered with a title() of empty string.  I have been ignoring this window, resizing the Google Chrome windows with a title element work fine for me.  I have tried resizing/moving the window with no title.

[2013-04-16 03:25] adrianpike commented on #78
+1 :)

[2013-04-16 14:37] nchase commented on #77
+1

[2013-04-16 15:35] wincent commented on #77
This would definitely be useful. I installed Slate for the first time a little over a month ago, used the menu while I was working out my config, and then haven't touched or even looked at the menu since then.

Awesome app, BTW.

[2013-04-17 07:39] chanpory commented on #78
+1

[2013-04-17 20:51] ProLoser opened #289 "Directory of slate.js examples"
**CHANGED**

Would be nice to peruse a collection of people's slate files. Binding key events looks fairly easy, but I'm very curious how I might go about reproducing the 'snapshot' feature using a slate.js as the window-matching is wonky (like when chrome changes title depending on active tab).

Perhaps someone has written a better snapshot command?

[2013-04-17 20:57] clarkewd commented on #85
I would also really like to see the option to activate bindings from the command line. SublimeText adds a little utility:

[code]

I guess when the CLI integration is added to slate then it will be added to the documentation? I don't want to miss it when it comes out.

[2013-04-17 21:46] ProLoser opened #290 "Add ability to export Current Window Info to JSON"
I'm trying to build a tool that will make it easier for me to generate a config: https://github.com/ProLoser/slate-generator

[2013-04-17 22:50] ProLoser opened #291 "Dynamically retrieve list of screens and resolutions"
I'm trying to create a simple config that will keep taking snapshots as I modify my environment, and will automatically recover the snapshot any time I change windows. This is what I have thus far:

[code]

I believe the best solution would be to change the `name` of the snapshot to be my screen resolutions, but I don't know how to arbitrarily retrieve them (all your examples show screen resolutio

[2013-04-17 22:54] #291 closed, assigned to nobody

[2013-04-17 22:54] #290 closed, assigned to nobody

[2013-04-17 23:00] ProLoser commented on #289
https://gist.github.com/ProLoser/5408487

[2013-04-17 23:34] ProLoser opened #292 "snapshot and activate don't appear to be working"
This is my code: https://gist.github.com/ProLoser/5408487

I've tried to bind to keypress instead of events but I don't get any results. Both events and keypresses will log to console properly. Is there a specific set of characters I should use for snapshot names?

I've also tried using a plaintext string of `test` for the name and it's still not working.

[2013-04-19 01:47] clarkewd commented on #85
fyi - i would be willing to make a donation for shell support

[2013-04-21 19:40] hanschen opened #294 "Focus clockwise/counter-clockwise"
First, thank you for creating Slate, it makes window management in Mac OS X so much nicer.

One thing I currently miss is the ability to focus windows in the clockwise or counter-clockwise direction, similar to e.g. xmonad. Then I only need two keybindings to change focus. Would it be possible to add something like that to Slate?

Example:

Let's say that we call the modes `focus next` and `focus

[2013-04-25 21:45] dissolved opened #295 "Layout context switch fails in some cases"
I am new to Slate, and am very excited that my window positioning problems may finally be over (tried ControlPlane and Stay without reliable success). Thanks for creating this project!

I have begun working on my config file, which you can see here: https://gist.github.com/dissolved/5463419

The problem I am having is that Slate isn't picking up the monitor context change when I disconnect my Thun

[2013-04-30 15:34] thesamet opened #297 "Pass a hot key to current window"
I have a key binding that I'd like to activate in all applications except of Google Chrome. If Google Chrome is the current window, I'd like the binding to just pass through the hot key to Google Chrome. With the following code, I managed to at least disable the key binding for Chrome, but I still couldn't find a way to prevent Slate from swallowing the keystroke.

[code]

[2013-05-02 11:51] digitaldesigndj commented on #85
:+1: This would be really awesome, I think it would be cool to use something like [Alfred](http://www.alfredapp.com/) to show and hide less frequently used program windows.

[2013-05-03 20:13] ghost opened #299 "Make brew formula"
Can we make the brew formula for this app ?

[2013-05-04 09:16] ekinertac opened #300 "Cheatsheet for using keys"
It would be a great feature to showing in a view, used keys for shortcuts.
like [CheatSheet App](http://www.grandtotal.biz/CheatSheet/)

[2013-05-04 19:27] kadimisetty opened #301 "Installation via Terminal"
To preserve context, I propose using `pushd` and `popd`, so once installation is done, the terminal is back to whatever directory it was in before.

Current -

[code]

Proposed -

[code]

Note: pushd is part of `bash` and `zsh` etc but not sure about `sh` shells older than v3.2

[2013-05-05 05:47] chdiza commented on #299
Homebrew usually doesn't take things that have an ".app" ending.  It's almost entirely for command-line things.  The only exceptions I can think of off the top of my head are things that can _optionally_ have a gui form (like MacVim and Emacs) or things with an X11 gui form.

I don't know if they'd be persuadable to take slate.  Especially since there seems to be no gain in building it oneself.

[2013-05-05 07:04] ghost commented on #299
I think even if they don't take UI apps. We still can write custom formula to serve our needs.

[2013-05-06 14:34] slinkp commented on #78
+1 to spaces support.  -1 to apple for removing useful APIs.

[2013-05-07 20:53] tzhong commented on #182
+1

[2013-05-09 15:03] #301 closed, assigned to nobody

[2013-05-09 17:00] zhaocai commented on #85
:+1: Integrate with Alfred would be nice.

[2013-05-09 18:42] rustcrumb opened #302 "Problems with chained show/hide"
I'm seeing some problems with the layout directive. It allows you to specify a pipe-separated list of "operations"

Here's the starting point:

alias chrome 'Google Chrome'
alias irc 'Colloquy'
alias skype 'Skype'
alias term 'Terminal'

alias cl layout ChatLayout
alias tl layout TerminalLayout

${cl} ${chrome}:IGNORE_FAIL,REPEAT corner top-right resize:screenSizeX_2/3;screenSizeY 0
${cl} ${irc}:IG

[2013-05-12 22:10] ianyh commented on #299
There's already a homebrew cask formula for it. See https://github.com/phinze/homebrew-cask.

[2013-05-13 02:44] ianyh commented on #285
I did this with

[code]

[2013-05-13 21:49] abbot opened #303 "Slate fails to work correctly with emacs-mac-app windows"
I'm using emacs-mac-app from MacPorts. When trying to use layouts/snapshots, slate sets all emacs windows to the same size/location. Easiest way to reproduce is:
1. Install emacs-mac-app 4.1_0 (latest version for the moment of bug submission).
2. Launch EmacsApp, open two windows.
3. Click "Take snapshot" in slate menu.
4. Click "Activate snapshot" in slate menu.

The result is that both emacs win

[2013-05-14 20:20] almostthor commented on #107
I'm having the same issue as jordantbro. Anyone have any ideas as to why, or if there is a better way to accomplish this goal?

[2013-05-14 20:51] almostthor commented on #107
OK, I did a little more thinking about this, and I came up with this solution:

[code]

This now works every time. I think the issue is that when the command is executed the first time, the windowSizeX and windowSizeY vars are set to the window's size _before_ execution. Thus, when you execute the command it is calculating based on the original size.

Anyway, it seems to work now with doing the ca

[2013-05-15 13:07] ghost commented on #299
@ianyh
thanks for mentioning it. it's great :)

[2013-05-16 09:33] ckruse commented on #78
+1

[2013-05-16 17:08] bluntpeak commented on #78
+1

[2013-05-16 17:12] markroland commented on #78
+1

[2013-05-17 07:11] NigelKibodeaux opened #304 "Grid on second display does not work"
The grid on my laptop display works fine but after selecting some cells in the grid on my second display, nothing happens.

This may be related:  Even if the pointer is in my second display, I have to click on the grid in that display before dragging to select cells.

Thanks for this great piece of software!

[2013-05-17 21:22] lunixbochs commented on #282
You should probably use win.screen() instead of slate.screen(). I haven't seen any major issues in that case except for very broken windows.

[2013-05-20 23:28] DevinDawson commented on #140
Still active.  OS X 10.8.2, Slate Version 1.0 (1.0.25).  Slate was very unresponsive to both key strokes or clicking on the slate icon in the menu bar.  Culprit was an unresponsive Skype, resolved by force closing Skype.

[2013-05-21 20:13] brunogama opened #305 "not running my bind function"
i am trying something like this, it doesn't output the S.log call and does not focus on my current default browser.

the gist for the default browser script can be found in this [gist](https://gist.github.com/brunogama/5254021).

[code]

[2013-05-22 09:30] lrem opened #306 "slate.screen().rect() getting confused"
When using `slate.screen().rect()` I get incorrect results after connecting/disconnecting external display a few times. Usually it's getting the width of the external display on the laptop screen (even when the external is not connected), but I saw the other way round too.

[2013-05-22 09:31] lrem commented on #282
`slate.screen().rect()` seems to have a bug right now, see [Issue 306](https://github.com/jigish/slate/issues/306).

[2013-05-22 10:53] cmsj opened #307 "Add a keyword for the true screen sizes, excluding the dock"
I like to push the iTunes miniplayer to the very very bottom left of my screen, at the same height as the dock, but if I move it to screenOriginX;screenSizeY it sits just above the dock, so I have to guess the height of the dock and do screenOriginX;screenSizeY+blah.

It would be great if I could really truly clamp it to the bottom left corner of the display, regardless of the dock size.

[2013-05-22 11:15] cksachdev opened #308 "Moving Flash Player debugger to second monitor (launched from Flash Builder)"
I am facing a problem with setting the location and size of Flash Player Debugger, which I launch from Flash Builder. I am using a .slate file for the configuration, taken from http://thume.ca/howto/2012/11/19/using-slate/.
I have created an alias:
alias 2-full        move screenOriginX;screenOriginY screenSizeX;screenSizeY         ${mon-dell}
and
layout 2monitors 'Flash Player Debugger':REPEAT

[2013-05-26 22:53] asellitt commented on #78
+1

[2013-05-27 13:02] cksachdev commented on #308
I managed to fix the above issue with the script mentioned below:
slate.on("windowFocused", function(event, win) {
  if (win.app().name() === "Flash Player Debugger") {
    win.move({
                'x' : 'screenOriginX',
                'y' : 'screenOriginY',
                'width' : 'screenSizeX',
                'height' : 'screenSizeY'});
  }
});

Thx

[2013-05-27 13:02] #308 closed, assigned to nobody

[2013-05-27 13:08] cksachdev opened #309 "Which IDE to use, to get Intelli-sense help while writing .slate.js file ?"
I would like to know which IDE I can use to write a slate.js, with intelli-sense help e.g. for jQuery, I can use Eclipse/Netbeans and get intelli-sense help. Any recommendation on any particular IDE, and which .js file I should refer to, to get S/slate and other objects used in .slate.js.
FYI:
Eclipse released a javascript plugin named VJET (http://www.eclipse.org/vjet/). It allows to extend the p

[2013-05-29 07:17] JerryWho opened #310 "Screen Ids switching randomly"
Hi,

I'm running slate 1.0 on 10.8.3 on a MacBook Pro Retina 15'.

At work I use an external monitor and the internal one. Unfortunately the screen ids of these monitors are switching randomly. So I have to adjust it in .slate and restart slate.

Does anybody have an idea why this switching occurs?

TIA,
JW

[2013-05-29 09:11] TheDeveloper commented on #304
I'm getting this too. It seems like it requires several tries on the second screen before the grid selector works and applies to the last selected window. Probably has something to do with having to click the blurred grid before dragging the selection area, which isn't required on the primary display.

[2013-05-30 16:43] kevinastone commented on #226
+1 on this.  I'd prefer a bezel that shows the modal-key is activated similar to how Moom does it centered on the screen:

![screen shot 2013-05-30 at 9 42 00 am](https://f.cloud.github.com/assets/1234915/586207/f12bc302-c947-11e2-99ce-0fcc13567e7d.png)

[2013-05-31 00:16] chdiza opened #311 "Feature request: fill negative space"
A feature that would be quite handy is an action that would make slate enlarge/move a window to take up all feasible, available negative space.  That is, enlarge/move a window so that it takes up as much space as possible without overlapping an existing window (and without altering the other existing windows).

For instance (here 1, 2, and 3 represent regions occupied by some window, and '-' is a

[2013-05-31 00:17] chdiza commented on #311
This action, called for example "expand" or "swell", could be bound to a hotkey so that instantly one can swell the active window.

[2013-05-31 00:19] chdiza commented on #311
Perhaps "expand" and "swell" are bad names, because maybe one would want to _shrink_ a window that's currently overlapped so that it fills all available negative space and becomes unoverlapped.

[2013-05-31 22:16] dmac commented on #303
I've also had problems with emacs (downloaded from http://emacsformacosx.com/): window-hinting does not work with the emacs windows. I imagine these problems are related to the way in which that application builds its windows?

[2013-06-02 20:09] jtbrough commented on #107
Thanks @almostthor!

I ended up with the following chained command (because I like the ability to toggle between centered and full screen with the same key binding).

[code]

where ${full} is defined as:

[code]

[2013-06-05 16:08] olegbl commented on #78
+1

[2013-06-09 12:55] lmartins opened #312 "How can I assign a shortcut to a Snapshot?"
I've created a snapshot with the menubar menu, is there a way to activate this Snapshot with a keyboard shortcut?

[2013-06-11 19:27] wamatt commented on #78
+1.

[2013-06-12 00:57] wamatt commented on #78
FWIW, I went looking for WM for OSX with Spaces support. It seems an alpha version of Xmonad for OSX supports this. https://github.com/xmonad/osxmonad

Might be worth checking out their approach?

[2013-06-12 01:09] ianyh commented on #78
`osxmonad` relies on private APIs, which it sounds like @jigish wants to avoid. I've been working on an xmonad-style tiling window manager for OS X (similar to `osxmonad`, but in Objective-C instead of Haskell, you can find it [here](https://github.com/ianyh/Amethyst) if you're curious). I figured out a way to move windows between spaces and have a writeup on how it works [here](http://ianyh.githu

[2013-06-13 11:32] thomasjachmann opened #314 "timeout for modal mode"
It'd be nice being able to configure an optional timeout after which model mode will switch off automatically again. If you enter modal mode and then decide not to continue (for whatever reason), you wouldn't have to leave modal mode manually but could just continue working and modal mode would end after your timeout.

[2013-06-13 20:06] mtitolo opened #315 "rMBP resize inconsistent"
I have 2 shortcuts to increase/decrease the window size by 10%. Making a window smaller works as expected, but making the window larger doesn't respect the 10% increment, and is instead really tiny. Running on a 15" rMBP, and seeing this both on 10.8 and 10.9.

[code]

[2013-06-14 20:58] adamturtle opened #316 "Windows are stacking"
I'm trying to tile 2 Google Chrome windows side by side on one monitor (although I have two set up), 50% width each. I've tried several combinations and nothing works. My `.slate` file is just:

[code]

Am I missing something?

[2013-06-15 13:34] lunixbochs commented on #289
https://github.com/lunixbochs/reslate is my Slate JS config. Framework.

[2013-06-16 22:52] troxler opened #317 "Documentation for `switch`"
You mention the `switch` command which has

Is `switch` an external tool or part of slate itself? Could you please either add a link to the documentation or add one yourself? I would like to try these different configuration options.

[2013-06-17 06:52] milki commented on #162
+1 Using the mouse is a bit annoying

[2013-06-17 17:57] adamturtle commented on #316
I discovered that this issue is Chrome-specific. The workaround is to add the IGNORE_FAIL option:

[code]

Maybe this will help someone else.

[2013-06-17 18:34] loshlee commented on #316
That only remedies the problem for me if the second window is already correctly placed in the left position.

[2013-06-17 18:44] adamturtle commented on #316
This is true. Going to reopen this issue.

[2013-06-17 18:59] adamturtle commented on #316
Try passing `IGNORE_FAIL,REPEAT,MAIN_FIRST` as the options. Works for me.

[2013-06-17 19:42] loshlee commented on #316
Mine still isn't fixed. What is your .slate file with those options applied?

[2013-06-18 00:11] adamturtle commented on #316
[code]

The focused window will move left and the other moves right

[2013-06-18 01:39] loshlee commented on #316
I'm afraid I can't confirm. OMM only the front window moves. If I bring the 2nd window forward, it stacks on top of the first when I trigger the layout again.

[2013-06-18 23:14] notahat commented on #77
+1

[2013-06-19 09:32] cksachdev opened #318 "Can I pin a window to be always on top"
Is there a concept of pinning a window. e.g. I want to pin an image on the right side and it should always be on top of all the other windows.

[2013-06-19 20:02] ProLoser commented on #318
Use [afloat](http://infinite-labs.net/afloat/) for that

[2013-06-20 13:30] stdavis commented on #242
@deiga I'm having the same problem with my .slate.js not loading at all. Did you ever get it resolved?

[2013-06-20 13:43] stdavis opened #319 ".slate.js Doesn't Load If Last Line Is a Comment"
If I "Relauch and Load Config" with this as my `.slate.js` file:

[code]

Then I see this in the console:

[code]

And my relaunch binding works correctly.

However, if I "Relaunch and Load Config" with this as my `.slate.js` file:

[code]

Then I see this in the console:

[code]

But no log? And my binding doesn't work.

Does having comments at the end of your `.slate.js` file break it?

[2013-06-20 15:26] tzarskyz commented on #318
Afloat, as you know, only works with SIMBL and has not been updated in ages so counting on Afloat to work with the next major OS upgrade, 10.9, or even the next minor version bump of ML is a gamble at best and you will undoubtedly experience your fair share of application freezes/crashes from having SIMBL running. Might just be me but after 10.6 running SIMBL always seemed to have more negative ef

[2013-06-20 17:37] tombell opened #320 "Separate Windows by X pixels"
Is it possible to separate windows by a pixel amount similar to the option in Moom.

![screen shot 2013-06-20 at 18 36 17](https://f.cloud.github.com/assets/129327/682819/1860e1b2-d9d0-11e2-9079-6ca02baf39d6.png)

[2013-06-20 19:31] deiga commented on #242
Nope, I never figured out what was wrong. I still think it's the string catenation thing-y. But I just moved my commands over to .slate for the time being

[2013-06-25 21:59] pfista opened #321 "Unable to resize XQuartz windows"
Any programs running through XQuartz dont seem to be affected by slate resize commands.

[2013-06-26 13:22] SimHacker opened #322 "WebView window for HTML user interfaces like pie menus to Slate."
Slate is great, and I'm starting to learn my way around the code so I can work on it.

I would like to implement pie menus for Slate in JavaScript/HTML.
It would be great to be able to do something like this:

http://www.donhopkins.com/home/movies/TabWindowDemo.mov

To that end, I am playing around with exposing the WebView that Slate uses for its JavaScript interpreter.

Instead of making a hidde

[2013-06-26 22:46] SimHacker commented on #319
My guess is that the last line doesn't end in a newline, so the comment on the last line comments out the javascript that is appended to the end:
- (id)run:(NSString_)code {
  NSString_ script = [NSString stringWithFormat:@"try { %@ } catch (**_ex**_) { 'EXCEPTION: '+**_ex**_; }", code];
  id data = [scriptObject evaluateWebScript:script];
  if(![data isMemberOfClass:[WebUndefined class]]) {

[2013-06-26 23:51] SimHacker commented on #322
Well I got it to use the web browser in the window of the ui file, so I can display html in it! I had to comment out the line:
[[webView mainFrame] loadHTMLString:@"" baseURL:NULL];
from JSController.m because that was happening asynchronously and stomping on the stuff I put into the window.
And I was able to make the web view and window float on top and be transparent except for the html content

[2013-06-27 19:34] mkeeter commented on #140
I'm noticing this on OS X 10.6, Slate 1.0.25

Here's a very easy way to trigger the bug:
- Run `/Applications/Safari.app/Contents/MacOS/Safari` in a Terminal
- In the same terminal, press Ctrl+Z (to suspend the Safari)
- Try to do something with Slate -- it will hang.

[2013-06-27 23:02] philc commented on #140
I hit this all the time and it's really jarring. Slate should be resilient to apps which are hung or just generally unresponsive.

[2013-06-28 18:25] expelledboy commented on #304
I have the same problem.

[2013-06-28 19:56] SimHacker commented on #322
Making the transparent browser window big enough to cover both screens works like a charm!

One thing I don't know if it's currently possible is to bind mouse clicks to Slate functions -- it only seems to use the names of keys, not mouse buttons.

But even without that feature, I think an easy way to pop up pie menus in response to click events is to draw some html over or adjacent to the window t

[2013-06-29 20:16] schalkpd commented on #303
I'm having the same problem with emacs (MacPorts 24.3.1) snapshot activation.  However, I can get window-hinting to work via a workaround.  Setting `config windowHintsIgnoreHiddenWindows false` in your `~/.slate` file will allow emacs to be identified by the hinting mechanism.  This will also cause all obstructed windows to be identified, as well, which, thankfully, is what I wanted anyway.

[2013-07-01 02:47] SimHacker commented on #322
The windowMoved and windowResized notifications to JavaScript were passing in an app wrapper instead of a window wrapper, so I fixed RunningApplications windowChanged to check for kAXWindowCreatedNotification, kAXWindowMovedNotification, kAXWindowResizedNotification, kAXWindowMiniaturizedNotification, kAXWindowDeminiaturizedNotification, kAXMovedNotification and kAXResizedNotification and in those

[2013-07-01 02:51] SimHacker commented on #322
Do windows have some kind of constant ID I can use that does not change over time? It would be nice to expose that, so I can keep track of them in JavaScript structures without hanging onto wrapper references. Using window titles is kind of sketchy.

[2013-07-13 14:43] lanterndev commented on #299
I think this can be closed given the cask formula.

[2013-07-13 14:48] lanterndev opened #323 "support linux-like modifier key + mouse move for window move and resize"
Most if not all Linux window managers support moving the window under the mouse by holding Alt and moving the mouse, and resizing it by holding Shift+Alt and moving the mouse. I did a quick search to see if Slate could be configured to do this but didn't find it.

In the past I've used [Zooom/2](http://coderage-software.com/zooom/index.html) for this on OS X, but I'd much prefer a free software so

[2013-07-15 14:40] szaydel opened #324 "Physical size of the grid box"
I am wondering if it possible to set the size of the grid, not the # x # size, the actual pixel size or, percent of screen size for the whole grid box? Could I say paint a huge box that is like half the size of the screen? Thanks!

[2013-07-16 07:20] ashi009 commented on #304
Mine works if the grid box on the secondary displays are shown lower than the menu bar on the primary display. Otherwise it doesn't work.

[2013-07-16 07:47] travisperson commented on #304
@ashi009, so your saying as long as in the display manager arrangements, if the "primary" display (with the Apple menu bar) is above the secondary it works?

[2013-07-16 07:51] ashi009 commented on #304
@travisperson yes, just tried a few arrangements, apparent so.

[2013-07-18 11:57] jhaals commented on #77
+1

[2013-07-23 08:33] gfreezy commented on #174
hi, you may have a look at my config.

https://gist.github.com/gfreezy/6060661

[2013-07-23 14:41] byalextran commented on #174
@gfreezy thanks! that's definitely along the lines of what i was looking for.

however, after a stint with slate i went back to divvy. love the added features of slate, but when it came down to it, all i really needed was the basics (which divvy does extremely well).

[2013-07-29 20:47] justincampbell commented on #77
+:100:

[2013-07-30 12:35] valpackett commented on #319
Slate really should log syntax errors

[2013-07-31 02:19] dsdeiz opened #325 "Possible to not trigger slate when entering text in text form elements on browsers?"
Hey,

I wonder if it's possible for slate to not get "triggered" when I enter text in text form elements on browsers? I usually use <kbd>alt + left/right</kbd> when moving word for word in textfields or textareas. I don't want to change the keybindings I've set in slate though.

[2013-08-05 10:54] kriskhaira commented on #256
I have this problem too. Can't throw if the left-side isn't aligned. Aligning to the right-side doesn't work.

I'm on OS X 10.8.4, Slate 1.0.

[2013-08-07 21:44] sdegutis commented on #91
@mgax, @mgax, @jigish, @trishume, @wez:

I just looked at the scripting-language discussion above, and I have some information that may help.

Recently I wrote my own window manager called AppGrid that was along the lines of Spectacle.app but with slightly different actions. Then I wanted to see if I can add scripting to it, so I copied Slate's approach of embedding JS. (However I used JSCocoa whi

[2013-08-07 23:28] sdegutis commented on #325
@dsdeiz this is an inherent issue with binding global hot-keys, they override anything else that might be using that same key-combo. The only way to solve this is to change your key shortcuts to not conflict with any others.

[2013-08-08 09:10] digitalronin opened #326 "Anyone having problems with Apple Thunderbolt display?"
I don't know if this is a problem with Slate or not.

I've been using Slate on my MacBook air for a while, and it works perfectly, including when I had second monitors connected (a Dell and a Ben Q).

I recently got an Apple thunderbolt monitor, and I'm having a strange problem with it. If I plug it in with the laptop switched on, then I can't start system preferences, I can't shut down the laptop

[2013-08-10 03:02] WarWithinMe opened #327 "Possible to set frame of the window in slate.js?"
Right now using window.move() and window.resize() to manipulate the rect of the window causes the window to move then suddenly jump to new size.

I wonder if there's a way to call window.setFrame directly. Is it possible to use `NSAccessibilityWindowAttribute` to get do that?

[2013-08-10 03:24] WarWithinMe commented on #318
@tzarskyz I'm curios about the `NSAccessibilityWindowAttribute` in the accessibility API, seems like it will return the window to you. The document doesn't tell anything useful, though. But if you can get the window, you pretty much can do anything. ( I'm saying the setLevel things. ).

[2013-08-12 23:27] RayneIO commented on #326
It's probably not Slate.  You might check your Console.app for System Log messages.

[2013-08-13 17:21] sdegutis commented on #327
@WarWithinMe No, the only two that can be used are `NSAccessibilitySizeAttribute` and `NSAccessibilityPositionAttribute`. In [Zephyros](https://github.com/sdegutis/zephyros) I have a function to set the frame of a window, but it technically just sets the size, then the position, then the size again. The extra set-size is needed because sometimes you can't move the window to the right position unti

[2013-08-14 14:26] digitalronin commented on #326
For anyone who finds this thread by searching for the problem, it looks like this is something to do with USB 2 and USB 3 devices conflicting. With no USB devices plugged into the monitor or the laptop, things work correctly.

[2013-08-15 17:01] arisolt opened #328 "Sequence in layout operations"
The following fails to resize all Safari windows to half their width and also push them to the right.

[code]

[2013-08-15 18:45] arisolt commented on #328
For reference, the same thing can be achieved by using **corner** and without the use of **sequence**, namely:

[code]

[2013-08-17 17:05] 0x1b2c opened #329 "Specify 'y' parameter for 'throw' cause window can't be throw to another screen"
I have this config in ~/.slate.js, if I remove the 'y' parameter, it works (although the calculated x is wrong for one screen), but with 'y' parameter the window can't be throw to another screen anymore.

[code]

[2013-08-18 05:35] tedpearson commented on #307
I'd love to have a way to get the size of the dock as well.

[2013-08-19 15:36] dpo commented on #78
+1

[2013-08-19 21:12] wamatt commented on #78
Thanks for the explanation @ianyh

[2013-08-21 13:14] srustamo opened #330 "Aliases not recognized in "layout" section of .slate"
Unrecognized Alias error in layout section.

See screenshot for error and .slate config section.

Line 10 of .slate config.
Alias declared line 52.

![aea7394f7158ec9ed7a7c18583e37549](https://f.cloud.github.com/assets/749813/1001185/42c5df0c-0a63-11e3-9131-d04198e13b86.png)

[2013-08-22 13:24] mcook08 opened #331 "HipChat doesn't follow focus command"
When using focus, it works for most of my apps using the name that displays in the menu bar but HipChat doesn't work with 'HipChat' or 'Hipchat'. Is there a definitive way to determine the app name for focus?

Weird: It works just fine now - not sure what I had screwed up or what I changed, but no longer an issue.

[2013-08-23 21:46] contentfree opened #332 "Possible to use multiple keys in a binding?"
The obvious example would be <some modifiers>+Down+Right to send something to the bottom right corner. (I'm surprised there's not an existing request for this, honestly… though maybe my searches were inadequate.)

I believe this may be against your current design, but man it'd be useful

[2013-08-23 22:03] contentfree commented on #254
Yeah, having something like `config secondsBeforeRepeat` that resets the chain would be very useful.

[2013-08-23 22:04] contentfree commented on #18
Could an addition to "timeout" the chain, resetting to the head of the chain after some configurable amount of time, be added to slate?

[2013-08-26 07:04] JerryWho commented on #7
Can you give an example how I define screen aliases based on resolution?

[2013-08-27 17:27] leonardt commented on #272
I ran into the same thing, and for now I've solve it by changing my positions like so
hope this helps!

[code]

[2013-08-29 00:31] Joshfindit opened #333 "Request: Commands to move the cursor (Especially to the focused window)"
Especially in OSX, there are a few places where the mouse is almost mandatory, and it would be nice for Slate to bridge the gap;

For example:

bind 1:ctrl;alt;shift   cursor throw 0 #Centre the cursor on screen 0
bind 2:ctrl;alt;shift   cursor throw 1 20%;20% #Place the cursor on screen 1, 20% from the left. 20% from the top

And, depending on how complex it was:

bind esc:cmd hint QWEASDZXCRFV c

[2013-08-29 18:45] jritorto opened #334 "focus follows mouse"
One thing that still kills me, even after years of Mac use, is the lack of X11-style focus-follows-mouse.  Any chance you folks could get that working in Slate?

[2013-08-30 01:04] tadhg-ohiggins commented on #133
While this isn't an ideal solution, you can write to /Applications/Slate.app/Contents/Resources/ASCIIToCode.plist (or one of the others if you're using a different keyboard variant) and enter key/integer pairs for any keystroke; you can then refer to that key in Slate config files. I've only tried this with Slate JavaScript configs.

If you're looking for a list of key codes, this isn't the worst

[2013-08-30 18:08] Iristyle opened #335 "Allow keybinding to trigger dock item"
This would alleviate the need to use [Snap](http://indragie.com/snap/)

Perhaps there's already a way to focus the Dock that I'm unaware of?

Thanks!

[2013-08-30 18:46] SethMilliken commented on #335
Under `System Preferences -> Keyboard -> Keyboard Shortcuts` under the `Keyboard & Text Input` group, you can assign a binding to "Move focus to the Dock".

[2013-08-31 17:13] Iristyle commented on #335
@SethMilliken thanks.. already was aware of the default `Ctrl-F3` binding, but... that solution ends up being a bit awkward.

I would have to `Ctrl-F3` -> `Home` -> `Right Arrow` (x # of times) to simulate a `Cmd-1`, `Cmd-2`, etc type of binding like `Snap` has.

I was hoping that there might be a way to actually invoke an item at a position in the dock.  I'm not an OSX guy, but I assume there mus

[2013-09-04 00:11] tadhg-ohiggins commented on #273
This is really a duplicate of https://github.com/jigish/slate/issues/133

Also, the workaround I suggest in the discussion of that issue should work for this.

[2013-09-04 08:19] jumoel opened #336 "Put apps in fullscreen mode with Slate."
I have two scenarios: my laptop alone, and my laptop connected to a large external monitor.

On the external monitor, the apps are currently being tiled with slate. I'd like to be able to make Slate put the apps in fullscreen mode when I'm not connected to the monitor.

Is this possible?

[2013-09-05 20:00] birarda opened #337 "focus of multiple windows of a single application"
At various points throughout the day I'll have 4 terminal windows in each of the corners of my screen to be glancing at a couple of different things at once.

I've bound a key to focus Terminal, which works, but only for the most recent window. Is there any way to activate all four windows at once? I've tried with an osascript on the shell

`osascript -e "tell application \"Terminal\" to activate"

[2013-09-06 02:15] luojiesi commented on #315
I'm seeing similiar issue on rmbp, 10.8.4. But it only happens to a few applications (iterm2 for example).
Also, resize +0   +10% bottom-right doesn't work for chrome.

[2013-09-06 11:17] philc opened #338 "Allow focusing a specific window of an application, by title"
We can focus apps by title; why not a window of an app?

My use case:

I use Emacs for TODOs (org mode), regular code editing, and gmail (mu4e). I run them in three separate Emacs windows, and they behave pretty much like 3 separate apps. Currently, I can't focus a specific window using Slate. I can only focus the Emacs app as a whole.

You could perhaps imagine a similar use case with Chrome wind

[2013-09-06 16:18] legumbre commented on #338
I'm definitely interested in finding a better way to do this.

@philc
I currently do this by walking all windows of an application looking for a matching title.
I ended up writing a [runOrRaise](https://github.com/legumbre/dotslatejs/blob/master/slate.js#L39-L93) command which takes an application name and a lambda as a filter and focus only windows matching that filter.
So something like `runOrRa

[2013-09-06 17:21] SethMilliken commented on #337
I've had something similar to what you describe here working for myself. How are you invoking that shell command from Slate (snippet from your Slate config)? FWIW, I'm using Slate's `shell` operation to call a script that contains the `osascript` invocation.

[2013-09-06 17:23] birarda commented on #337
It looked like the following

`bind t:${hyper} focus 'Terminal' | shell 'osascript -e "activate application \"Terminal\""'`

My guess would be something around the quote escaping. Also tried double slash (in case slate escapes the first).

[2013-09-06 17:30] SethMilliken commented on #337
Maybe try `/usr/bin/osascript`.

[2013-09-06 17:40] birarda commented on #337
Had the same error. Is that what your command looks like?

[2013-09-06 17:42] SethMilliken commented on #337
My config uses the Javascript config format, and is a bit more complicated. If I have a chance this morning, I'll see if I can get it working with the traditional config.

[2013-09-06 18:21] SethMilliken commented on #337
Here's a stripped down working `~/.slate` configuration:

[code]

with script `~/bin/activate`:

[code]

[2013-09-06 18:23] birarda commented on #337
Beautiful, thanks!

On Fri, Sep 6, 2013 at 11:22 AM, Seth Milliken notifications@github.com
wrote:

[2013-09-09 03:40] maverickwoo opened #339 "switch causes flicker by first showing all windows of an app"
1.0.25

Suppose app A has two windows sandwiching the only window of app B in the z-order, and the front window of A is currently under focus, partially obscuring B, which in turn totally covers the back window of A. Using the switch operation to switch to B would cause both windows of A be visible before focus goes to B.

[2013-09-09 07:22] kizzx2-demystdata commented on #77
+1

[2013-09-09 13:20] kizzx2 commented on #121
For the record I seem to experience the same problem as @dangelov. I have

[code]

It seems to bind _just_ `1`

##

BTW great work with Slate! Thanks so much!

[2013-09-10 05:59] oskarols commented on #304
Experiencing the exact same issue.

[2013-09-10 17:54] bachue commented on #332
I agree, hope to implement it

[2013-09-10 18:02] philc commented on #338
@legumbre the workaround I have now is to have 3 separate Emacs apps in the Apps folder, named Emacs, Orgmode, and Email (you can edit an app's display name by Right clicking, Show Package Contents, edit info.plist in English.proj), each with different icons. Then I can target them by app name with slate.

[2013-09-10 18:05] philc opened #340 "Add an option to the "throw" command which preserves window position"
It's a little bit jarring when I move a window from one monitor to the next, and its position is reset to the origin on the destination monitor.

I think preserving the window's relative coordinates is a UX win when you're throwing windows between monitors of the same size. I always use the throw command on monitor setups where the monitors are the same size, so it would be nice to have throw exce

[2013-09-12 06:06] philc opened #341 "Add a command to activate the default layout for the current monitor setup"
I've been using `layout 1monitor`, `layout 3monitors` a lot recently. When I open a new app window which is in the wrong place, I use `layout` instead of `move` and `throw` to get it into the right place.

However, I currently have each layout bound to a separate key. This jacks up my muscle memory, because every time I switch setups, I have to start using a different key.

Is there a way to bind

[2013-09-12 06:14] philc commented on #341
After reading the readme a bit more carefully, you already have the concept of a default layout. One way to meet the need I described is to add a command "layout default", which triggers the default layout for the current monitor configuration.

[2013-09-12 13:50] jipumarino commented on #158
Just a contribution, as this is what I found while googling. Instead of keeping a reference to the last focused app, I just hide the current application if it matches with the name. This is my config:

[code]

[2013-09-12 15:54] kmandeville commented on #140
I was getting this exact same issue. Turns out I had JVisualVM running and it was shown as unresponsive in the Force Quit menu. As soon as I killed it, Slate returned back to it's former glory. Perhaps instead of hanging the app when a background process is not responding, can you error out and show an error to the user?

[2013-09-13 17:35] wwalker opened #342 ""windowHintsOrder persist" causes "hint" to function only once"
My config is essentially the default config, plus some "corner" actions, plus:

config windowHintsIgnoreHiddenWindows false
config windowHintsShowIcons true
config windowHintsSpread true
config windowHintsOrder persist

It works fine as long as I don't "config windowHintsOrder persist".  Once I set persist, cmd-esc (bound to "hint") works once, then "hint" (cmd-esc) does nothing.

If I "Relaunch a

[2013-09-13 18:57] snarfed opened #343 "windowUnderPoint() returns null for some apps"
...e.g. Emacs 24.3, built with --cocoa. I recently upgraded from 24.2, and now [`slate.windowUnderPoint()`](https://github.com/jigish/slate/wiki/JavaScript-Configs#slatewindowunderpoint) returns null when an Emacs window is under point. It worked with Emacs 24.2, same build settings. I installed it with Homebrew.

Very odd. I use `windowUnderPoint()` [for directional navigation](https://github.com

[2013-09-16 21:02] #331 closed, assigned to nobody

[2013-09-21 21:50] ghost opened #345 "Alias for hyper key"
I am not sure if the functionality of slate has changed (I am using slate 1.0 on Mountain Lion) but when I use in .slate the command:

[code]

on starting slate I get a popup window

[code]

Is there a different way to do this?

[2013-09-26 13:14] bartocc opened #346 "',' and ';' are documented as allowed keys"
My ~/.slate.js contains the following :

[code]

but those binding do not work

[2013-10-02 18:13] philc opened #347 "The OmniGraffle app is not targetable in a Slate layout"
I can use Slate shortcuts to move OmniGraffle around, but I can't target it by name in a layout.

Here's a snippet from my .slate. Every other app in this layout works. Unless I'm missing an obvious typo, OmniGraffle should work as well. I've tried various casings of the app name "OmniGraffle".

[code]

You should be able to quickly reproduce this by downloading omnigraffle [here](http://www.omnig

[2013-10-02 19:27] dreki commented on #121
Thanks to direction from @SethMilliken (and the work by @jigish of course!) this config works for me:

[code]

[2013-10-03 03:31] duckworthd opened #348 "Detect iTerm Dropdown as hidden or otherwise"
As far as I know, `slate` currently cannot distinguish between a "hidden" or visible iTerm2 dropdown terminal via its JavaScript API. According to `slate`'s current window info, a "hidden" iTerm2 dropdown terminal has the same size and position as if it were visible.

[2013-10-04 06:10] rixtox opened #349 "Trigger action from AppleScript"
I'm making an Alfred workflow using AppleScript. I want to open an app and use Slate to stick it into a fixed position. However I have no idea to trigger Slate actions in AppleScript, does anyone know something about it?

[2013-10-06 20:27] jamesyc opened #350 "hiding vs minimized windows"
I'm setting up slate for the first time, and I'm fairly new to slate. I see there is an option to hide windows, but (as far as I know), hiding a window is different from minimizing them to dock in OSX.

Is there a way to configure a binding (cmd-control-/) to minimize the current window to the dock, instead of hiding it? Thanks!

[2013-10-06 22:47] SethMilliken commented on #350
Under `System Preferences -> Keyboard -> Keyboard Shortcuts` under the `Application Shortcuts` group, if you add new shortcuts for "Minimize Window" and "Minimize", you'll be able to assign a binding that work in most applications.

[2013-10-08 16:36] leonardt commented on #101
I have a js config file that allows for very basic automatic tiling.  Doesn't always trigger on events (haven't figured out why yet) but does seem to work generally well, and triggers on a keybinding when it misses an event.  Please contribute, I would love to make this more functional!  There's also some support for not including popup windows, but I think it could be better.

https://github.com/

[2013-10-08 19:26] harizvi commented on #345
In .slate, it works fine for me. I am now on the latest drop (1.0.25). I haven't figured out how to alias the same in .slate.js, since I am beginning to move things to .slate.js.

[2013-10-09 08:31] fatjakep commented on #304
I have the same issue.

When the Apple menu bar is above the secondary display, the grid is clickable but it still doesn't resize the active application window.

[2013-10-10 14:19] chdiza commented on #101
I'd be wary of bloating slate with stuff like this.  Amethyst (http://ianyh.com/amethyst) already does this pretty well.

[2013-10-10 17:23] leonardt commented on #101
Oh that's great, surprised I hadn't seen that yet, thanks for the link

[2013-10-18 16:07] colinta opened #352 "You're not on gittip!?"
https://www.gittip.com/on/github/jigish/

Not saying you'll get rich, but it's nice to get tips :smiley:

[2013-10-18 16:07] #352 closed, assigned to nobody

[2013-10-19 22:17] ptdorf commented on #77
+1

[2013-10-20 20:22] rafd commented on #347
It works for me, but I had to list the app name as 'OmniGraffle Professional'

You can check the names of the apps that Slate detects by clicking on Slate in your toolbar, then selecting 'Current Window Info'

[2013-10-24 16:18] chdiza opened #353 "Trouble on Mavericks"
When launched on Mavericks, I keep getting the dialog that says something like "Slate needs to enable Assistive Devices".  I click OK, but then nothing happens, and the next time I launch Slate I get the same thing.

I went to the Accessibility preference pane, and there seems to be no such button or switch to turn Assistive devices on.  I seem to recall there used to be such a button.  Perhaps th

[2013-10-24 16:37] loshlee commented on #353
http://t.co/8ZQHCKSKKh
Be sure to search the comments for "drag".

[2013-10-24 16:46] chdiza commented on #353
Thanks, but I had the same problem as whoever posted a few posts down under that, where the app is already listed (and checked) in that window, but the dialog keeps happening over and over anyway.

The poster hoped it would be fixed by the time 10.9 was released.  Alas, it is not.  Apparenly not Slate's fault, either.  But maybe Slate can tweak itself to step around this.

[2013-10-24 16:53] harizvi opened #354 "Should get a mailing list for slate"
I think there should be a mailing list for slate, to exchange tips, tricks, and answer questions for newbies (like me).

Recently, another project, conkeror, moved their mailing list to librelist.com. That seems to host mailing lists for FOSS projects.

What do others think?

[2013-10-24 17:18] loshlee commented on #353
I seem to have made it work by repeatedly launching and repeatedly placing a check mark in the box in the Privacy tab of Security & Privacy prefpane. Hopefully these settings won't be as volatile as the quarantine settings for downloaded apps.

[2013-10-25 04:51] loshlee commented on #353
Nobody else got it working? I'm not using the java configuration, just a .slate file (which isn't extremely packed with options), but what I have seems to be working.

[2013-10-25 06:40] jkusachi commented on #353
ive been able to get it working successfully by:
1. upgrading slate (why not?)
2. go to system pref -> settings and privacy -> privacy
3. unlocking via padlock (bottom left), then just clicking the checkbox next to slate

i only had to do this once. haven't tried restarting yet to see if it sticks, but im assuming it will.

[2013-10-25 08:33] bradwright commented on #353
I made this work by doing what @jkusachi said. Thanks! :+1:

[2013-10-25 11:11] henrik242 opened #355 "Move application to specific desktop/space"
When disconnecting and reconnecting external monitors, I realized that OSX doesn't put windows back where they were.

So, after reconnecting my monitors, is there a way to manually trigger Slate to:
- move Firefox to desktop 3
- move IntelliJ IDEA to desktop 4
- move Terminal to deskop 1
  etc.

I run OSX Mavericks.

Thanks!

[2013-10-25 13:18] chdiza commented on #353
It seems to be working now, after a fresh re-install that I had to do for other reasons.

Will monitor in case it fails to stick after restarts, logouts, etc.

[2013-10-25 21:39] napcae commented on #355
Hey, did you took a look at the `default` or `layout` directive?

https://github.com/jigish/slate/blob/master/README.md

[2013-10-26 17:21] henrik242 commented on #355
Yup, but I couldn't figure out how to address the monitors individually. Do I need to know the pixel distance from the primary monitor?  I run a setup with two 24" monitors side by side above my MBP 15" display.

[2013-10-26 18:20] Westacular opened #356 "Moving and resizing Finder windows on Mavericks"
Finder on Mavericks has in interesting new behaviour: when you tell it to move or resize a window via Slate, Finder will actually animate the change, showing the window gliding over from its original to new location (or stretching out to its new size).

Unfortunately, this seems to interfere with commands that _both_ resize and move the window; if a Slate move command requires the window to both c

[2013-10-26 18:23] chdiza opened #357 "iTunes 11.1.2 on Mavericks error"
On Mavericks with iTunes 11.1.1 and 11.1.2, the sequence for maximizing a window,

[code]

is buggy.  It moves the itunes window "underneath" the menubar, and leaves a gap at the bottom of the screen that looks suspiciously like the magic 22 pixels.  I haven't yet discovered similar behavior with any of Apple's other apps.

This was not the case, as far as I recall, on Mountain Lion.  It for sure

[2013-10-26 18:29] Westacular commented on #355
Assuming the two 24" monitors have the same resolution, you'll need to use the first option to do what you want.

[2013-10-26 23:13] chdiza commented on #356
I don't see this, probably because I set the hidden preference to disable animations in the finder.  Use TinkerTool.  Your motions should now both work and be faster.

[2013-10-28 01:12] Westacular commented on #356
Ah! Yes. That did solve this for me. Thanks.

[2013-10-28 18:12] milkypostman commented on #321
+1 to figure out a workaround for this.

[2013-10-30 23:36] abhishekmukherg commented on #140
Is this problem been multiplied because of Mavericks and App Nap?

[2013-10-31 03:36] mikeyp opened #358 "Mavericks energy usage"
While I'm sure nothing has changed and I love slate as much as ever, I've noticed that it requires High Perf GPU according to the Mavericks energy pane in Activity Monitor.

I don't know if this is just an issue of rebuilding against a new target or if there is more to it than that, but it'd be awesome if slate could be a little bit more battery friendly.

[2013-10-31 20:36] abhishekmukherg commented on #140
(the answer to that question is a very much yes)

[2013-11-01 13:29] eipark opened #359 "Spinning Ball when Maximizing iTerm"
15" MBP OS X 10.8.5 hooked up to Thunderbolt Display. Whenever I hit my maximize keybindings on iTerm, it fills the rest of the screen (not iTerm) with white, lags for about 45 seconds with the spinning rainbow ball, and then finally maximizes. I have had the same config for years and this has never happened on other machines or prior to upgrading to the latest version.

Overall, the commands seem

[2013-11-04 00:49] mikeyp commented on #358
Just noticed that this isn't an issue until I use the grid. Restarting slate and reloading config seems to reset this and it doesn't go back into High Perf GPU until I activate the grid.

[2013-11-04 18:02] contentfree commented on #359
I'm noticing this recently too (that generally commands are slow and producing a lot of SBOD). This is on the normal display of a 15" MBP running 10.8.5 with no external monitor.

[2013-11-05 03:59] al3xandru opened #360 "Crashes and hangs in Accessibility code with Mavericks"
Hi,

While investigating an issue with another application and submitting quite a few traces, the developer pointed that the crashes and hangs I've noticed are caused by Apple's Accessibility code.

I have multiple applications enabled in Accessibility. After quite a bit of effort, trial and error, I've finally figured out that Slate is the one triggering these issues.

I'd be happy to provide any

[2013-11-05 08:45] josser opened #361 "Ability to bind events on mouse clicks"
Hi, i'm not sure it is polite to ask about such things, and I know this is not commercial project.
I have a mouse with 6 buttons and It would be cool to bind some actions on some unused keys.

For example there is a button named "Aim", it can be used to make app full screen.
Also, it would be great to bind some actions on keyboard and mouse combos like Shift + 'mouse4 (back)' to move window to the

[2013-11-05 10:02] larrybolt commented on #361
What you could do is use BetterTouchTool to and bind actions to mouse button actions, BetterTouchTool itself has also actions to make windows fullscreen or to move them around.
http://lry.be/l0nD/1EhZ08Zk

I also think the company of that mouse will have made custom drivers available where you can bind each individual button to actions or modifiers/keypresses.

[2013-11-05 10:13] josser commented on #361
Yep, this is MadCatz R.A.T 9 mouse but native mac software suck a lot. It have possibility to bind some keystrokes but this functions just don't work.
Anyway, I will try BetterTouchTool. Thanks!

[2013-11-05 18:38] justincampbell commented on #77
I'll put down $10 for someone to add this https://www.bountysource.com/issues/1065634-allow-app-to-be-run-in-background-improvement/bounties

[2013-11-05 20:16] larrybolt commented on #77
@justincampbell do realise that there is an App for that called Bartender (http://www.macbartender.com/) which costs 15USD and does just that but for any app that doesn't support this natively, and you can define a keyboard shortcut to show an "extended menu".

My system bar for instance looks like this:
![screen shot 2013-11-05 at 21 13 24](https://f.cloud.github.com/assets/803296/1477194/d0a55bf

[2013-11-06 16:49] wincent commented on #359
I'm seeing this not just in iTerm, but intermittently with a bunch of other apps too. For example, just now with Chrome seeing it.

[2013-11-08 22:18] philc commented on #347
Awesome. In my case, it was Omnigraffle 6. Thanks for the tip!

[2013-11-08 22:18] #347 closed, assigned to nobody

[2013-11-09 10:19] al3xandru opened #363 "Mavericks: universalAccessAuthWarn: AccessibilityAPI"
From the Console logs:

[code]

[2013-11-10 04:25] al3xandru commented on #358
I've tried this on my machine and I cannot see this behavior. On the other hand many resize/move operations are dead slow (even if the app is not napping)

[2013-11-10 18:57] calvinwyoung opened #364 "Activating snapshot with multiple windows for same application"
My normal configuration will usually has up to 4 terminal windows, two emacs windows, and a browser window across two monitors.

I've experimented with snapshots to make it easier to re-setup this configuration whenever I re-attach my external monitor, but they don't seem to play well with multiple windows for the same application.

Specifically, what typically happens is that the terminal windows

[2013-11-12 21:19] ignaciovazquez opened #365 "Slate responds slowly in Mavericks"
Hello,

I'm using Version 1.0 (1.0.25) under Mavericks.

If I don't use Slate for a bit, the keyboard shortcut takes quite a long to position the window (around 3, 4 seconds, sometimes more!). Also a spinning beach ball shows up in the menubar if I hover the mouse while I wait.

After the first use, it gets faster for a while, but if I try to use it again some minutes later I get the same slow beh

[2013-11-12 21:22] loshlee commented on #365
Did you Prevent App Nap in Slate.app's info window?

[2013-11-12 21:27] ignaciovazquez commented on #365
Yes, that's the first thing I tried.

![slate_info](https://f.cloud.github.com/assets/679016/1526204/371d402c-4be1-11e3-96b2-75fbdea2221b.png)

[2013-11-12 21:30] ignaciovazquez commented on #140
Wasn't happening to me pre-Mavericks, but I'm running into this issue now.

[2013-11-14 02:58] md143rbh7f opened #367 "Target all apps (or apps by regex)"
It would be great if we could target all apps when defining a layout, or target apps by regex.

[2013-11-15 19:07] guerrero opened #368 "Use symbolic links as slate config files"
Hi,
Is there any way to use symlinks as config files? I have my slate config into my dotfiles folder and I want to create a symbolic link into my home folder instead of moving the file.

Thanks!

[2013-11-15 20:24] larrybolt commented on #368
I do this already and for me it works fine.

[code]

[2013-11-17 18:30] Westacular commented on #367
It's not as elegant, but you should be able to do something like this with a javascript config:

[code]

[2013-11-19 20:51] hector commented on #77
+1

[2013-11-20 15:29] hector opened #369 "defaults to change bindings"
I know you can use the "defaults" directive to trigger a layout or snapshot but is there a way to make it change/add new bindings?

My purpose is that I use my macbook standalone or with a single external display. When I press cltr+alt+cmd+left I move the current window to the left half of the screen, so it exactly uses the left half of the window (1080/2 = 540px). However, since my external displ

[2013-11-20 18:47] charleseff commented on #323
+1!  There are tools in Mac that do this but none work the way I've come to like in Linux.  In Linux, Shift-Alt-Click to resize will resize the corner that your pointer is closest to, rather than always the bottom-right corner.  This is much better behavior as it gives a lot of flexibility.

[2013-11-20 19:31] harizvi commented on #323
fwiw, +1!

Will be good to get this ability.

[2013-11-20 19:45] ckruse commented on #78
Hey,

On 13/11/13 11:05, md143rbh7f wrote:

Please, don't. If you can't get slate working with the default OS X
spaces then talk to the TotalSpaces people, maybe they can provide an
API. But I don't think we need another pseudo-spaces implementation.

Best regards,
 Christian Kruse

[2013-11-25 14:40] michaelgruber commented on #304
Same problem here.

[2013-11-27 05:35] alswl opened #370 "Any way to control mouse pointer."
Now I can use `focus` `throw` to control window / desktop, but I still cannot use any function to control mouse.
Is there any way to control mouse pointer?

[2013-11-27 05:45] harizvi commented on #370
Not through slate, but you can shell out and use cliclick which is a useful utility to simulate mouse movement and presses.

See http://www.bluem.net/en/mac/cliclick/

[2013-11-27 05:51] alswl commented on #370
Thanks, I try to use chain to call cliclick command after some key press.

[2013-11-27 06:22] alswl commented on #370
https://github.com/alswl/.oOo./commit/ee782efa0de30eedf6aada29d1364ca76fab808b
I use sequence to control my mouse. Thanks.

[2013-11-27 12:39] #370 closed, assigned to nobody

[2013-11-27 14:56] p0deje commented on #251
:+1: as having small icons + enabled spread + set to `0` `TopLeftX` and `TopLeftY` doesn't resolve the problem

![screen shot 2013-11-27 at 21 55 50](https://f.cloud.github.com/assets/665846/1632192/1ce66c1c-5774-11e3-996c-68683d0586b1.png)

[2013-12-01 06:29] jpsim commented on #77
I just sent a PR with this functionality. Config key:

`config menuBarIconHidden true`

Menu Item:

![image](https://f.cloud.github.com/assets/474794/1650016/c235ae32-5a51-11e3-8237-94a566e5a720.png)

[2013-12-06 14:01] eipark commented on #365
This is not only in Mavericks... this started showing up a few weeks ago for me once I upgraded versions.

[2013-12-06 17:34] ignaciovazquez commented on #365
Looks like it might be a problem with running apps not responding.

I've got Sublime Text 3, Vagrant (with VirtualBox), iTunes, Chrome, Mail, iTerm2 running usually.

[2013-12-11 11:54] rxw1 opened #372 "Calling function"
Why doesn't this work? (The config won't load.)

[code]

tia

[2013-12-11 15:44] qmarik opened #373 "add mouse moving functionality"
like http://ftnew.com/catchmouse.html

[2013-12-11 17:29] ravasthi opened #374 "Going back to 1-screen layout from 2 screens causes window resizing to overlap left/right dock"
This might be a different manifestation of #3. I have my dock and menu bar on the same screen in both layouts. My [slate config file](https://github.com/ravasthi/dotfiles/blob/master/slate), for reference. The switch I see this happening on most often is going from `work-2mon` to `laptop`. Is there something I'm doing wrong? Please advise. Thanks!

[2013-12-11 22:41] chuckg commented on #342
+1 verify this bug. Turning no `persist` for `windowHintsOrder` causes hints to only work once. Reloading/restarting Slate enables another single use. Disabling the `persist` option returns the behavior to normal.

@wwalker This has been a source of frustration for me from day one, thank you for pinpointing the exact problem so I can workaround my config and get back on track using the awesome sla

[2013-12-12 15:42] jpsim commented on #77
I don't usually recommend downloading executables from strangers (including myself), but if you can't wait, I've added a compiled version of my fix [here](https://github.com/jpsim/slate/releases/tag/v0.0.0).

I'd also like to know what @jigish thinks of this approach and why it hasn't received his attention yet :smile:.

[2013-12-12 17:19] cenkozan commented on #77
Thank you very much. But I think there is something wrong. When I start slate with "config menuBarIconHidden true", slate is not working. But when I start with the command commented, and choose hide from the menu, slate is working. Please can you take a look?

[2013-12-12 17:25] jpsim commented on #77
Works for me, not sure how to troubleshoot this either. Maybe paste your `.slate` config file here?

[2013-12-12 17:34] cenkozan commented on #77
Oh. Thank you. It's here:

config defaultToCurrentScreen true
config windowHintsShowIcons true
config windowHintsIgnoreHiddenWindows true
config windowHintsSpread true
config menuBarIconHidden true
bind e:cmd hint ASDFGHJKLQWERTYUIOPCVBN # use whatever keys you want
bind g:cmd grid padding:5 0:6,2 1:8,3

bind s:alt focus 'Safari'
bind o:alt focus 'Opera'
bind v:alt focus 'MacVim'
bind p:alt focus

[2013-12-12 18:03] jpsim commented on #77
Well, it's not an issue with your config file, as Slate starts hidden as provided, but by commenting `# config menuBarIconHidden true` it starts normally.

So it's an issue with how Slate is compiled. Please make sure you're running the correct build.

[2013-12-12 18:11] cenkozan commented on #77
There is some misunderstanding. What I mean is, slate starts hidden, but it's not working as in none of my keyboard shortcuts work when slate is started hidden.

[2013-12-12 18:30] hector commented on #77
I'm on OSX 10.9 and is working hidden properly for me, but at first it wasn't. I had to go to System Preferences > Security > Accessibility and disable and enable again Slate. It probably has something to do with the replacement of the app if you had it already. Hope it is this!

[2013-12-12 18:36] cenkozan commented on #77
Yes Hector, that's the issue. Thank both to you and to jpsim :)

[2013-12-13 15:14] hulufei commented on #365
Same problem here in Mavericks.

[2013-12-13 20:24] DeaconDesperado commented on #341
@philc :+1: , you accomplished this by making a layout called default?  I can't seem to bind to a key with this command:

[code]

Slate refuses to parse this and fails on `default`

[2013-12-14 02:11] keith commented on #368
Me too:

[code]

[2013-12-14 02:14] keith commented on #140
Seeing this unresponsiveness as well. Don't think App Nap has much to do with it since menu bar apps only get put into an App Nap state if the menu bar is hidden, via fullscreen mode or something (I believe)

[2013-12-15 16:13] jkarni commented on #365
Same here - Mavericks, Version 1.0 (1.0.25)

[2013-12-15 21:42] mengelbrecht commented on #365
Same here on Mavericks, but I had the problem on Mountain Lion too.

[2013-12-17 05:12] gvn opened #375 "F19 + Another Key combo randomly fails"
I use F19+KEY for switching between apps and it appears to be randomly failing. I can't figure out what the pattern is. I'm using OSX 10.9 and Slate 1.0.25. I have my caps lock key remapped to F19 via PCKeyboardHack.

Here's my [slate.js](https://github.com/gvn/dot-files/blob/master/slate.js) for reference.

[2013-12-17 19:17] harizvi commented on #375
Just confirming that I have seen similar random behaviour. I have followed the recipe at [space cadet page](http://stevelosh.com/blog/2012/10/a-modern-space-cadet/#pckeyboardhack) to remap l_ctrl to cmd+ctrl+shift+opt, and then use it to open / focus apps, similar to yours.

[2013-12-18 14:27] keithamus opened #376 "Crashes"
I'm getting occasional crashes with the app, [with this JS config](https://github.com/keithamus/dotfiles/blob/a63a92b1fff0316b3f4474e973b56423b3b9d7b4/slate.js).

Here is the crash log:

[code]

[2013-12-18 14:27] keithamus commented on #376
and here is another:

[code]

[2013-12-18 17:41] ianjevans commented on #195
+1 to the above comment by klokie. It was extremely frustrating to not have keyboard shortcuts of option-left/right when using a web browser, and the documentation makes no mention of this. I'm surprised that the default keybindings in Slate override the default keybindings in OS X.

[2013-12-19 05:41] camagu commented on #321
+1 Seems XQuartz windows are not affected by slate at all.

[2013-12-20 08:08] chdiza commented on #365
I am not experiencing this on Mavericks (or Mountain Lion, for that matter).

[2013-12-27 20:53] tylerholien opened #377 "Window hints do not work for focusing full-screen windows"
Mavericks allows users with multiple monitors to have apps run in full screen mode on each display. When multiple windows of the same application are open and one of those windows is in full screen mode on one display, trying to focus the full screen window when focus is currently on a different application focuses the last focused window of that application. For example:
- with two displays (D1 &

[2013-12-27 21:01] iakshay opened #378 "Menubar icon is visible on Launchpad"
Screenshot - http://d.pr/i/EqwW

I have 5 Menubar apps, and only icon of slate is visible on Launchpad. I'd think this is a bug

P.S - Any option to run slate in background (hide icon from menubar).

[2013-12-27 21:26] tylerholien commented on #377
Looks like it doesn't matter if the other window is full screen, just that it's on a different display.

[2013-12-27 22:22] tylerholien commented on #377
Turning off the "Displays have separate Spaces" setting under "System Prefs -> Mission Control" fixes this.

[2013-12-28 10:29] p0deje commented on #378
There is no such option afaik.

Also, my Launchpad doesn't show icon.

[2013-12-29 14:32] logicbomb opened #379 "Is slate still under active development?"
Issues are being opened but there hasn't been any commits in a while.   The tool is awesome, are updates planned?

[2013-12-29 15:54] p0deje commented on #379
:+1: to know the answer

[2013-12-30 23:41] willsp commented on #378
My launchpad shows it... running mavericks. I just stuff it into a folder with all the system tools...

[2014-01-03 19:44] creese opened #380 "Windows Shifts When in Full Screen"
When I'm in full screen, the window shifts down by the amount of the menu bar. This happens without warning and only when in full screen.

[2014-01-06 02:11] gvn commented on #365
I'm also having this problem. Mavericks + 1.0.25

[2014-01-06 11:55] jkarni commented on #365
Moving the slate plist file (e.g. `mv ~/Library/Preferences/com.slate.Slate.plist ~/`) seems to have fixed the issue for me (though it's only been an hour).

This might be an issue with Sparkle.

[2014-01-08 19:24] jasongroulx commented on #365
I'm also having this problem

[2014-01-09 22:02] jedahan commented on #361
I would love this to work for events like dragging a window to either side of the screen, like in http://www.irradiatedsoftware.com/cinch/

[2014-01-10 04:43] jeberly commented on #379
i guess not....

[2014-01-10 07:03] cenkozan commented on #379
You can pull the improvements you like, repackage it in Xcode, and overwrite Slate. That's what I've been doing lately.

[2014-01-10 08:41] p0deje commented on #379
At least at would be great to have these improvements in a single repo, not in multiple forks.

[2014-01-10 08:50] rauberdaniel commented on #304
I’m having the same issue.

[2014-01-13 20:34] sergiotapia opened #381 "How do you actually use this?"
I've tried reading the documentation but it's very overwhelming. I really don't care for elaborate configs and whatnot. I just want to be able to size windows 50%50% side by side using keystrokes similar to Windows 8.

Can anyone give a hand? This is really user unfriendly. :(

[2014-01-13 20:38] JolinM commented on #381
In my opinion, what make the beauty of slate is it's complexity. If you want something simpler.
[ShiftIt](https://github.com/fikovnik/ShiftIt) seams to be a popular free alternative.
Otherwise, go have a look at these lists, there's a great diversity there!
http://apple.stackexchange.com/questions/9426/snap-feature-for-mac
http://apple.stackexchange.com/questions/9659/what-window-management-option

[2014-01-16 07:18] NigelKibodeaux commented on #304
Hmm, I tried again after updating to Mavericks and it seems to be working now.

[2014-01-23 16:27] dsummersl commented on #379
amen - and more specifically, I'd be willing to spend a little time to help. Anybody know the fixes worth merging (all outstanding requests?).

[2014-01-29 14:27] jevy commented on #379
+1

[2014-01-30 01:50] iinozemtsev commented on #365
I'm also having this problem. Mavericks, Slate 1.0.25, moving slate.plist did not help. It was working great for a while after upgrade, but few days ago suddenly started hanging

EDIT: looks like in my case the problem was in non-responding app, once I killed that, everything works great

[2014-02-02 07:51] nudefireninja opened #382 "Modifiers in modal mode"
I'd like to be able to use keys with modifiers in modal mode.

For example:

CTRL+CMD+UP to activate modal mode, then...
CMD+LEFT to do a push operation

Then Slate could be a total replacement for MercuryMover.

For reference, here is MercuryMover's preference pane:
![screen shot 2014-02-02 at 7 39 46 am](https://f.cloud.github.com/assets/6565746/2059855/92baabc2-8bdd-11e3-93db-5597561442eb.png)

[2014-02-02 08:56] p0deje commented on #379
@dsummersl I guess so. Looking forward to see your fork!

[2014-02-03 18:59] jaseemabid commented on #381
The README clearly lacks a 'getting started with slate'. I am very familiar with tiling window managers and needed an alternative to the amazing i3 when I moved to mac from linux for a while.

I installed it, fixed system preferences etc. Now tell me how I can quickly do something rather than make me read a exceptionally long README. Who reads an entire manual before trying out something? Its absu

[2014-02-03 19:02] sergiotapia commented on #381
I agree, believe me if I had the time I would read up on it, use it, and write a get started guide but as it is I don't have the time to invest at the moment. I went with Spectacle, which does what I want intuitively. http://spectacleapp.com/

[2014-02-03 19:04] adam-jensen commented on #381
Stanford computer science student, no idea how to use this thing.

[2014-02-03 19:08] jaseemabid commented on #381
@adam-jensen  LOL :)

The default mac window manager is unbelievably fucked up compared to the amazing options you have on linux like awesome, i3, xmonad, dwm and rat poison. Clearly lacks a decent tiling window manager. Time to move on :)

[2014-02-03 19:08] JolinM commented on #381
These two examples are quite interesting to understand how the system works. Take a look at their config files. It's a good way to get started!

[using slate](http://thume.ca/howto/2012/11/19/using-slate/)
[simple slate configuration](http://larryhynes.net/2013/11/simple-slate-configuration.html)

[2014-02-03 19:19] jaseemabid commented on #381
@JolinM You are completely missing the point. Please have a look at i3 doc[1]. It tells you how you can do _something_ with it without reading the entire manual. I want to see it in action before I commit the time, and so will be the mentality of majority of the users.

And _I_ belong to the category of programmers who tweak tools a lot!  I have tracked my dotfiles for over 2 years[2], have read t

[2014-02-03 19:21] sergiotapia commented on #381
:+1:

[2014-02-03 19:24] JolinM commented on #381
Got it.
This would indeed be a great addition.

[2014-02-03 19:27] drgrib commented on #70
This is happening again in 1.0.25. Slate only uses the hardcoded QWERTY key for window hints and ignores that I am in Dvorak.

[2014-02-03 19:28] jaseemabid commented on #381
This is what's coming to my mind now.
![Learning curve](http://i.stack.imgur.com/7Cu9Z.jpg)

This is how I would describe slate

[code]

[2014-02-03 19:55] harizvi commented on #381
You mean something like here:
https://github.com/jigish/slate/wiki/JavaScript-Configs

It tells you how you can do something pretty crazy with slate, without making you read the whole manual first.

[2014-02-03 20:03] jaseemabid commented on #381
@harizvi No! That tutorial tells me I can copy some js to a config file and make `Ctrl+1` do something  almost useless.

Ok, let me rephrase it.
1. I don't want to configure slate before I use it for a while and get the hang of it => Manuals for an app before you do something with it is utter useless.
2. What can it do _OUT OF THE BOX_ ?
3. Is there one key binding like 'Ctrl+Command+j+k` to make

[2014-02-03 20:05] sergiotapia commented on #381
KEY KEY KEY!

This needs to be put front and center in the README.

[2014-02-03 20:40] ranman commented on #381
"how I can quickly do something rather than make me read a exceptionally long README"
...
Time to complain about this in an issue but not enough time to read the README or even better since it's an open source project... contribute to the README? _smh_

[2014-02-04 01:00] andrew-hill commented on #380
Not sure if this is the same issue, but if I have an app in OS X's full-screen mode and press the shortcut to resize the window to the 'full screen' (excluding the menubar) it will shift the window down, as described above. This only happens (for me) if I push the short-cut, but I feel the action should be disabled for windows in full-screen mode, since it can only do bad things.

[2014-02-04 05:09] jaseemabid commented on #381
@ranman Just like @sergiotapia said, I'd love to write a quick intro _after_ I get this working for me nicely.

The general idea about README is to give a quick overview, and you can move all configuration to a wiki or another file to make life easy for users. Please assume you know **nothing** about slate or a while and read it again, and tell me its any good for a first timer.

[2014-02-04 05:27] ranman commented on #381
Just gave it a once over with your advice. I see your point :+1:, my apologies!

I think I've just become an elitist programming snob after trying to parse all of these opaque and ancient linux man pages. Compared to those this README is golden.

I'll get to work on a PR that has a quick-start in the README. Although... it looks like this project hasn't been actively developed in quite a while :-1

[2014-02-04 05:32] jaseemabid commented on #381
@ranman No worries man, I was a bit pissed off too last night when I wrote that :/ I got here from a window manager comparison[2] on slant.co. I'll be spending sometime on this later today. Will see how the docs can be improved.
1. http://www.slant.co/topics/526/~what-is-the-best-window-manager-for-mac

[2014-02-04 13:03] sergiotapia commented on #381
Thanks a bunch for donating your time @ranman , we all appreciate it! :)

[2014-02-04 13:13] ky1ejs commented on #381
I'm a 1st year Software Engineering student from London and have been slowly getting to grips with Slate (quite comfortable with it now) over the past few weeks. I've been playing around with the idea of writing a blog post for new developers and perhaps even a new project to create a UI for slate to make it easy to configure. @jaseemabid  since you're so keen to see something like this, maybe you

[2014-02-05 17:39] jaseemabid commented on #381
@kylejm Mac is not my primary dev platform, and I'm soon switching back to linux. I wont be using slate much

[2014-02-05 21:49] sdegutis commented on #379
I [forked it](https://github.com/sdegutis/phoenix) (actually a fork of my original Slate fork), improved the performance, rewrote the JavaScript bridge, removed some APIs, and simplified some other APIs.

[2014-02-05 22:17] sebald commented on #379
@sdegutis does Phoenix also support the display detection like slate?

[2014-02-05 22:21] sdegutis commented on #379
@sebald It has functions to know what screen (aka. display or monitor) a given window is on, and to move it to a given screen. Is that what you mean?

[2014-02-05 22:50] sdegutis commented on #379
By the way @sebald, I just added documentation for Phoenix, which might help answer your question:

https://github.com/sdegutis/Phoenix/wiki/JavaScript-API-documentation

[2014-02-05 22:56] sebald commented on #379
@sdegutis  Thx for the fast reply and the docu :) really appeaciate it.

I am actually just looking for something that restores my windows to its previous or a predefined state depending on the monitor they are. It super annoying when I unplug my thunderbolt display...

[2014-02-05 23:00] harizvi commented on #379
Should I expect my current .slate.js to work as is with Phoenix, or will I need various changes?

[2014-02-05 23:03] sdegutis commented on #379
@harizvi No, the API has been changed to enable performance increases and clean documentation enough to the point where it is not backwards compatible anymore. However, it should be a straightforward-enough API to be able to rewrite your config in a few minutes. Just be sure to check the docs to make sure it has all the functionality you need! Some Slate features were dropped in my fork, although

[2014-02-05 23:40] logicbomb commented on #379
Good work!  What are your plans w/r/t spaces support - specifically sending
windows to their own space? And moving windows from spaces by hotkey?
On Feb 5, 2014 6:03 PM, "Steven Degutis" notifications@github.com wrote:

[2014-02-05 23:43] sdegutis commented on #379
@logicbomb See this issue: https://github.com/sdegutis/Phoenix/issues/6

[2014-02-06 21:02] jgerman-mm opened #383 "How does slate determine first window, second window, etc"
I have the following layout defined:

config layoutFocusOnActivate true
layout develop 'iTerm' ${lefthalf} | ${topright} | ${bottomright}

It works correctly, placing a terminal on the left half and splitting the right half vertically into two terminals. The issue is every time I activate this layout the window that was on the left and the window on the bottom right switch back and forth.

The beh

[2014-02-07 07:24] alswl commented on #334
+1

Now I use

[code]

[2014-02-08 21:31] mrooney commented on #78
:+1: Yeah, this would be awesome to see; it is the only thing I need SizeUp for currently. It must be possible since SizeUp can move windows to the next and previous space in 10.5+ including 10.8/9. Even if it requires a private / undocumented API which could stop working at some future time, that seems better than not working at all presently :)

[2014-02-10 15:16] dmgerman opened #384 "question about how to get an string as input"
is there a way to accept a string as input?

Ideally I would like to be able to jump to a window based on a regular expression: press key, accept string, return, jump to window that matches expression.

Would this be possible?

thank you for a great piece of software,

--dmg

[2014-02-15 06:28] calvinwyoung commented on #276
Bump? Any plans to implement this?  I'd love something _like_ this primarily to toggle focus back and forth between windows.

[2014-02-15 19:53] wkf commented on #70
@drgrib have you tried adding `config keyboardLayout dvorak` to your slate config?

[2014-02-15 20:54] drgrib commented on #70
@wkf Yes, I discovered that setting in another thread and it worked. Thanks for putting it in this one for posterity.

[2014-02-17 19:29] keith commented on #359
:+1: no app bias

[2014-02-17 21:08] keith commented on #379
:+1: for [Phoenix](https://github.com/sdegutis/Phoenix) slightly different config, haven't seen any issues yet[*](https://github.com/sdegutis/Phoenix/issues/11).

[2014-02-17 21:09] sdegutis commented on #379
@Keithbsmiley Well, except the one you filed ;)

[2014-02-17 21:11] sdegutis commented on #379
@Keithbsmiley Thanks for putting your config file [here in your repo](https://github.com/Keithbsmiley/dotfiles/blob/496c1009c1f8cc28d53f40d40abf4060a69cedb5/phoenix.js) for us to read and steal from :)

[2014-02-17 21:13] keith commented on #379
:+1: ported from my [slate config](https://github.com/Keithbsmiley/dotfiles/blob/master/slate.js)

[2014-02-19 05:47] ProLoser commented on #381
If you guys don't feel like figuring it out yourself, you should use mine: https://github.com/ProLoser/reslate

copy this folder to `~/.reslate` and copy `slate.example.js` to ~/.slate.js`

I am still working on features, but for now you can do <kbd>ctrl</kbd>+<kbd>option</kbd>+<kbd>command</kbd>+<kbd>arrows</kbd> (or <kbd>J</kbd><kbd>K</kbd><kbd>L</kbd><kbd>I</kbd>) to move windows around and acr

[2014-02-21 17:20] ghost opened #385 "complex expression not working"
I am trying to use a a little complex expression with move operation which is not producing the result I want. Here is the expression.

min({3_screenSizeX/4, ceiling(4_windowTopLeftX/screenSizeX)})

I have tested the equation in MS Excel with different parameters and it does what it is supposed to do. Is there any problem with the syntax of the expression?

[2014-02-21 18:51] jerrysxu commented on #365
Same here.  Since upgraded to Mavericks, Slate has been very slow.  I don't have any non-responding app.

[2014-02-24 19:23] RyanBalfanz commented on #365
FWIW, I'm not experiencing this.

[2014-02-24 19:25] RyanBalfanz commented on #381
If it help: https://github.com/RyanBalfanz/dotfiles/blob/master/slate.js

[2014-03-01 07:09] abhishekmukherg commented on #140
@Keithbsmiley I don't think Slate is being app nap'd but that Slate freezes when _other_ apps are getting nap'd

[2014-03-01 15:50] keith commented on #140
@linkinpark342 gotcha yea that makes more sense. [Phoenix](https://github.com/sdegutis/Phoenix) does not have this issue thankfully.

[2014-03-04 17:47] gerritgriebel opened #386 "Slate crashes on"
This is what I get when trying to start slate after 2nd 10.9.2 update which is version "OS X 10.9.2 (13C64)". After first 10.9.2 update slate was still working.

[code]

[2014-03-08 17:20] wincent commented on #359
This looks like a likely dupe of issue #140.

[2014-03-08 18:57] tinmarks opened #388 "Shell command is invoked, Slate always crashes"
All shell commands keep on crashing when invoked via shortcut -- even as simple as `bind t:alt;ctrl shell path:~/ 'echo'`
Same happens when no path is provided.

I get popup saying `NSInvalidArgumentException, launch path not accessible`

[2014-03-08 19:30] slumos commented on #336
I just installed Slate hoping it would be able to do this.  Every time I plug in my large display I have to switch around to all my apps taking them out of fullscreen mode, and then put them all back into it when I unplug.

[2014-03-08 21:12] #388 closed, assigned to nobody

[2014-03-09 06:02] wincent commented on #365
I think this is likely a dupe of issue #140.

[2014-03-16 01:37] yacoob opened #389 "Please add keyboard navigation to grid"
Can you please add a keyboard navigation for grid? Once grid is on screen, I should be able to use cursors to move a selection, select "top-left" position by pressing space, move to different section of the grid and select "bottom-right" position by pressing space again. That's how Moom does it - and I admit I miss it from Moom :D

[2014-03-17 21:40] sprig commented on #78
Hello,

@ckruse, I disagree with you for the following reasons:
0. Such a feature would be useful in general as you would not be reliant on the whims of Apple in regards to what UI they decide next is best for you (me).
1. TotalSpaces is neither free nor open source, with all this entails, so it would be great to have this functionality in an open source program.
2. Imho slate, being as far as it

[2014-03-20 16:56] fent commented on #304
Having the same issue. I'm on Mavericks.

[2014-03-20 17:20] loshlee commented on #304
Is the "Displays have separate Spaces" setting in the Mission Control prefpane a possible workaround? It turns off multiple menu bars, right (I only have 1 display)?

[2014-03-31 09:53] norswap opened #390 "Home row "delete""
The "delete" key in my home row is not in the list of allowed keys. My keyboard layout is Belgian, but this seems to apply to all keyboards layouts which have a delete key in the home row.

Fixed by adding the following to `ASCIIToCode.plist`:

[code]

[2014-03-31 12:01] norswap commented on #390
Actually, there's already a fix here: https://github.com/jigish/slate/pull/351

[2014-03-31 12:04] norswap opened #391 "Problems when trying to grow a window aligned to the right or bottom in the opposite direction"
In the default `.slate` file, there is:

[code]

There are a couple issues with those lines. The problem seems to be that the
window tries to resize before moving, and OSX prevents them from overflowing on
the right or bottom of the screen (only when resizing, nudging works fine). This
means that if the right edge of your window touches the right edge of the
screen, the first line will not work. I

[2014-03-31 12:09] norswap commented on #379
Does someone has a Phoenix translation of the default slate config?
Also, is there a default Phoenix config somewhere?

[2014-03-31 13:30] keith commented on #379
Here's my [phoenix conf](https://github.com/Keithbsmiley/dotfiles/blob/master/phoenix.js) from my [slate conf](https://github.com/Keithbsmiley/dotfiles/blob/master/slate.js)

[2014-03-31 13:30] keith commented on #379
Here's [a list of example configs](https://github.com/sdegutis/Phoenix/wiki)

[2014-04-02 03:37] zfdang commented on #140
I've experienced the same issue today. even I killed slate and started it again, the problem still exists. not sure what happened

[2014-04-02 04:01] ocehugo opened #392 "How to toggle window state"
Hello slaters,

quick question: there is any call to setup a toggle window state ? Say a maximize command that toggle the last window size/position when pressed again?

[2014-04-02 07:57] 3rd3 commented on #332
I’m looking forward to see this in a future version too.

[2014-04-02 14:41] harizvi commented on #392
There is an undo command, which can be used, e.g. one key to maximize, another to undo back to original state. In my experiments, undo doesn't work in a chain command, so you can't encode one key combo to do toggle.

[2014-04-02 16:17] wincent commented on #140
@zfdang In my experience it is always another non-responsive app that blocks Slate. (For me, it's often Chrome Canary, but it could be anything.)

If Slate "freezes", I switch the Activity Monitor, sort by Name, and look for the "(Not Responding)" app and kill it. Slate immediately gets better after that.

There are some apps which always claim to be "Not Responding", but you learn to ignore those

[2014-04-04 05:57] alswl commented on #365
+1, same problem.

[2014-04-04 17:25] jerrysxu commented on #365
Switched to https://github.com/sdegutis/Phoenix yesterday.  Works perfectly so far.

[2014-04-04 17:46] wincent commented on #365
Phoenix can't do all the things I want it to do (
https://github.com/wincent/wincent/blob/master/.slate.js), so I'm sticking
with Slate and just killing off misbehaved apps. It would be nice to figure
out where it's blocking though and fix it.

On Friday, April 4, 2014, Jerry Xu notifications@github.com wrote:

[2014-04-04 17:58] jerrysxu commented on #365
I can resize window, move around different monitors, launch/focus app/window, define layouts. Didn't try hide, but there is a api call for that. https://github.com/jerrysxu/jerrysxu.github.io/blob/master/dotfiles/phoenix.js

[2014-04-05 02:19] alswl commented on #365
@jerrysxu Phoenix looks better, and it can control Screen(Monitor).

[2014-04-10 21:08] kevinastone commented on #336
:+1:

[2014-04-11 10:45] thomaskern opened #396 "slate stopped working"
i cannot use slate these days because all i get when hovering over the icon in the menu bar is a beach ball.
console.app is quiet. keyboard shortcuts are not recognized and/or not executed on.

sometimes there are massive delays (think half a minute) between keyboard shortcuts if they are recognized for once. cpu usage is 0%. or it goes into a loop in which it repeats 2 keyboard shortcuts nonstop.

[2014-04-12 18:56] pfista commented on #396
I'm having similar issues, I believe since mavericks came out, or atleast 10.9.1

I'll execute one of my shortcuts to resize a window and nothing will happen.  Sometimes it will eventually resize after a delay.  Other times, if I hit my shortcut and nothing happens, I have found that hovering over the icon on the menu bar will then cause the window to be resized sooner. It's almost like mavericks

[2014-04-12 22:22] thomaskern commented on #396
I had no problems with mavericks/10.9.1 until two days ago and I have been running Mav for a while now.

[2014-04-14 22:21] chdiza commented on #396
I have had zero problems with any version of Mavericks.  I use the non-js config format.  I make it do the following actions: corner, push, nudge, move, shell.  It has never exhibited a delayed reaction, or failed to register an instruction.  I never do anything involving layouts or snapshots, so maybe that's the difference.

[2014-04-14 22:45] kenthauser commented on #396
I have had zero problems with Mavericks until the last few days. Now when I disconnect my thunderbolt display, slate still thinks it's there and my displays are not remapped.  Haven't change slate config in months.

[2014-04-15 10:09] thomaskern commented on #396
i use the non-js config and even with the default one, slate never really properly starts. i get the beach ball right away

[2014-04-15 11:09] fent commented on #396
I'm on 10.9.2 and it's still working fine. Using custom js file.

[2014-04-16 17:53] pfista commented on #396
I think this problem has already been discussed in #140. I've just been force quitting non-responsive apps and it has been fixing the problem. This obviously isn't the best solution thought.

[2014-04-17 10:11] abbood opened #397 "how to resize window to quarter screen width and height"
I'm using [slate](https://github.com/jigish/slate) as a window manager, and I would like to bind a certain key combo to automatically resize and position the window as follows
- window width and height will each be half the size of the screen
- the window will be positioned on exactly the top left corner of the screen

I tried this:

[code]

but it's not recognizing that expression.. any ideas?

[2014-04-17 14:39] loshlee commented on #397
If I understand correctly, this is what I would add to a slate configuration file to achieve that. It appears to do what you want even if it comprises the entire content of the slate configuration file.

alias lefthalf move screenOriginX;screenOriginY screenSizeX/2;screenSizeY
bind a:shift;alt;cmd ${lefthalf}

[2014-04-17 16:52] jgpawletko commented on #397
Here's a excerpt from my .slate file:
_aliases:_

[code]

I bind the aliases to the number pad.

_bindings:_

[code]

more here:
https://gist.github.com/jgpawletko/9527674

I hope this helps...

[2014-04-17 16:55] loshlee commented on #397
Ah, I see I ignored that the height needed to be half. Not the first time. Oh, well.

[2014-04-17 17:16] chrisburnor opened #398 "Hints with Window Titles"
Slate has the option to show icons with windowHintsShowIcons, but if there are a lot of windows of the same app, it can be hard to tell, say, which Chrome icon corresponds to which chrome window.  It would be good to have the option to display the window title too.

[2014-04-18 03:59] jojoyuji commented on #365
:+1:  Phoenix FTW! Much faster, switched and happy :dancers:

[2014-04-20 04:12] abbood opened #399 "app name with spaces within confuses slate script"
I use this script to basically resize each window of **TextEdit** to a quarter of the size of the screen.. then each window to a different corner of the screen (ie top left, top right, bottom left, bottom right):

[code]

This works perfectly fine.. however, If I put an application name with spaces within ie 'Google Chrome'.. then all the windows get piled up on the top left corner only..
any idea

[2014-04-23 20:28] mattes commented on #78
:+1:  for spaces support

[2014-04-24 00:17] mattes commented on #287
same issue here.

[2014-04-24 00:25] mattes commented on #379
so slate is dead? phoenix is the new slate?

[2014-04-24 00:27] dsummersl commented on #379
Wel...to be clear - slate still works fine. I switched to phoenix and now pheonix itself is looking for a maintainer. So.

[2014-04-24 01:01] keith commented on #379
I switched away from slate when it started freezing on a regular basis. Phoenix has been a lot more stable but YMMV. Also I'm planning on helping out with that open developer position. https://github.com/sdegutis/Phoenix/issues/28

[2014-04-28 01:35] ocehugo commented on #392
endup using a modification of #107 solution. If anybody was trying to do something with toggle this should help.

[2014-04-28 06:21] abbood commented on #397
answered [here](http://superuser.com/questions/743214/how-to-make-four-windows-of-the-same-app-fill-four-quadrants-of-a-screen-using-s)

[2014-04-28 06:21] #397 closed, assigned to nobody

[2014-04-30 09:50] drawxcards commented on #379
@cenkozan do you mind provide the steps for repackaging in xcode? kinda new in xcode here..Also I install slate via homebrew, does it matter at all?

[2014-04-30 10:29] cenkozan commented on #379
@gddabe You can use this http://stackoverflow.com/a/5579458 link to do what
you want.

On Wed, Apr 30, 2014 at 12:50 PM, gddabe notifications@github.com wrote:

[2014-05-01 14:51] muppetjones commented on #399
Make sure you're using the correct app name. For instance, I believe you would use 'Chrome' instead of 'Google Chrome'. Open the app and see what name is used in the menu bar; I'm sure there is some better way to get the name, but I'm not entirely sure where Slate pulls the name from.
I didn't look much at your script. I use the javascript version--it's amazing how much I already forgot about the

[2014-05-02 02:45] drawxcards commented on #379
@cenkozan thanks a lot, what I need to merge by myself is to fix the wrong name when taking snapshot jigish#393 . Now I've done it successfully.

[2014-05-02 17:57] d6e commented on #78
:+1: I'd be happy if I could just bind some keys to move a window from one space to the next.

[2014-05-02 19:01] tphalp commented on #381
@ProLoser and @RyanBalfanz - Thank you both.

[2014-05-02 19:03] ProLoser commented on #381
Mine needs a fair bit of work lately lol.

[2014-05-11 05:16] trusktr opened #400 "Replace system command+tab?"
Is it possible to replace the cmd+tab behavior of OS X with custom behavior using slate? If so, can you give an example?

[2014-05-12 02:59] bachue commented on #304
Having the same issue both on Mountain Lion and Mavericks

[2014-05-12 18:07] ZephArvanitis commented on #317
I'd second this one - I don't even know where to start looking to find info on how to customize it. @troxler Were you able to find any info elsewhere? I'm thinking a code spelunking expedition may be in order, and I'd appreciate any tips on where to start.

[2014-05-13 18:17] troxler commented on #317
@TashaArvanitis No, I did not look into this any further.

[2014-05-16 23:34] elads commented on #78
Definitely +1
Amazing work on Slate. I am late to the party but it is a pretty awesome tool so far.

The application "Stay" http://cordlessdog.com/stay/ does some of these things while working with Spaces. I set it up to see if it could handle saving window layouts that are activated by a change of Monitor connection. It did a pretty good job, and did work with Spaces. but unfortunately it was too

[2014-05-28 09:08] saftidashizzle commented on #162
+1 would really improve productivity

[2014-05-30 13:43] tmolleck opened #402 "Throw to monitor issue"
I have 3 displays counting the laptop screen. One screen to the left in Portrait mode. one landscape and then the laptop screen below the landscape and to the right of the portrait monitor. Looks like this. I also tried having the laptop display touch both the displays and that didn't work either.
![screen shot 2014-05-30 at 8 32 21 am](https://cloud.githubusercontent.com/assets/5115358/3131035/fe

[2014-05-30 20:02] mohitjain opened #403 "Provide simple guidelines to deploy on heroku"
Hey,

It will be great if you provide basic guidelines to deploy on heroku.

[2014-06-02 08:36] mertnuhoglu opened #404 "Windows switching keys problem in Turkish keyboard. Arbitrary keys instead of specified ones."
I use Turkish F keyboard.

[code]

Cmd+E opens the window icons with overlaid letters "ABC". But pressing the letters A,B, or C does not have any effect. Some other letters work instead of them. For example, the letter N works instead of C. N in Turkish keyboard is in the place of I in US English keyboard. C in Turkish keyboard is in the place of V in US English.

Using numbers instead of letters

[2014-06-02 08:56] mertnuhoglu commented on #404
Same problem occurs in other commands as well. For example:

[code]

Cmd+G doesn't work to focus iTerm but Cmd+R works. G in Turkish keyboard is in place of W in US keyboard, R is in place of U.

Same problem here:

[code]

Again, instead of Ctrl+G, Ctrl+R works to throw the window to next monitor.

[2014-06-03 04:05] csu opened #405 "Doesn't work on OS X 10.10 Yosemite"

[2014-06-03 13:48] apfritts commented on #405
Temporary workaround:

Go into System Preferences > Security & Privacy > Privacy. Select Accessibility from the side menu and remove "Slate" from the right pane. Close and re-open slate. In the right pane, re-enable Slate to have access to Accessibility features.

[2014-06-03 18:41] csu commented on #405
That worked! Thanks!

[2014-06-03 22:26] karitristan commented on #405
I appreciate the temporary workaround, thanks a lot. Totally made my mac usable again :)

[2014-06-04 20:20] Chandler commented on #353
+1 jkasuchi's answer fixed my problem

[2014-06-06 16:39] jpadvo commented on #345
I'm running into this as well.

[2014-06-06 16:46] jpadvo commented on #345
Okay, mine was just me being stupid, I had `hyper` stored in a variable in my `.slate.js`, and tried to bind something to `hyper + "s"`, which led to `:ctrl;shift;alt;cmds`.

So never mind on my account about that.

@harizvi: really easy way to alias that in javascript - just make it a variable and you can use it willy nilly after that:

[code]

[2014-06-06 23:27] harizvi commented on #345
Thanks @jpadvo for the tip. For now, I have moved onto Phoenix, since I hit some problems with Slate on Mavericks.

[2014-06-17 04:16] joanneschan opened #406 "Window Hints for Mission Control"
It would be great if the Window Hints worked while in Mission Control (All Windows For Current Application Mode).

[2014-06-26 14:37] ledbettj commented on #140
Just a note for anyone else that runs into this -- also check if you have any applications you've suspended from the shell (`C-z`) as it amounts to the same thing.

[2014-06-26 20:58] cosmith commented on #405
Thanks!

[2014-06-29 12:56] amaudy commented on #403
This is good idea. I want it too.
I don't know much about Ruby.
What I have to know if I want to make this feature happen?

[2014-06-29 13:00] stigkj commented on #403
Not sure I understand what you want here. Slate is a Mac application and not something that can be deployed to Heroku?

[2014-06-29 13:07] amaudy commented on #403
I try to deploy, here is error log.

[code]

I haven't use Ruby/Heroku for very long time. Let me try more.
I will keep you post.

[2014-06-29 13:22] amaudy commented on #403
Guys.

I really shy to say I comment at wrong project. I want to comment on https://github.com/tripit/slate

Sorry about that. ^^

[2014-06-29 20:14] tywtyw2002 opened #407 "How to let salte focus some windows then send some key?"
I would like to let slate work with select a tmux session and send some key to change tmux to different windows. Samilr like `keymando`.

such as:
1. bind `CTRL+ALT+X` to this flow.
2. focus `iTerm2` windows.
3. move `iTerm2` to the center of screen.
4. send `CTRL+A`, `1` to the `iTerm2`.

The flow that I listed on the top, I only know how to write the config with step 1 and 3. However, the step 2

[2014-07-07 00:27] leonleon77 opened #410 "saving z-order of windows when taking a snapshot"
When taking a snapshot of windows positions/layout, is it possible to also save their z-order (which window is a the most foreground, which window overlaps on top of another window, etc.) so that the "depth stack" of windows layout is also saved?

[2014-07-10 09:34] jurb commented on #182
+1, anyone knows a way how to do this currently?

[2014-07-10 19:01] mkhettry opened #411 "Freezes on 10.9"
Trying to run with no customization.

Start slate, give it the ability to control the computer. I see the icon on the toolbar, but when I do a simple operation (Alt ->), slate seems to freeze. Window doesn't resize by 10% like I'd expect. Activity monitor says Slate is not responding.

[2014-07-15 17:32] am commented on #336
I think we all agree on that, it's time to move-on and make a PR :sweat_smile:

[2014-07-16 07:37] zakishaheen opened #412 "Different behavior when launching from command line"
Here is my config file.

https://github.com/zakishaheen/dotfiles/blob/master/slate.js

When I load Slate.app from Alfred it gives me

[code]

if I skip it, I get

[code]

However, if I fire up the shell, and just run the command directly from

[code]

Also, after the initial faliure from launching thru alfred, doing "relaunch and reload config" seems to fix it.

[2014-07-17 02:03] franzwr commented on #78
People,

I've just discovered Slate and love it, but can't stand moving my windows around spaces manually! So I've created a workaround hack using the [Cliclick](https://github.com/BlueM/cliclick) tool, which can send keyboard and mouse input to OS X from the command line. You can install it using Homebrew: `brew install cliclick`. The point is to emulate clicking the title bar and pressing Cmd-ar

[2014-07-17 13:10] mattr- commented on #78
I started looking into adding Spaces support for Slate last night. Looks doable but I need some more time to figure it out.

On Wed, Jul 16, 2014 at 9:03 PM, franzwr notifications@github.com wrote:

[2014-07-18 20:24] sdegutis commented on #78
The discussion here may help: sdegutis/hydra#116

[2014-07-18 20:26] sdegutis commented on #336
This commit may help: sdegutis/hydra@64353f2d83116dc8a7788f432dec185f9c39a594

[2014-07-18 20:41] wamatt commented on #78
@sdegutis looks good but also hacky. I'm curious though, is using a private api that bad?

[2014-07-18 20:44] ianyh commented on #78
It's a trade off. I originally came up with the non-private API method for moving windows between spaces because I wanted to be able to submit to the Mac AppStore. If you don't care about doing that then the only reason to not use private APIs is fragility. You run the risk of having the re-reverse engineer the private APIs all over again every time a new version of OS X is released.

[2014-07-18 20:45] sdegutis commented on #78
@wamatt Good point. I like using private APIs personally, because they're generally more reliable within a single OS X version. In fact I think I'll look at what osxmonad does.

[2014-07-18 20:46] sdegutis commented on #78
@ianyh I don't think the Mac App Store accepts apps that require accessibility anyway (I know Divvy was grandfathered in).

[2014-07-18 20:58] ianyh commented on #78
@sdegutis Huh. That is an interesting data point, but I have actually already moved towards using private APIs in Amethyst and given up on being in the AppStore. There's just not enough public API support for window management.

[2014-07-18 21:04] sdegutis commented on #78
@ianyh yep; a few days ago I started just using private APIs like crazy in Hydra. On the bright side, they actually work :D (at least in 10.9, we'll see about 10.10)

[2014-07-22 18:52] keith commented on #140
There hasn't been a commit on slate since February 2013. I, and seemingly many others, have moved to https://github.com/sdegutis/hydra

[2014-07-22 21:30] sdegutis commented on #78
Further discussion with @puffnfresh suggests that the existing private APIs worked on 10.8 but broke on 10.9...

[2014-07-22 21:54] sdegutis commented on #140
We had this same issue in Hydra, but fixed it by using a private API. A cleaner way is probably just to set a timeout on the AX operations.

[2014-07-22 21:55] sdegutis commented on #140
@jigish You might find [this function](https://github.com/sdegutis/hydra/blob/fb4ef150f827a5a78fa0b9ba7f75ac4e43d54860/Hydra/API/application.m#L154-L170) helpful in implementing this feature, if you're comfortable with using private APIs. Otherwise, [this public function](https://developer.apple.com/library/mac/documentation/ApplicationServices/Reference/AXUIElement_header_reference/Reference/refe

[2014-07-22 22:13] wincent commented on #140
Nice, @sdegutis. Hydra looks great, but I don't want to port my extensive Slate JS config to another program, so I might take a stab at this myself based on your tip.

[2014-07-22 22:15] sdegutis commented on #140
@wincent Glad I could help. And thanks.

[2014-07-22 23:07] sdegutis commented on #140
@wincent Is your config located somewhere online?

[2014-07-22 23:11] wincent commented on #140
@sdegutis https://github.com/wincent/wincent/blob/master/.slate.js

[2014-07-23 08:44] jaswrks commented on #410
+1 for this. I'd love to see this feature added. Even willing to donate to make it happen.

[2014-07-24 21:12] sdegutis commented on #140
@janaspage lol cool, glad to be of service, :thumbsup:

[2014-07-25 13:25] harizvi commented on #140
Steve, I have already moved to Hydra, but can I avail of this service :-)
I have (copied from somewhere) a cycleCalls function, which rotates a window's size/position amongst the settings. Is there a version of this for Hydra that you are aware of?
// cycles a window from half, 3/4ths, 2/3rds on the right side.
bind( 'right', mCmd, cycleCalls(
  toGrid,
  [
    [0.5, 0, 0.5, 1],
    [0.25, 0, 0.75

[2014-07-25 13:51] sdegutis commented on #140
@harizvi Can you open an issue in Hydra about this so we don't clutter this issue with unrelated discussion? Thanks!

[2014-07-25 20:20] mweibel commented on #405
thanks @apfritts

[2014-07-27 08:06] #386 closed, assigned to nobody

[2014-07-28 13:55] chandlervdw opened #415 "Enable native FullScreen mode"
I can't seem to find anything that allows for native FullScreen (⌘ + ctrl + F). Is this possible?

[2014-07-29 16:00] mweibel opened #416 "Requests to www.ninjamonkeysoftware.com"
Hi,

Little Snitch reported on Startup that Slate wants to connect to `www.ninjamonkeysoftware.com`.

Care to explain what's that about and what data is being sent?

[2014-07-29 16:02] mattr- commented on #416
It's to check for software updates, which the Sparkle framework handles for us.

On Tue, Jul 29, 2014 at 11:00 AM, Michael Weibel notifications@github.com
wrote:

[2014-07-29 16:03] mweibel commented on #416
Ah ok, thanks for the explanation.

[2014-07-29 16:03] #416 closed, assigned to nobody

[2014-07-31 03:06] mathias opened #417 "Shell doesn't seem to be a proper shell"
When I try to use a binding with a shell operation, I often get this error:
![slate](https://cloud.githubusercontent.com/assets/3340/3759505/7774d720-185f-11e4-88f7-c7c8c79d708a.png)

After doing some work to get the subshell to stick around and give me information about its env, it doesn't look like a proper subshell at all.

As a result, many commands that I could otherwise use in my bash shell

[2014-07-31 04:02] mattr- commented on #417
I haven't looked at this particular part of the code, but I'm pretty sure that the shell being used to execute these commands is a restricted subshell, meaning that it won't pull in any of your normal initialization files such as `.bashrc`, `.profile`, etc. The best way that I know of to address this at the moment is to create a script that you can call out to via a full path that is self-containe

[2014-08-05 13:09] mathias commented on #417
Sourcing a `.bashrc` or trying to set ENV vars still results in the above pop-up error. Any ideas?

[2014-08-05 13:10] mathias commented on #417
I should add that I've tried both absolute paths to the script I want to run as well as relative to the `~`.

[2014-08-06 16:55] chdiza commented on #417
Does your script contain calls to binaries without calling _their_ absolute paths?  I've found that to be the cause of some errors for me.  Slate's shell seems to have no $PATH at all, so it often has trouble finding binaries.

[2014-08-10 02:58] alanhorizon opened #418 "order of configs should not matter?"
Hi all, great tool here, but had to report this, because I struggled with it for about an hour, pretty frustrated when I found out what happened. Maybe this is already documented somewhere, but I clearly didn't read enough if it is.

Issue is basically, the following two configs do not do the same thing, even though I expected them to. The first one works, and allows hint icons to stack properly.

[2014-08-10 03:06] alanhorizon commented on #418
Yup, a case of RTFM on my part. I see the note on the readme now. I still think this is not-so-awesome behavior, but looks like I just had to find out the hard way. Thanks anyway. Hopefully someone will pick up maintenance for this project.

Cheers, and thanks for making such an awesome tool, I'm closing this.

[2014-08-10 03:06] #418 closed, assigned to nobody

[2014-08-13 19:33] mhartl commented on #195
I spent half an hour in a semi-panic about the lost keybindings (which I use hundreds of times an hour) before I realized Slate had broken Cmd-<arrow key>. I strongly recommend changing the current defaults.

[2014-08-19 12:35] AlexRiedler commented on #405
work around works still! awesome work finding that out

[2014-08-19 18:19] mathias commented on #361
:+1: for extra mouse button support. I stopped using BetterTouchTool in favor of Slate for window management because BetterTouchTool was getting flakey and seemed to be breaking many common app key combos for me.

[2014-08-20 22:17] OleMchls commented on #379
:+1: [Phoenix](https://github.com/sdegutis/Phoenix). But anyway, too bad that this kind of cool projects just got abandoned

[2014-08-23 17:13] trevordmiller opened #419 "Amazing work!"
Not really an issue. I just wanted to say that Slate is absolutely amazing. Great work!

[2014-08-24 22:09] kevinslin commented on #140
Like other's have mentioned, I'm having the same issue with Slate freezing intermittently on hung apps.  I see that there's a [pull request](https://github.com/jigish/slate/pull/414) to fix this issue. Don't see any blockers for merging it.

[2014-08-27 17:26] chdiza commented on #379
I find that [Mjolnir](https://github.com/mjolnir-io/mjolnir), the successor to Hydra and Phoenix, is now usable at least for moving windows around and running shell commands from a hotkey.

I really hope that Slate is not dead, because I'd prefer to stick with something that still serves me so well.  But I'm preemptively exploring Mjolnir and getting my Slate config ported just in case.

Know that

[2014-08-27 17:28] chdiza commented on #379
"Ported" is really far from the right word here, sorry.  I meant, "write in lua enough stuff so that Mjolnir can do all the things my Slate config enabled me to do".

[2014-08-27 19:53] mattr- commented on #379
I'm working on bringing Slate back to life, but it's slow-going since I'm not a hardcore Mac dev (yet?). I'll probably rename the app, and some of those other sorts of things, but if you'd like, you can follow along at [mattr-/slate](https://github.com/mattr-/slate)

[2014-08-27 19:57] sdegutis commented on #379
:+1:

[2014-08-28 05:55] shrwnsan commented on #379
:+1:

[2014-08-29 08:37] davidhubbard commented on #321
With .slate.js I can work around it. Install xdotool using MacPorts or Homebrew. I used Homebrew so it's in /usr/local/bin/xdotool.

[code]

[2014-09-01 21:45] mathias commented on #417
Sourcing `~/.bashrc` should fix the $PATH issue, I think.

One issue is that to use this on different machines, I can't hardcode the absolute path to my dotfile's scripts dir since it might live in a different user's home directory.

Oddly enough, a path like `~/bin/foo` does seem to work occasionally, provided that shell script doesn't try to shell out to anything else. Sourcing .bashrc and/or RV

[2014-09-02 23:32] wolfbiter commented on #78
+1 on wanting this feature

[2014-09-03 00:20] sdegutis commented on #419
:+1:

[2014-09-05 07:27] rewop commented on #304
I installed slate lately on my laptop. I have the same issue with the grid.

The grid appears to work only on the primary monitor. From the behaviour it looks like the grid on the second monitor has no focus, and the first time I click it, it gets focus without highlighting any box of the grid, the second time I click it, the grid get's highlighted but the application I want to rearrange loses foc

[2014-09-06 23:04] ehellman opened #420 "Grid does not understand that my menu bar is hidden"
Using either a SIMBL plugin or MenuAndDockless to hide my menu bar from certain applications, if I open up the slate grid and mark all cells to make the app full screen, it still leaves space at the top for the menu bar that is supposed to be there.

Applications such as Divvy account for things like these, but as we all know, Slate is far superior. Could anyone point out where in the source code

[2014-09-10 14:12] ohayon commented on #405
:+1:

[2014-09-10 14:44] mrardon commented on #405
:+1:

[2014-09-14 05:13] gsastry opened #421 "How can I get slate to distinguish between windows of the same application?"
In particular I'd like to have a Chrome window on the left part of my screen and a Chromium app window (or other Chrome window) in the right part of my screen. What's a good way to do this?

Thanks

[2014-09-19 17:16] mattr- commented on #421
You can do this with the new release of Slate I recently released ([available here](https://github.com/mattr-/slate/releases/tag/v1.1.0)), if you use the JS-based config file. It'll allow you to distinguish apps based on bundle identifiers. I'm going to assume that Chrome and Chromium have different bundle IDs so that you'll be able to distinguish between the two. See https://github.com/mattr-/sla

[2014-09-19 20:16] NateEag opened #422 "Add option to hide window hints for Docked windows?"
I use `config windowHintsIgnoreHiddenWindows false`.

If I minimize a window to the Dock while that setting is active and invoke window hints, I see a hint for that window, but selecting it doesn't focus the window.

So, maybe add an option to always hide window hints for minimized windows?

[2014-09-19 20:17] NateEag commented on #422
I could also imagine people wanting it to restore the window and focus it, but that's not the behavior I'd like - hence my request for an option.

[2014-09-23 01:11] joshkaplan opened #423 "window hints switching to wrong window"
How to reproduce:
I have 3 chrome windows open, one on each monitor.
On monitor 1, I'm currently in some other application, say MailPlane.
I use window hints, and select the chrome window on monitor 2.
The active window is the chrome window on MONITOR 1. It should of course be the selected chrome window on monitor 2.

[2014-09-28 16:16] ShL519 opened #424 "Slate on Mavericks doesn't work"
I had installed Slate,and created a ~/.slate.js file which is the same as Tristan Hume, and i had enable the accessibility... , however ,when i press the shortcut ,it seems that nothing happens even though i relaunch lots of times . Does anyone else get in the same situation? just want to know why :-)

[2014-09-30 15:55] landau commented on #424
Slate worked fine for me on Mavericks. However, I just upgraded to Yosemite beta and it doesn't work!

Scratch that: https://github.com/jigish/slate/issues/405

[2014-09-30 15:58] landau commented on #405
:+1:

[2014-10-01 07:54] danieldisu commented on #424
I've get it working ( with problems on restart... ):
-   Remove it from accessibility
-   Add it to accessibility and enable it
-   change the name of the .slate.js to slate_something.js
-   run slate
-   change the name back to .slate.js
-   reload slate conf in slate context menu

[2014-10-01 19:41] dasuchin commented on #424
I'm following this and using the config he shows, but it's not working: http://thume.ca/howto/2012/11/19/using-slate/

Do I have to do something different with hyper? I'm just leaving it as ctrl;shift;alt;cmd but none of the commands actually work.

[2014-10-02 14:11] johnthepink commented on #405
:+1:

[2014-10-02 22:17] ghost commented on #424
Hi guys, at first Slate didn't work for me and every time I restarted my macbook, it told me that I should enable Accessibility. Later, I unchecked and re-checked the Accessibility for Slate, restarted it and it worked! I hope it helps you.

[2014-10-03 06:48] ShL519 commented on #424
thanks.I change the .slate.js file to .slate and relaunch and reload configuration file.Finally it works. : )

[2014-10-03 06:48] #424 closed, assigned to nobody

[2014-10-05 16:52] neohunter opened #425 "\ key not supported?"
I've this key binding:

   bind :${hyper}       resize +5% +0

but its not working, is this made on purpose?

[2014-10-09 20:31] dluksza commented on #334
+1

[2014-10-15 07:23] yn5 commented on #78
I'm already completely in love with Slate but this little thing would make it absolutely perfect! So +1 for me as well.

[2014-10-15 20:24] dustinvtran opened #427 "Focus hidden applications"
Is there a way to focus applications that are minimized/hidden? The standard approach, e.g., assuming Calendar is hidden:

[code]

will not work. It'll display that the current targeted window is Calendar but the window does not actually appear.

For reference, [Mjolnir](https://github.com/sdegutis/mjolnir) can do this with `application:launchorfocus()`, although it's rather slow [[1]](https://git

[2014-10-17 03:22] dbarros commented on #405
I am not seeing Slate listed in the apps list under Security > Accessibility. It was there before upgrading to Mavericks.

[2014-10-17 04:12] dbarros commented on #405
A re-compile of Slate in Yosemite fixed this. Slate appeared back in the Accessibility app list.

[2014-10-17 08:47] julesmoretti opened #428 "OSX Yosemite Compatibility"
Hello, just upgraded from 10.9 and it seems to have stopped responding. Any advice? Thank you.

[2014-10-17 09:41] julesmoretti commented on #428
Just some more info, I tried with a .slate and just now .slate.js but that did not work either.

[2014-10-17 09:43] pedro-couto commented on #405
@apfritts thank you :)

[2014-10-17 10:21] Dayjo commented on #428
Same as that. If I Relaunch I get the following pop up;
![](http://cl.ly/image/161f1B2k033K/Image%202014-10-17%20at%2011.19.43%20am.png)

When I click 'Enable' it does nothing, however I already have it set up to allow accessibility;
![](http://cl.ly/image/1g1c1u1Z310t/Image%202014-10-17%20at%2011.21.04%20am.png)

## UPDATE

I closed Slate complete, deleted it from my Accessibility list, relaunche

[2014-10-17 10:23] mattdw commented on #428
All I needed to do to fix this problem was to uncheck it and then immediately recheck it (in the "accessibility" list.)

[2014-10-17 10:28] MuschPusch commented on #428
Thanks mattdw! That indeed works fine :)

[2014-10-17 12:41] vbfischer commented on #428
Uncheck/recheck did it for me too.  Thanks.

[2014-10-17 14:46] tsabat commented on #428
:+1:

[2014-10-17 16:43] julesmoretti commented on #428
You guys rule! Cheers and happy Slating!

[2014-10-17 16:43] #428 closed, assigned to nobody

[2014-10-17 17:01] aaronsmulktis commented on #405
worked! sweet

[2014-10-17 17:31] loshlee commented on #405
Funny. I didn't have to do anything to make it work after upgrading, It still worked. However, I don't keep it as a startup Item, I launch it manually each time depending on what presets I need (see my gist). I did apply all the Apple updates that were released yesterday to my Mavericks system before upgrading, in case that made a difference. But another unexpected occurrence was that I don't see

[2014-10-17 20:12] mannerisms commented on #405
Thanks!

Never 'really' realized how dependent I've become of Slate until now!

[2014-10-17 23:06] mhumeSF commented on #314
+1

I agree. I really like my modal key, but find myself getting stuck in a modal mode every once in a while.